/*Start PwC UI*/
.tab-header {
    display: block !important;
    position: absolute;
    top: -85px;
    color: gray;
    font-size: 20px;
    font-weight: normal;
	width: 100%;
}

.tab-header::after {
    content: "Selection Required*";
	color: red;
    font-size: 13px;
    float: right;
    margin-top: 5px;
}

/*.message.constraint-message {
    display: none;
}*/

.tab-left .tab-right .tab-text {
    background-color: #fff !important;
}

.tab-left .tab-right .tab-text:hover {
    background-color: #efefef !important;
	color: #4b4b4b !important;
}
.tab-left:hover .tab-text{
    background-color: #efefef !important;
	color: #4b4b4b !important;
}

.tab-text:hover{
    background-color: #efefef !important;
	color: #4b4b4b !important;
}
.tab-active .tab-left .tab-right .tab-text {
    background-color: #5b5b5b !important;
}

input[checked="checked"] + label {
    font-weight: bold !important;
}

.tab-strip .tab-left {
    background: #fff !important;
    padding-left: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.tab-strip .tab-left:hover {
    background-color: #efefef !important;
	color: #4b4b4b;
}

.tab-strip .tab-active a.tab-left, .tab-strip .tab-active a.tab-left .tab-inner {
    background-color: #5b5b5b !important;
}

.tab-content {
    padding: 3px;
    border-top: 0px solid #5b5b5b;
}

.tab-strip .tab-text {
    padding: 0px;
    font-size: 12px !important;
    font-weight: 600;
    background: transparent url() no-repeat right 0;
    padding-right: 25px;
	padding-left: 15px;
	color: red !important;

}

ul.tab-strip li {
    margin-right: 1px;
    border-style: solid;
    border-top-width: 7px;
    border-top-color: #cfcfcf;
	border-right-color: #cfcfcf !important;
	border-right-width: 1px;
}

.tab-strip .tab-active a.tab-left .tab-text {
    color: #FFF !important;
}

/*End PwC UI*/

/* Hide None from the below attributes for modular */
/*#selectControllerFromList_mod_, label[for = "selectControllerFromList_mod_"],*/
#wtyAndServPlan_pfks_, label[for = "wtyAndServPlan_pfks_"],
#chassisConfigurationType_mod_, label[for = "chassisConfigurationType_mod_"],
#controllerMemory_mod_, label[for = "controllerMemory_mod_"],
#controllerOperatingSystem_mod_, label[for = "controllerOperatingSystem_mod_"],
#vectorGeneratorCounter_mod, label[for = "vectorGeneratorCounter_mod"],
#vecctorSignalAnalyzerCounter_mod, label[for = "vecctorSignalAnalyzerCounter_mod"],
#digitalIOCounter_mod, label[for = "digitalIOCounter_mod"],
#digitalStimulusCounter_mod, label[for = "digitalStimulusCounter_mod"],
#vectorTransceiverCounter_mod, label[for = "vectorTransceiverCounter_mod"],
#frequencyReferenceCounter_mod, label[for = "frequencyReferenceCounter_mod"],
#digitalMMCounter_mod, label[for = "digitalMMCounter_mod"],
#vNASCounter_mod, label[for = "vNASCounter_mod"],
#vNARCounter_mod, label[for = "vNARCounter_mod"],
#networkAnzCounter_mod, label[for = "networkAnzCounter_mod"],
#cwSourceCounter_mod, label[for = "cwSourceCounter_mod"],
#pwrRelayCounter_mod, label[for = "pwrRelayCounter_mod"],
#multiplexerCounter_mod, label[for = "multiplexerCounter_mod"],
#converterCounter_mod, label[for = "converterCounter_mod"],
#digitizerCounter_mod, label[for = "digitizerCounter_mod"],
#daqCounter_mod, label[for = "daqCounter_mod"],
#analyzerCounter_mod, label[for = "analyzerCounter_mod"],
#arbCounter_mod, label[for = "arbCounter_mod"],
#attenuatorCounter_mod, label[for = "attenuatorCounter_mod"],
#switchCounter_mod, label[for = "switchCounter_mod"],
#vnaRFDisCounter_mod, label[for = "vnaRFDisCounter_mod"],
#vNACouplerCounter_mod, label[for = "vNACouplerCounter_mod"],
#vNASourceCounter_mod, label[for = "vNASourceCounter_mod"],
#oscilloscopeCounter_mod, label[for = "oscilloscopeCounter_mod"],
#fpgaMMCounter_mod, label[for = "fpgaMMCounter_mod"],
#bERTCounter_mod, label[for = "bERTCounter_mod"],
#dACCounter_mod, label[for = "dACCounter_mod"],
#logicAnzCounter_mod, label[for = "logicAnzCounter_mod"],
#protocolAnzCounter_mod, label[for = "protocolAnzCounter_mod"],
#specialProdCounter_mod, label[for = "specialProdCounter_mod"],
#selectedChassisCount_mod,label[for = "selectedChassisCount_mod"],
#mATLABBundle_N6171A_pfks_,label[for = "mATLABBundle_N6171A_pfks_"],
#selectAdapterFromList_mod_,label[for = "selectAdapterFromList_mod_"],
#softwareMedia_plBL_,label[for = "softwareMedia_plBL_"]
{
	display: none !important;
}
/* Hide Counter and their Field Container */
#attribute-selectedChassisCount_mod .attribute-field-container,
#attribute-selectedICCount_mod .attribute-field-container,
#attribute-completeConfiguration_mod .attribute-field-container,
#attribute-n7608BConstraintString_mod .attribute-field-container,
#attribute-n7621BConstraintString_mod .attribute-field-container,
#attribute-n7611BConstraintString_mod .attribute-field-container,
#attribute-n7610BConstraintString_mod .attribute-field-container,
#attribute-n7617BConstraintString_mod .attribute-field-container
{
	display:none;
}

/* Hide All Grids related to Application Type. show those conditionally */

.grid.grdAnz,.grid.grdARB,.grid.grdAttn,.grid.grdCnv,.grid.grdCWSrc,.grid.grdDAQ,.grid.grdDigIO,
.grid.grdDigMM,.grid.grdDigSm,.grid.grdDigitizer,.grid.grdFPGA,.grid.grdFreq,.grid.grdMultiplexer,
.grid.grdNetAnz,.grid.grdOsc,.grid.grdPwrRly,.grid.grdSpl,.grid.grdSwitch,.grid.grdVSAnz,.grid.grdVSGen,
.grid.grdVStran,.grid.grdVNACpl,.grid.grdVNARcv,.grid.grdVNARF,.grid.grdVNASrc,.grid.grdVNASyn,
.grid.grdBert,.grid.grdDAC,.grid.grdLogic,.grid.grdProtocol,
.grid.grdN6171A,.grid.grd89601B,.grid.grd89601BN,.grid.grdM9063A,.grid.grdM9064A,.grid.grdM9068A,.grid.grdM9071A,
.grid.grdM9072A,.grid.grdM9073A,.grid.grdM9076A,.grid.grdM9077A,.grid.grdM9079A,.grid.grdM9080B,.grid.grdM9081A,
.grid.grdM9082B,.grid.grdM9086A,.grid.grdM9099T,.grid.grdM9192A,.grid.grdM9193A,.grid.grdM9238A,.grid.grdM9560A,
.grid.grdM9950A,.grid.grdN7600B,.grid.grdN7601B,.grid.grdN7602B,.grid.grdN7605B,.grid.grdN7606B,.grid.grdN7607B,
.grid.grdN7608B,.grid.grdN7609B,.grid.grdN7610B,.grid.grdN7611B,.grid.grdN7612B,.grid.grdN7613A,.grid.grdN7614B,
.grid.grdN7615B,.grid.grdN7617B,.grid.grdN7620B,.grid.grdN7621B,.grid.grdN7623B,.grid.grdN7624B,.grid.grdN7625B,
.grid.grdN7649B,.grid.grdN7650B,.grid.grdN7660B,.grid.grdN9051B,.grid.grdN9060B,.grid.grdN9061A,.grid.grdN9062A,
.grid.grdN9063A,.grid.grdN9063C,.grid.grdN9064A,.grid.grdN9065B,.grid.grdN9067C,.grid.grdN9068A,.grid.grdN9068C,
.grid.grdN9069A,.grid.grdN9069C,.grid.grdN9071A,.grid.grdN9071C,.grid.grdN9072A,.grid.grdN9073A,.grid.grdN9073C,
.grid.grdN9074A,.grid.grdN9075A,.grid.grdN9076A,.grid.grdN9076A,.grid.grdN9077A,.grid.grdN9077C,.grid.grdN9079A,
.grid.grdN9079C,.grid.grdN9080B,.grid.grdN9080C,.grid.grdN9081A,.grid.grdN9081C,.grid.grdN9082B,.grid.grdN9082C,
.grid.grdN9083A,.grid.grdN9084C
{
	display: none
}

#ksPriceHTML, #ksPriceHTML1, #ksPriceHTML2, #ksPriceHTML3{
	font-size: 18px;
	font-weight: bold;
	color: black;
	padding-left: 40%;
}

#moduleArrayController_mod .array-add
{
	display:none;
}

/*css for modular work wrap in chassis HTML */
.td-chassis
{
	width: 20px;
	text-align: center;
	padding-left: 6px;
}

#word-wrap
{     
	width:10px;
	word-wrap: break-word;
	margin:0 auto;
}

#pipeline-viewer-opener{
	padding: 4px;
	display: none;
}
#pipeline-viewer-opener a{
	font-size: 12px;
}
.tab-strip .tab-right{
	padding: 0px;
}
ul.tab-strip li{
	margin-right: 1px;
	width: 12.9%;
	text-align: center;
}
.tab-strip li{
	padding: 0 0px;
}

.tab-strip .tab-inner {
    background: #6699CC url() repeat-x 0 0;
}
.tab-inner, .tab-right {
    padding-right: 0px;
}
.tab-strip a.tab-left {
    border-radius: 0 0 0 0;
}
.model-config .group-content .group-header span {
    font-weight: 600 !important;
}
.model-config .group-header {
    font-size: 13px !important;
    font-weight: 600 !important;
    line-height: 14px;
}
.group-header {
    background-color: #FFFFFF !important;
    padding: 6px;
    border-radius: 0px;
    font-weight: 600 !important;
}
.model-config .group-header:hover {
    color: #2A4BDA !important;
    background-color: rgba(204, 208, 228, 0.49) !important;
}
.model-config .group-content.collapsed .group-header span {
    font-weight: 600 !important;
}
.required .attribute-label, .attribute-label {
    font-size: 10pt !important;
}
.model-config .group-content .group-header span {
    padding-left: 18px;
    background: no-repeat 0 50%;	

}

.group-content.collapsed .group-header{
	background-color: #CFCFCF !important;
}
#navbar ul > li {
    margin: 3px 5px;
}
#active-constraints{
	display: none !important;
}
.tab-strip .tab-active a.tab-left .tab-text {
    color: #FFFFFF !important;
}
.model-config .group-header {
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
}

.adv-grid-header-cell.checkbox, .adv-grid-cell.checkbox,
.adv-grid-header-cell.part_number, /*.adv-grid-cell.part_number,*/
.adv-grid-header-cell.Quantity, /*.adv-grid-cell.Quantity, */
.adv-grid-header-cell.field2, .adv-grid-header-cell.field2.header, .adv-grid-cell.field2,
.adv-grid-header-cell.field3, .adv-grid-header-cell.field3.header, .adv-grid-cell.field3,
.adv-grid-header-cell.field4, .adv-grid-header-cell.field4.header, .adv-grid-cell.field4,
.adv-grid-header-cell.field5, .adv-grid-header-cell.field5.header, .adv-grid-cell.field5,
.adv-grid-header-cell.part_display_number, .adv-grid-header-cell.part_display_number.header, .adv-grid-cell.part_display_number,
.adv-grid-header-cell.description, .adv-grid-header-cell.Price,
.adv-grid-header-cell.company_associations, .adv-grid-header-cell.company_associations.header, .adv-grid-cell.company_associations,
.adv-grid-header-cell.field6, .adv-grid-header-cell.field6.header, .adv-grid-cell.field6,
.adv-grid-header-cell.field8, .adv-grid-header-cell.field8.header, .adv-grid-cell.field8,
.adv-grid-header-cell.field9, .adv-grid-header-cell.field9.header, .adv-grid-cell.field9,
.adv-grid-header-cell.field10, .adv-grid-header-cell.field10.header, .adv-grid-cell.field10,
.adv-grid-header-cell.field11, .adv-grid-header-cell.field11.header, .adv-grid-cell.field11,
.adv-grid-header-cell.field12, .adv-grid-header-cell.field12.header, .adv-grid-cell.field12,
.adv-grid-header-cell.field13, .adv-grid-header-cell.field13.header, .adv-grid-cell.field13,
.adv-grid-header-cell.field14, .adv-grid-header-cell.field14.header, .adv-grid-cell.field14,
.adv-grid-header-cell.field15, .adv-grid-header-cell.field15.header, .adv-grid-cell.field15,
.adv-grid-header-cell.field18, .adv-grid-header-cell.field18.header, .adv-grid-cell.field18,
.adv-grid-header-cell.field19, .adv-grid-header-cell.field19.header, .adv-grid-cell.field19,
.adv-grid-header-cell.field20, .adv-grid-header-cell.field20.header, .adv-grid-cell.field20,
.adv-grid-header-cell.field21, .adv-grid-header-cell.field21.header, .adv-grid-cell.field21,
.adv-grid-header-cell.field22, .adv-grid-header-cell.field22.header, .adv-grid-cell.field22,
.adv-grid-header-cell.field23, .adv-grid-header-cell.field23.header, .adv-grid-cell.field23,
.adv-grid-header-cell.field24, .adv-grid-header-cell.field24.header, .adv-grid-cell.field24,
.adv-grid-header-cell.field25, .adv-grid-header-cell.field25.header, .adv-grid-cell.field25,
.adv-grid-header-cell.field26, .adv-grid-header-cell.field26.header, .adv-grid-cell.field26,
.adv-grid-header-cell.field27, .adv-grid-header-cell.field27.header, .adv-grid-cell.field27,
.adv-grid-header-cell.field28, .adv-grid-header-cell.field28.header, .adv-grid-cell.field28,
.adv-grid-header-cell.field29, .adv-grid-header-cell.field29.header, .adv-grid-cell.field29,
.adv-grid-header-cell.field30, .adv-grid-header-cell.field30.header, .adv-grid-cell.field30
{
	display: none;
}

.adv-grid-row:hover{
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
	background-color: #F0F0F0 !important;
	font-weight: bold !important;
	color: black !important;
}
.adv-grid-row:hover .adv-grid-cell.Price{
	color: red !important;
}

div.main-model {
  display: none;
}

.view-text, .form-input, .form-input select, .form-input-modified, .form-input-selected, .form-input-mouseover, .form-item input, .form-item select, .form-item textarea, .form-item .menu-attr label, .attribute-field, .cfg-image-menu {
    font-size: 10pt;
 }
 
 .unreset {
    font-size: 10pt;
}

table.spare-grid td {
    font-size: 10pt;
}
.commerce-bordercolor, .commerce-bordercolor .topcolor, .admin-bordercolor, .admin-bordercolor .topcolor, .header-bordercolor, #main-nav, #sub-nav{
	border-bottom-color: #F0F0F0;
}
.commerce-bordercolor table{
	display: none;
}

.items-header{
	border: solid 0px #666 !important;
}
.view-header {
    background-color: #cfcfcf !important;
}
.items-table-content {
	border-width: 0 0 0 0 !important;
}
table.spare-grid th {
    border-right: #ccc solid 0px !important;
}
table.spare-grid td {
	border-right: #eee solid 0px !important;
}
td.adv-grid-cell {
    border-bottom: 0px solid #DDD !important;
}
.spare-grid {
    border-width: 0px !important;
}
table.spare-grid td {
    font-size: 12px !important;
}
.unreset h3 {
    margin: 0em 0 !important;
}
.array thead th {
    border-radius: 0px;
}
.required .attribute-label, .attribute-label {
    font-weight: bold !important;
}
.array .even td, .array .even th {
    background-color: RGBA(250, 250, 250, 1.0) !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #CFEFEF !important;
}
.array tr.even selected th, .array tr.even selected td {
    background-color: #CFEFEF !important;
}


label[for = "selectProductLines_pl4w_Select_Other_Products"]{
	font-weight: bold !important;
}
#config-header{
	display:none;
}

label[for = "selectProductLines_pl4w_No_Value"]{
	color:#FFFFFF !important;
}
#mandatory-parts-wrapper{
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
}
#pricing-table-wrapper{
/*   border-bottom: 1px solid #AAAAAA !important;*/
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
}
#grand-total-container{
	display: none;
}

.group-option:hover{
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
	background-color: #F8F8F8 !important;
	font-weight: bold !important;
}

.group-option {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
	width: 100%;
}
.read-only-html {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
}
.attribute-field-container {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
                font-size: 14px !important;
}
.tab-strip .tab-active a.tab-left .tab-text {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
}
#m9170AicArrayset_mod tr.messages:not(:nth-last-child(1)),
#y1240CableKitsArrayset_mod tr.messages:not(:nth-last-child(1)),
#y1283AConnectorsArrayset_mod tr.messages:not(:nth-last-child(1))
{
    display: none;
}
body.model-config {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  color: #343434 !important;
  line-height: 1.3 !important;
  font-size: 13px;
}
body.model-config td, body.model-config input {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 100%;
}
body.model-config div {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
}
body.model-config a:link {
  color: #e90029;
  cursor: pointer;
  text-decoration: none;
}
body.model-config a:visited {
  color: #891518;
}
body.model-config a:hover {
  text-decoration: underline;
}
body.model-config a:active {
  color: #e90029;
}
body.model-config .tab-header {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #555555;
}
body.model-config .tab-strip .tab-active a.tab-left .tab-text,
body.model-config .tab-strip .tab-text {
  color: #FFFFFF;
  font-weight: Bold;
  font-style: Normal;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px !important;
  text-decoration: none;
  line-height: normal;
  padding: 10px 20px !important;
  padding-top: 17px !important;
  border-top: 7px solid #dbdbdb;
  height: 23px;
}
body.model-config .tab-strip .tab-active a.tab-left .tab-text {
  border-top-color: #019642;
}
body.model-config a.tab-left:hover {
  text-decoration: none;
}
body.model-config .tab-strip .tab-left:hover {
  color: #343434;
}
body.model-config .tab-left:hover .tab-text {
  background-color: #f8f8f8 !important;
}
body.model-config .tab-left .tab-right .tab-text:hover {
  background-color: #f8f8f8 !important;
}
body.model-config .tab-strip .tab-left {
  padding: 0 0 0 10px !important;
  background: transparent;
}
body.model-config .tab-active .tab-left .tab-right .tab-text {
  background-color: #343434 !important;
}
body.model-config .tab-strip .tab-active a.tab-left, body.model-config .tab-strip .tab-active a.tab-left .tab-inner {
  background-color: transparent !important;
}
body.model-config .tab-content {
  border-top: 0;
  position: relative;
  top: 22px;
}
body.model-config ul.tab-strip li {
  border-top-width: 0;
  border-right-width: 0;
}
body.model-config ul.tab-strip li {
  margin-left: -10px;
}
body.model-config ul.tab-strip {
  height: 58px;
  overflow: hidden;
  width: 100%;
  border-left: 1px solid #9c9c9c;
}

body.model-config ul.tab-strip li a {  
  border-right: 1px solid #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
}
body.model-config ul.tab-strip li:hover.tab-active a,
body.model-config ul.tab-strip li.tab-active a {
  background-position: 0 -240px !important;
}
body.model-config ul.tab-strip li:hover a {
  background-position: 0 -60px !important;
}
body.model-config ul.tab-strip li a.tab-left:hover {
  background-color: transparent !important;
}
body.model-config ul.tab-strip {
  margin-top: 20px;
}
body.model-config .tab-header {
  top: -105px;
}
body.model-config .group-content {
  margin: 0;
}
body.model-config .group-inner,
body.model-config .group-header {
  margin: 0;
  border: 1px solid #9c9c9c !important;
  margin-bottom: -1px;
}
body.model-config .group-header {
  background-color: #f8f8f8 !important;
}
body.model-config .group-content.collapsed .group-header {
  background-color: #e8e8e8 !important;
}
body.model-config .group-content .group-header span {
  color: #343434;
  font-size: 13px;
}
body.model-config input[checked="checked"] + label {
  font-weight: normal !important;
}

body.model-config .view-text, body.model-config .form-input, body.model-config .form-input select, body.model-config .form-input-modified, body.model-config .form-input-selected, body.model-config .form-input-mouseover,
body.model-config .form-item input, body.model-config .form-item select, body.model-config .form-item textarea, body.model-config .form-item .menu-attr label,
body.model-config .attribute-field, body.model-config .attribute-field-picklist, body.model-config .cfg-image-menu, body.model-config cfg-image-picklist, body.model-config .ui-image-combobox-input {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #343434;
  font-weight: normal;
}
body.model-config .group-option:hover {
  border: 0 !important;
  background-color: transparent !important;
  font-weight: normal !important;
}
body.model-config .attribute-inner {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

body.model-config #attribute-sidebarHTML .attribute-inner {
  padding: 20px 15px 20px;
}
body.model-config .attribute-field-container > div > span,
body.model-config .attribute-field-container > div > div {
  padding-left: 20px; 
  width: auto !important;
  padding-bottom: 5px !important;
}
body.model-config .attribute-field-container > select {
  margin-left: 0px;
}
body.model-config .attribute-field-container > div#sidebarHTML > div {
  padding-left: 0;
}
body.model-config .read-only-html {
  font-size: 13px;
}
body.model-config .tab-header::after {
  font-style: italic;
}
/*body.model-config .group-content .group-header span {
  background-image: url("/bmfsweb/devkeysight/image/Icons/minus.png");
}
body.model-config .group-content.collapsed .group-header span {
  background-image: url("/bmfsweb/devkeysight/image/Icons/plus.png");
}*/
body.model-config #sidebarHTML h3 {
  font-size: 14px;
  margin-bottom: 20px !important;
  color: #555555;
}
body.model-config #sidebarHTML h4 {
  font-size: 12px;
  background-color: #f0f0f0 !important;
  padding: 5px 15px !important;
}
body.model-config .side-bar-content {
  border-color: #9c9c9c !important;
}
body.model-config .selectedConfigPrice {
  padding-left: 0;
  float: right;
}
body.model-config .adv-grid-row {
  border: 0 !important;
  border-bottom: 1px solid #dbdbdb !important;
}
body.model-config .adv-grid-row:hover {
  border-bottom: 1px solid #dbdbdb !important;
  background: transparent !important;
  font-weight: normal !important;
  color: #343434 !important;
}

body.model-config .adv-grid-row td {
  padding: 15px 3px;
}
body.model-config .adv-grid-row:hover .adv-grid-cell.Price {
  color: #343434 !important;
}
body.model-config .items-table-content {
  padding: 15px 30px;
}
body.model-config .button-right,
body.model-config .button-left {
  display: none;
}
body.model-config .button-middle {
  background: none;
}
body.model-config .button-middle a.button-text {
  font-size: 13px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #af1326;
  border-bottom-width: 3px;
  background: #e90029;
  color: white;
}
body.model-config .button-middle a.button-text:hover {
  text-decoration: none;
  background: #d51a28;
}

body.model-config {
  min-width: 1000px;
}

body.model-config .tab-header {
    position: relative;
    top: -130px;
    padding-left: 15px;
}

body.model-config .button-bar {
  margin-top: 20px;
}
body.model-config .tab-header::after {
  float: none;
  position: absolute;
  right: 15px;
  top: 140px;
}

body.model-config .tab-active .tab-left:hover .tab-text {
  color: white !important;
}
body.model-config #sticky-actions {
  float: right;
  width: 35%;
}
body.model-config .button-middle a.button-text {
  display: inline-block;
}
body.model-config .plain-button:active .button-text {
  vertical-align: baseline;
  margin: 0;
}
.header-bordercolor{
	display: none !important;
}
body.model-config #main-table-wrapper {
  width: 100%;
  position: absolute;
  top: 220px;
}

body.model-config .tab-header {
  position: absolute;
  top: -200px;
  width: 70%;
}

body.model-config .tab-header::before {
  top: 166px;
  right: 25px;
}

body.model-config .tab-header::after {
  top: 166px;
  right: 37px;
}