/*Accessory Array Set*/
#accessoriesArraySet_mod tr th[scope="row"] {
    display: none !important;
}
#accessoriesArraySet_mod tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*end*/

/*software Licenses Array Se*/
#softwareLicensesArraySet tr th[scope="row"] {
    display: none !important;
}
#softwareLicensesArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*end*/

/*Crate Accessory Array Set*/
#crateAccessoriesArraySet tr th[scope="row"] {
    display: none !important;
}
#crateAccessoriesArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*end*/

/*Module Accessory Array Set*/
#moduleAccessoriesArraySet tr th[scope="row"] {
    display: none !important;
}
#moduleAccessoriesArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*end*/

/*Backplane Array Set*/
#backplaneConnectorShieldArraySet tr th[scope="row"] {
    display: none !important;
}
#backplaneConnectorShieldArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*end*/

/*Cable Kit Array Set*/
#cableKitsArraySet tr th[scope="row"] {
    display: none !important;
}
#cableKitsArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*end*/


/*Options Array Set*/
#optionsArraySet tr th[scope="row"] {
    display: none !important;
}
#optionsArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*end*/

/*Documentation Array Set*/
#documentationArraySet tr th[scope="row"] {
    display: none !important;
}
#documentationArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*end*/

/*Cable Array Set*/
#cableArraySet tr th[scope="row"] {
    display: none !important;
}
#cableArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*end*/

/*Custom Solutions Array Set*/
#customSolutionsArraySet tr th[scope="row"] {
    display: none !important;
}
#customSolutionsArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*end*/

/*Product Assistance Array Set*/
#productAssistanceArraySet_PLBL tr th[scope="row"] {
    display: none !important;
}
#productAssistanceArraySet_PLBL tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*end*/

/*Rackmount Accessories Array Set*/
#rackMountingAccessoriesArraySet_PLBL tr th[scope="row"] {
    display: none !important;
}
#rackMountingAccessoriesArraySet_PLBL tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/* end*/

/*Product Assistance Array Set*/
#productAssistanceArraySet_PLBL tr th[scope="row"] {
    display: none !important;
}
#productAssistanceArraySet_PLBL tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/* end*/

/*Connection Options Array Set*/
#connectionOptionsArraySet_pfks tr th[scope="row"] {
    display: none !important;
}
#connectionOptionsArraySet_pfks tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/* end*/

/*Verification And DiagnosticTools ArraySet Array Set*/
#verificationAndDiagnosticToolsArraySet tr th[scope="row"] {
    display: none !important;
}
#verificationAndDiagnosticToolsArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/* end*/

/*remove none from options - radio button*/
#config-header{
display: none !important;
}
label[for = "frequencyRange_pfks_"] {
    display: none;
}
#frequencyRange_pfks_{
    display: none;
}

label[for = "clockRate_multi_plBL_"] {
    display: none;
}
#clockRate_multi_plBL_{
    display: none;
}

label[for = "eSMOptions_plBL_"] {
    display: none;
}
#eSMOptions_plBL_{
    display: none;
}

label[for = "applications_Single_PLBL_"] {
    display: none;
}
#applications_Single_PLBL_{
    display: none;
}

label[for = "cableKitForSelectionRequired"] {
    display: none;
}
#cableKitForSelectionRequired{
    display: none;
}

label[for = "isThisARentalCustomer_pfks_"] {
    display: none;
}
#isThisARentalCustomer_pfks_{
    display: none;
}

label[for = "mATLABBundle_N6171A_pfks_"] {
    display: none;
}
#mATLABBundle_N6171A_pfks_{
    display: none;
}

label[for = "customSolutions_pfks_"] {
    display: none;
}
#customSolutions_pfks_{
    display: none;
}

label[for = "isThisAFirstTimeM9099TPurchaseForThisCustomer_"] {
    display: none;
}
#isThisAFirstTimeM9099TPurchaseForThisCustomer_{
    display: none;
}

label[for = "doesTheCustomerWantM9381AShipped_"] {
    display: none;
}
#doesTheCustomerWantM9381AShipped_{
    display: none;
}

label[for = "numberOfSlots_plBL_"] {
    display: none;
}
#numberOfSlots_plBL_{
    display: none;
}

label[for = "documentationForSelectionRequired_"] {
    display: none;
}
#documentationForSelectionRequired_{
    display: none;
}

label[for = "bundleOptions_plBL_"] {
    display: none;
}
#bundleOptions_plBL_{
    display: none;
}

label[for = "terminalBlock_plBL_"] {
    display: none;
}
#terminalBlock_plBL_{
    display: none;
}

label[for = "channels_plBL_"] {
    display: none;
}
#channels_plBL_{
    display: none;
}

label[for = "moduleConfiguration_plBL_"] {
    display: none;
}
#moduleConfiguration_plBL_{
    display: none;
}

label[for = "intDMM_plgm_"] {
    display: none;
}
#intDMM_plgm_{
    display: none;
}

label[for = "powerSupplySelection_pl12_"] {
    display: none;
}
#powerSupplySelection_pl12_{
    display: none;
}

label[for = "softwareMedia_multi_plBL_"] {
    display: none;
}
#softwareMedia_multi_plBL_{
    display: none;
}

label[for = "select1Or2wireMode_plBL_"] {
    display: none;
}
#select1Or2wireMode_plBL_{
    display: none;
}

label[for = "isThisIntendedForJapan_pfks_"] {
    display: none;
}
#isThisIntendedForJapan_pfks_{
    display: none;
}

label[for = "bandwidth_pfks_"] {
    display: none;
}
#bandwidth_pfks_{
    display: none;
}

label[for = "connectors_Single_PLBL_"] {
    display: none;
}
#connectors_Single_PLBL_ {
    display: none;
}

label[for = "firmware_Single_plBL_"] {
    display: none;
}
#firmware_Single_plBL_ {
    display: none;
}

label[for = "streaming_plBL_"] {
    display: none;
}
#streaming_plBL_ {
    display: none;
}

label[for = "memory_pfks_"] {
    display: none;
}
#memory_pfks_ {
    display: none;
}

label[for = "memory_plgm_"] {
    display: none;
}
#memory_plgm_ {
    display: none;
}

label[for = "clockRate_plBL_"] {
    display: none;
}
#clockRate_plBL_ {
    display: none;
}


label[for = "outputpower_pfks_"] {
    display: none;
}
#outputpower_pfks_ {
    display: none;
}

label[for = "referenceModule_plBL_"] {
    display: none;
}
#referenceModule_plBL_ {
    display: none;
}

label[for = "mATLABBundle_pfks_"] {
    display: none;
}
#mATLABBundle_pfks_ {
    display: none;
}

label[for = "verificationAndDiagnosticTools_plBL_"] {
    display: none;
}
#verificationAndDiagnosticTools_plBL_ {
    display: none;
}

label[for = "lOSharingForPhaseCoherency_plBL_"] {
    display: none;
}
#lOSharingForPhaseCoherency_plBL_ {
    display: none;
}

label[for = "preamplifier_pfks_"] {
    display: none;
}
#preamplifier_pfks_{
    display: none;
}

label[for = "licenseDetails_pfks_"] {
    display: none;
}
#licenseDetails_pfks_{
    display: none;
}

label[for = "whatIsTheLicenseTypeForThisUpgrade_pfks_"] {
    display: none;
}
#whatIsTheLicenseTypeForThisUpgrade_pfks_{
    display: none;
}

label[for = "powerSelection_plBL_"] {
    display: none;
}
#powerSelection_plBL_{
    display: none;
}

label[for = "optionalPowerCables_PLBL_"] {
    display: none;
}
#optionalPowerCables_PLBL_{
    display: none;
}

label[for = "performanceOptions_pfks_"] {
    display: none;
}
#performanceOptions_pfks_{
    display: none;
}

label[for = "portablePackaging_pfks_"] {
    display: none;
}
#portablePackaging_pfks_{
    display: none;
}
label[for = "realtimesiganalysis_pfks_"] {
    display: none;
}
#realtimesiganalysis_pfks_{
    display: none;
}

label[for = "operatingsystem_pfks_"] {
    display: none;
}
#operatingsystem_pfks_{
    display: none;
}


label[for = "upconverterMod_pl15_"] {
    display: none;
}
#upconverterMod_pl15_{
    display: none;
}

label[for = "otherConfigSel_pfks_"] {
    display: none;
}
#otherConfigSel_pfks_{
    display: none;
}

label[for = "regionalDistributionCenter_pfks_"] {
    display: none;
}
#regionalDistributionCenter_pfks_{
    display: none;
}

label[for = "backplaneConnectorShield_plBL_"] {
    display: none;
}
#backplaneConnectorShield_plBL_{
    display: none;
}


label[for = "doc_pfks_"] {
    display: none;
}
#doc_pfks_{
    display: none;
}

#main-table-wrapper{
	width: 70%;
}

label[for = "recalServPlan_pfks_"] {
    display: none;
}
#recalServPlan_pfks_{
    display: none;
}

label[for = "wtyAndServPlan_pfks_"] {
    display: none;
}
#wtyAndServPlan_pfks_{
    display: none;
}

label[for = "voltage_plgm_"] {
    display: none;
}
#voltage_plgm_{
    display: none;
}

label[for = "calibration_pfks_"] {
    display: none;
}
#calibration_pfks_{
    display: none;
}

label[for = "powerCords_pfks_"] {
    display: none;
}
#powerCords_pfks_{
    display: none;
}

label[for = "timebase_plgm_"] {
    display: none;
}
#timebase_plgm_{
    display: none;
}

label[for = "arbWaveform_plgm_"] {
    display: none;
}
#arbWaveform_plgm_{
    display: none;
}

label[for = "swDelivery_pfks_"] {
    display: none;
}
#swDelivery_pfks_{
    display: none;
}

label[for = "channelConfig_plgm_"] {
    display: none;
}
#channelConfig_plgm_{
    display: none;
}
/*remove none from options - radio button for SP Module */
label[for = "accessories_pfks_"] {
    display: none;
}
#accessories_pfks_{
    display: none;
}

label[for = "gatewareOptions_multi_pfks_"] {
    display: none;
}
#gatewareOptions_multi_pfks_{
    display: none;
}

label[for = "accessories_pfks_"] {
    display: none;
}
#accessories_pfks_{
    display: none;
}

label[for = "converterClass_PLBL_"] {
    display: none;
}
#converterClass_PLBL_{
    display: none;
}

label[for = "OC_CUSTOM1_"] {
    display: none;
}
#OC_CUSTOM1_{
    display: none;
}

label[for = "OC_CUSTOM2_"] {
    display: none;
}
#OC_CUSTOM2_{
    display: none;
}

label[for = "OC_CUSTOM2_model_"] {
    display: none;
}
#OC_CUSTOM2_model_{
    display: none;
}


label[for = "OC_CUSTOM3_"] {
    display: none;
}
#OC_CUSTOM3_{
    display: none;
}

label[for = "R1607B_OC_"] {
    display: none;
}
#R1607B_OC_{
    display: none;
}

label[for = "OC_COMBO_"] {
    display: none;
}
#OC_COMBO_{
    display: none;
}

label[for = "OC_COMBO_SelectAccessory_"] {
    display: none;
}
#OC_COMBO_SelectAccessory_{
    display: none;
}

label[for = "U3000_OC_EDUKIT_"] {
    display: none;
}
#U3000_OC_EDUKIT_{
    display: none;
}

label[for = "OC_CUSTOM_model_"] {
    display: none;
}
#OC_CUSTOM_model_{
    display: none;
}

label[for = "OC_CUSTOM_CustomerOptions_"] {
    display: none;
}
#OC_CUSTOM_CustomerOptions_{
    display: none;
}

label[for = "R1286A_HU_"] {
    display: none;
}
#R1286A_HU_{
    display: none;
}

label[for = "OC_UPGRADES_"] {
    display: none;
}
#OC_UPGRADES_{
    display: none;
}

label[for = "OC_USB_"] {
    display: none;
}
#OC_USB_{
    display: none;
}

label[for = "OC_DPM_"] {
    display: none;
}
#OC_DPM_{
    display: none;
}

label[for = "OC_CUSTOM4_"] {
    display: none;
}
#OC_CUSTOM4_{
    display: none;
}

label[for = "model_10833A_"] {
    display: none;
}
#model_10833A_{
    display: none;
}

label[for = "R1380_MOBILECOMM_"] {
    display: none;
}
#R1380_MOBILECOMM_{
    display: none;
}

label[for = "R1380_POWERSUPPLY_"] {
    display: none;
}
#R1380_POWERSUPPLY_{
    display: none;
}

label[for = "model_14585A_"] {
    display: none;
}
#model_14585A_{
    display: none;
}

label[for = "BV0003A_"] {
    display: none;
}
#BV0003A_{
    display: none;
}

label[for = "model_82357B_"] {
    display: none;
}
#model_82357B_{
    display: none;
}

label[for = "OC_FEET_"] {
    display: none;
}
#OC_FEET_{
    display: none;
}

label[for = "OC_SW_"] {
    display: none;
}
#OC_SW_{
    display: none;
}

label[for = "OC_VOLTAGE_"] {
    display: none;
}
#OC_VOLTAGE_{
    display: none;
}

label[for = "OC_MAINSV_"] {
    display: none;
}
#OC_MAINSV_{
    display: none;
}

label[for = "R1286A_BNDL_OC_"] {
    display: none;
}
#R1286A_BNDL_OC_{
    display: none;
}

label[for = "OC_CUSTOM_"] {
    display: none;
}
#OC_CUSTOM_{
    display: none;
}

label[for = "licenseTerm_pl4w_"] {
    display: none;
}
#licenseTerm_pl4w_{
    display: none;
}

label[for = "licenseType_pfks_"] {
    display: none;
}
#licenseType_pfks_{
    display: none;
}

label[for = "certificateDelivery_"] {
    display: none;
}
#certificateDelivery_{
    display: none;
}

label[for = "isThisIntendedForJapan_"] {
    display: none;
}
#isThisIntendedForJapan_{
    display: none;
}

label[for = "mostCommonforCountry_"] {
    display: none;
}
#mostCommonforCountry_{
    display: none;
}

label[for = "input_Voltage_Option_Selection_"] {
    display: none;
}
#input_Voltage_Option_Selection_{
    display: none;
}

label[for = "inputVoltageOptionMostCommonforCountryUse_"] {
    display: none;
}
#inputVoltageOptionMostCommonforCountryUse_{
    display: none;
}

label[for = "distributionNetConfig_pl15_"] {
    display: none;
}
#distributionNetConfig_pl15_{
    display: none;
}

label[for = "clockChoices_plBL_"] {
    display: none;
}
#clockChoices_plBL_{
    display: none;
}

label[for = "frontPanel_plBL_"] {
    display: none;
}
#frontPanel_plBL_{
    display: none;
}

label[for = "switchMountingMethod_plBL_"] {
    display: none;
}
#switchMountingMethod_plBL_{
    display: none;
}

label[for = "digitizerClass_plBL_"] {
    display: none;
}
#digitizerClass_plBL_{
    display: none;
}

label[for = "connectors_pfks_"] {
    display: none;
}
#connectors_pfks_{
    display: none;
}

label[for = "samplingRate_plBL_"] {
    display: none;
}
#samplingRate_plBL_{
    display: none;
}

label[for = "cardRetainer_plBL_"] {
    display: none;
}
#cardRetainer_plBL_{
    display: none;
}

label[for = "digitalProcessingUnit_plBL_"] {
    display: none;
}
#digitalProcessingUnit_plBL_{
    display: none;
}

label[for = "fullScaleRange_plBL_"] {
    display: none;
}
#fullScaleRange_plBL_{
    display: none;
}

label[for = "renewalOptions_plBL_"] {
    display: none;
}
#renewalOptions_plBL_{
    display: none;
}

label[for = "upgradeOptions_plBL_"] {
    display: none;
}
#upgradeOptions_plBL_{
    display: none;
}

label[for = "licenseOptions_plBL_"] {
    display: none;
}
#licenseOptions_plBL_{
    display: none;
}

label[for = "generalPurposeInterfaceBusGPIB_"] {
    display: none;
}
#generalPurposeInterfaceBusGPIB_{
    display: none;
}

label[for = "isThisAnUpgrade_pfks_"] {
    display: none;
}
#isThisAnUpgrade_pfks_{
    display: none;
}

label[for = "specialOptions_plWN_"] {
    display: none;
}
#specialOptions_plWN_{
    display: none;
}

label[for = "bundledOptions_multi_plbl_"] {
    display: none;
}
#bundledOptions_multi_plbl_{
    display: none;
}

label[for = "mentorBundle_plBL_"] {
    display: none;
}
#mentorBundle_plBL_{
    display: none;
}

label[for = "frequencyExtension_plBL_"] {
    display: none;
}
#frequencyExtension_plBL_{
    display: none;
}

label[for = "customerOrderScenario_plbl_"] {
    display: none;
}
#customerOrderScenario_plbl_{
    display: none;
}

label[for = "softwareMedia_plBL_"] {
    display: none;
}
#softwareMedia_plBL_{
    display: none;
}

/* End---------- */

/*Hide System Recommendations*/
.message.recommendation-message{
	display: none;
}
/*set the font for attr options, HTML labels, field containers, tabs*/
.group-option {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.read-only-html {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 12px !important;
}
.attribute-field-container {

    font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px !important;
	color: black;
	
}
.attribute-field.read-only {
	
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;	
	margin-top: 5px;
	
}

.cell-quantityAccessoriesArrAttr_mod .attribute-field {
    width: 25px;
}


#accessories_plgm_Front_handle_kit{
	margin-right: 24px;
	margin-left: 10px;
	 
}
.array-wrapper {
    overflow: auto;
    position: relative;
    margin: 8px;
    margin-top: -4px;
}

.tab-strip .tab-active a.tab-left .tab-text {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
}


/*remove none from options - radio button*/

/*--------------------------------------*/
ul.tab-strip li {
    margin-right: 1px;
    border-style: solid;
    border-top-width: 7px;
    border-top-color: #cfcfcf;
}

/*to change appearance of radio button to checkbox*/
input[name="warrantyAndServicePlan"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
}

#pipeline-viewer-opener{
	padding: 4px;
}
#pipeline-viewer-opener a{
	font-size: 12px;
}
.tab-strip .tab-right{
	padding: 0px;
}
ul.tab-strip li{
	margin-right: 1px;
}
.tab-strip li{
	padding: 0 0px;
}
.tab-strip .tab-text {
    padding: 0px;
    font-size: 12px !important;
    font-weight: 600;
    background: transparent url() no-repeat right 0;
    padding-right: 25px;
	padding-left: 15px;
	 color: red !important;
}
.tab-strip .tab-inner {
    background: #5b5b5b url() repeat-x 0 0;
}
.tab-inner, .tab-right {
    padding-right: 0px;
}
.tab-strip a.tab-left {
    border-radius: 0 0 0 0;
}
.model-config .group-header {
    font-size: 13px !important;
    font-weight: 600 !important;
    line-height: 14px;
}
.group-header {
    background-color: #DFDFDF !important;
    padding: 6px;
    border-radius: 0px;
    font-weight: 600 !important;
}
.model-config .group-header:hover {
    color: #2A4BDA !important;
    background-color: rgba(204, 208, 228, 0.49) !important;
}
.model-config .group-content.collapsed .group-header span {
    font-weight: 600 !important;
}
.required .attribute-label, .attribute-label {
    font-size: 10pt !important;
}
.appSw_plgm .attribute-label-container label{
    position: absolute;
    left: 20px;
}
.mATLABBundle_pfks .attribute-label-container label{
    position: absolute;
    left: 20px;
}
.model-config .group-content .group-header span {
    padding-left: 18px;
    background: url("/img/config/arrow-expanded.png") no-repeat 0 50%;
	color:black;
	font-weight: 600 !important;
}
.adv-grid-row:hover{
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
	background-color: #F0F0F0 !important;
	font-weight: bold !important;
	color: black !important;
}
.adv-grid-row:hover .adv-grid-cell.Price{
	color: red !important;
}

.constrained.group-option {
	display:none;
}

.group-option:hover{
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
	background-color: #F8F8F8 !important;
	font-weight: bold !important;
}

.model-config .group-content.collapsed .group-header span {
    padding-left: 18px;
    background: url("/img/config/arrow-collapsed.png") no-repeat 0 50%;
}
.group-content.collapsed .group-header{
	background-color: #CFCFCF !important;
}
#navbar ul > li {
    margin: 3px 5px;
}

.tab-strip .tab-active a.tab-left .tab-text {
    color: #FFFFFF !important;
}
.model-config .group-header {
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
}

/*Mandatory Parts Section - Column Display*/
.adv-grid-header-cell.checkbox, .adv-grid-cell.checkbox,
.adv-grid-header-cell.part_number, /*.adv-grid-cell.part_number,*/
.adv-grid-header-cell.Quantity, /*.adv-grid-cell.Quantity,*/
.adv-grid-header-cell.field2, .adv-grid-header-cell.field2.header, .adv-grid-cell.field2,
.adv-grid-header-cell.field3, .adv-grid-header-cell.field3.header, .adv-grid-cell.field3,
.adv-grid-header-cell.field4, .adv-grid-header-cell.field4.header, .adv-grid-cell.field4,
.adv-grid-header-cell.field5, .adv-grid-header-cell.field5.header, .adv-grid-cell.field5,
.adv-grid-header-cell.part_display_number, .adv-grid-header-cell.part_display_number.header, .adv-grid-cell.part_display_number,
.adv-grid-header-cell.description, .adv-grid-header-cell.Price,
.adv-grid-header-cell.company_associations, .adv-grid-header-cell.company_associations.header, .adv-grid-cell.company_associations,
.adv-grid-header-cell.field6, .adv-grid-header-cell.field6.header, .adv-grid-cell.field6,
.adv-grid-header-cell.field8, .adv-grid-header-cell.field8.header, .adv-grid-cell.field8,
.adv-grid-header-cell.field9, .adv-grid-header-cell.field9.header, .adv-grid-cell.field9,
.adv-grid-header-cell.field10, .adv-grid-header-cell.field10.header, .adv-grid-cell.field10,
.adv-grid-header-cell.field11, .adv-grid-header-cell.field11.header, .adv-grid-cell.field11,
.adv-grid-header-cell.field12, .adv-grid-header-cell.field12.header, .adv-grid-cell.field12,
.adv-grid-header-cell.field13, .adv-grid-header-cell.field13.header, .adv-grid-cell.field13,
.adv-grid-header-cell.field14, .adv-grid-header-cell.field14.header, .adv-grid-cell.field14,
.adv-grid-header-cell.field15, .adv-grid-header-cell.field15.header, .adv-grid-cell.field15,
.adv-grid-header-cell.field18, .adv-grid-header-cell.field18.header, .adv-grid-cell.field18,
.adv-grid-header-cell.field19, .adv-grid-header-cell.field19.header, .adv-grid-cell.field19,
.adv-grid-header-cell.field20, .adv-grid-header-cell.field20.header, .adv-grid-cell.field20,
.adv-grid-header-cell.field21, .adv-grid-header-cell.field21.header, .adv-grid-cell.field21,
.adv-grid-header-cell.field22, .adv-grid-header-cell.field22.header, .adv-grid-cell.field22,
.adv-grid-header-cell.field23, .adv-grid-header-cell.field23.header, .adv-grid-cell.field23,
.adv-grid-header-cell.field24, .adv-grid-header-cell.field24.header, .adv-grid-cell.field24,
.adv-grid-header-cell.field25, .adv-grid-header-cell.field25.header, .adv-grid-cell.field25,
.adv-grid-header-cell.field26, .adv-grid-header-cell.field26.header, .adv-grid-cell.field26,
.adv-grid-header-cell.field27, .adv-grid-header-cell.field27.header, .adv-grid-cell.field27,
.adv-grid-header-cell.field28, .adv-grid-header-cell.field28.header, .adv-grid-cell.field28,
.adv-grid-header-cell.field29, .adv-grid-header-cell.field29.header, .adv-grid-cell.field29,
.adv-grid-header-cell.field30, .adv-grid-header-cell.field30.header, .adv-grid-cell.field30
{
	display: none;
}

.grid.accessories_plgm, .grid.additionalAssemblyOptions_plBL, .grid.additionalHardware_plBL, .grid.additionalPTOKitMaterial_plBL, .grid.additionalSoftware_plBL, .grid.analogmodulation_pfks, .grid.bundHwUpg_pfks, .grid.bundHwUpgRevTransItems_pfks, .grid.bundledSoftwareUpdateSubscriptionService_pfks, .grid.bundleOptions_plBL, .grid.cableOptions_plBL, .grid.calibration_multi_pfks, .grid.cardRetainer_plBL, .grid.channels_plBL, .grid.clockChoices_plBL, .grid.clockRate_plBL, .grid.combinationOfDefaultPTOOCOptions_pfks, .grid.combOptions_plgm, .grid.connectors_pl12, .grid.crateAccessories_plBL, .grid.custSol_plgm, .grid.dataLink_plBL, .grid.daughtercards_plBL, .grid.digitalProcessingUnit_plBL, .grid.distributionNetConfig_pl15, .grid.factoryUpg_pfks, .grid.firmwareSupport_pfks, .grid.gPIB_plgm, .grid.intDMM_plgm, .grid.kitShipping_pfks, .grid.memory_pfks, .grid.miscellaneousopt_pfks, .grid.operatingsystem_pfks, .grid.options_pfks, .grid.outputpower_pfks, .grid.performanceUpgrades_plBL, .grid.phantomOptionClass_plBL, .grid.poverkaInclRevTransItems_pfks, .grid.powerCords_pfks, .grid.powerSupplySelection_pl12, .grid.preamplifier_pfks, .grid.premiumSupportProgram_plBL, .grid.pTOCombinationMaterial_plBL, .grid.recalServPlan_pfks, .grid.select1Or2wireMode_plBL, .grid.software_pfks, .grid.softwarekits_pfks, .grid.softwareupdate_pfks, .grid.specialsOptionClass_pl12, .grid.standardHardwareConfigurations_pfks, .grid.swlicertif_pfks, .grid.termLengthForSoftwareUpdateSubscriptionService_pfks, .grid.timebase_plgm, .grid.waveform50packLicenses_plcm, .grid.waveform5packLicenses_plcm, .grid.wCSSRevTransItems_pfks, .grid.widebandOption_pfks, .grid.wtyAndServPlan_pfks, .grid.numberOfSlots_plBL, .grid.terminalBlock_plBL, .grid.inputChannelOptions_plBL, .grid.rackMountingAccessories_pl12, .grid.switchMountingMethod_plBL, .grid.frontPanel_plBL, .grid.softwareMedia_plBL, .grid.lOSharingForPhaseCoherency_plBL, .grid.widebandIFOutput_plBL, .grid.superCal_plBL, .grid.gatewareOptions_plBL, .grid.jMRRAIDSolutions_plBL, .grid.streaming_plBL, .grid.samplingRate_plBL, .grid.frontEnd_plBL, .grid.eSMOptions_plBL, .grid.powerSelection_plBL, .grid.adapterKit_pl12, .grid.bandwidth_pfks, .grid.renewalOptions_plBL, .grid.optionDependentPickedItems_plBL, .grid.siteConfiguration_plBL, .grid.enhancedPerformanceOptions_plBL, .grid.moduleConfiguration_plBL, .grid.fullScaleRange_plBL, .grid.digitizerClass_plBL, .grid.xilinxBundle_plBL, .grid.solutionDocumentation_plBL, .grid.m9703AToM9703BUpgrades_plBL, .grid.fanUnits_plBL, .grid.inputOptions_plBL, .grid.mentorBundle_plBL, .grid.BundledLicenses_pfks, .grid.selectVerificationBoardFor34980APluginModule_plBL, .grid.moduleAccessories_plBL, .grid.frequencyRange_pfks, .grid.frequencyExtension_plBL, .grid.firmware_pfks, .grid.internalOptionClass_plBL, .grid.optionClassForDEMOUseOnly_plBL, .grid.memoryUpg_plgm, .grid.minorenhcUpdate_pfks, .grid.specialOptions_plWN, .grid.cableOptions_plBL, .grid.fastSwitching_plBL, .grid.frameOptions_plBL, .grid.analogFrontend_plBL, .grid.referenceModule_plBL, .grid.addonOptions_plBL, .grid.selectModel_plBL, .grid.wtyAndServPlan_pfks, .grid.cSRNotes_pfks, .grid.marketedSolutionOptions_plBL, .grid.cSRNotes_plBL, .grid.refurbishedProduct_pfks, .grid.connectors_pfks, .grid.isThisIntendedForJapan_pfks, .grid.connectionOptions_pl12, .grid.verificationAndDiagnosticTools_plBL, .grid.countryOfUse_pfks, .grid.doesTheCustomerWantM9381AShipped, .grid.customSolutions_pfks, .grid.backplaneConnectorShield_plBL, .grid.inputChannel_plBL, .grid.timebase_plBL, .grid.prodAsst_pfks, .grid.softwareMedia_multi_plBL, .grid.certificateDelivery, .grid.transportableperpetuallicenses_pfks, .grid.isThisAFirstTimeM9099TPurchaseForThisCustomer, .grid.premiumSupportProgramRenewals_plBL, .grid.connectionOptionsArrAttr_pfks, .grid.generalPurposeInterfaceBusGPIB, .grid.licenseOptions_plBL, .grid.upgradeOptions_plBL, .grid.digitalProcessingUnit_multi_plBL, .grid.channels_multi_plBL, .grid.customerOrderScenario_plbl, .grid.verificationAndDiagnosticToolsArrAttr_pfks, .grid.isThisAnUpgrade_pfks, .grid.isThisARentalCustomer_pfks, .grid.fastTuning_plBL, .grid.whatIsTheLicenseTypeForThisUpgrade_pfks, .grid.licenseDetails_pfks, .grid.cable_plcm, .grid.gatewareOptions_multi_pfks, .grid.calibration_pfks, .grid.outputPower_multi_plBL, .grid.lOSharingForPhaseCoherency_multi_plBL, .grid.productAssistanceArrAttr_PLBL, .grid.cableArrAttr_plbl, .grid.doesTheCustomerWantM9391AShipped, .grid.generalPurpaoseInterfaceBusGPIB, .grid.addonOptions_plBL, .grid.accessoriesArrAttr_mod, .grid.doc_multi_pfks, .grid.doc_pfks, .grid.documentationArrAttr_PLBL, .grid.addOnOptions_pfks, .grid.backplaneConnectorShieldArrAttr_PLBL, .grid.rackMountingAccessoriesArrAttr_PLBL, .grid.cableKitsArrAttr_PLBL, .grid.optionsArrAttr_PLBL, .grid.customSolutionsArrAttr_PLBL, .grid.applications_pfks, .grid.appSw_plgm, .grid.mATLABBundle_pfks, .grid.softwareCSRNotes, .grid.optionalPowerCables_PLBL, .grid.systemModules_PLBL, .grid.distributionNetworkConfigurations_PLBL, .grid.converterClass_PLBL, .grid.applications_Single_PLBL, .grid.moduleAccessoriesArrAttr_PLBL, .grid.crateAccessoriesArrAttr_PLBL, .grid.softwareLicensesArrAttr_PLBL, .grid.connectors_Single_PLBL, .grid.switchFrequencyOptions_PLBL, .grid.fullScaleRange_multi_PLBL, .grid.firmware_Single_plBL, .grid.memory_plgm, .grid.bundledOptions_multi_plbl, .grid.specialOptions_plWN

{
    display: none;
}



.ksImage{
/*	border-bottom: 1px solid #AAAAAA !important;
	border-top: 1px solid #AAAAAA !important;
	border-left: 1px solid #AAAAAA !important;
	border-right: 1px solid #AAAAAA !important;
*/
}

#ksCustomHTML{
	padding-left: 15px;
}

.tab-strip .tab-text{
	color: #FFF !important;
}
.tab-strip .tab-active a.tab-left .tab-text {
    color: #000 !important;
}

div.main-model {
  display: none;
}

#ksPriceHTML, #ksPriceHTML1, #ksPriceHTML2, #ksPriceHTML3{
	font-size: 18px;
	font-weight: bold;
	color: #555555;
	padding-left: 40%;
}

.view-text, .form-input, .form-input select, .form-input-modified, .form-input-selected, .form-input-mouseover, .form-item input, .form-item select, .form-item textarea, .form-item .menu-attr label, .attribute-field, .cfg-image-menu {
    font-size: 10pt;
 }
 
 .unreset {
    font-size: 10pt;
}

table.spare-grid td {
    font-size: 10pt;
}

#tab-hiddenAttributes_plgm,
#tab-rightSideImage{
	display: none !important;
}
#tab-cSSAttributes{
	display: none;
}

#tab-rightSideImage-content{
	display: block !important;
	position: absolute;
	top: 99px;
	right: 0;
	width: 30%;
	height: 200px;
	background-color: transparent;
	margin-top:-70px;
}

#tab-rightSideImage-content img{
	width: 250px;
	height: 150px;
}
.side-bar-content{
	padding-top: 280px !important;
}
.commerce-bordercolor, .commerce-bordercolor .topcolor, .admin-bordercolor, .admin-bordercolor .topcolor, .header-bordercolor, #main-nav, #sub-nav{
	border-bottom-color: #F0F0F0;
}
.commerce-bordercolor table{
	display: none;
}

.side-bar-content {
/*    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
*/
}
.items-header{
	border: solid 0px #666 !important;
}
.view-header {
    background-color: #cfcfcf !important;
}
.items-table-content {
	border-width: 0 0 0 0 !important;
}
table.spare-grid th {
    border-right: #ccc solid 0px !important;
}
table.spare-grid td {
	border-right: #eee solid 0px !important;
}
td.adv-grid-cell {
    border-bottom: 0px solid #DDD !important;
}
.spare-grid {
    border-width: 0px !important;
}
.side-bar-content {
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
}
table.spare-grid td {
    font-size: 12px !important;
}
.unreset h3 {
    margin: 0em 0 !important;
}

table.pricing-content td.numeric {
    text-align: center;
}

#pricing-table-wrapper{
	display: none !important;
}

.grand-total-container {
    display: none !important;
}
#mandatory-parts-wrapper .items-header.view-header {
    display: none;
}
#main-content {
    width: 70% !important;
}
.vertical .group-option {
    padding-bottom: 6px !important;
}

#main-table-wrapper .items-header td{
display: none;
}

.attribute .ksLabel{
width: 55%; 
margin-top: 3px;
display: inline-block;
vertical-align: top;
}

#tab-hideAttributes{
	display: none;
}

.tab-header {
    display: block !important;
    position: absolute;
    top: -85px;
    color: gray;
    font-size: 20px;
    font-weight: normal;
	width: 100%;
}/*
.tab-header span.selectionRequired{
 color: red;
    font-size: 13px;
    float: right;
    margin-top: -17px;
}
*/

.tab-header span.selectionRequired{
    color: Black;
    font-size: 13px;
    float: right;
    margin-top: 0px;
    position: absolute;
    top: 145px;
    left: 85%;
}

/*
.selectionRequired {
    font-size: 13px;
    float: right;
    top: 140px;
    position: relative;
    padding-right: 20px;
    font-style: italic;
    color: #555555;
    font-weight: normal;
}

.tab-header::after {
    content: "Selection Required*";
                color: red;
    font-size: 13px;
    float: right;
    margin-top: 5px;
}
*/
.message.constraint-message {
    display: none;
}

.ksModelHeader {
    font-size: 20px !important;
    float: left;
    color: #a4a4a4;
}

.tab-left .tab-right .tab-text {
    background-color: #fff !important;
}

.tab-left .tab-right .tab-text:hover {
    background-color: #efefef !important;
                color: #4b4b4b !important;
}
.tab-left:hover .tab-text{
    background-color: #efefef !important;
                color: #4b4b4b !important;
}

.tab-text:hover{
    background-color: #efefef !important;
                color: #4b4b4b !important;
}
.tab-active .tab-left .tab-right .tab-text {
    background-color: #5b5b5b !important;
}

input[checked="checked"] + label {
    font-weight: bold !important;
}

.tab-strip .tab-left {
    background: #fff !important;
    padding-left: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.tab-strip .tab-left:hover {
    background-color: #efefef !important;
                color: #4b4b4b;
}

.tab-strip .tab-active a.tab-left, .tab-strip .tab-active a.tab-left .tab-inner {
    background-color: #5b5b5b !important;
}

.tab-content {
    padding: 3px;
    border-top: 2px solid #5b5b5b;
}

.tab-strip .tab-text {
    padding: 0px;
    font-size: 12px !important;
    font-weight: 600;
    background: transparent url() no-repeat right 0;
    padding-right: 25px;
                padding-left: 15px;
                color: red !important;

}

ul.tab-strip li {
    margin-right: 1px;
    border-style: solid;
    border-top-width: 7px;
    border-top-color: #cfcfcf;
                border-right-color: #cfcfcf !important;
                border-right-width: 1px;
}

.tab-strip .tab-active a.tab-left .tab-text {
    color: #FFF !important;
}

.selectedConfigPrice{
	padding-left: 40%;
}

.selectedConfigPrice{
 float: right;
 margin-right: 15px;
}

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
body.model-config {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  color: #343434 !important;
  line-height: 1.3 !important;
  font-size: 13px;
}
body.model-config td, body.model-config input {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 100%;
}
body.model-config div {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
}
body.model-config a:link {
  color: #e90029;
  cursor: pointer;
  text-decoration: none;
}
body.model-config a:visited {
  color: #891518;
}
body.model-config a:hover {
  text-decoration: underline;
}
body.model-config a:active {
  color: #e90029;
}
body.model-config .tab-header {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #555555;
}

body.model-config .tab-strip .tab-active a.tab-left .tab-text,
body.model-config .tab-strip .tab-text {
  color: #FFFFFF;
  font-weight: Bold;
  font-style: Normal;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px !important;
  text-decoration: none;
  line-height: normal;
  padding: 10px 20px !important;
  padding-top: 17px !important;
  border-top: 7px solid #dbdbdb;
  height: 23px;
}

body.model-config .tab-strip .tab-active a.tab-left .tab-text {
  border-top-color: #019642;
}
body.model-config a.tab-left:hover {
  text-decoration: none;
}
body.model-config .tab-strip .tab-left:hover {
  color: #343434;
}
body.model-config .tab-left:hover .tab-text {
  background-color: #f8f8f8 !important;
}
body.model-config .tab-left .tab-right .tab-text:hover {
  background-color: #f8f8f8 !important;
}
body.model-config .tab-strip .tab-left {
  padding: 0 0 0 10px !important;
  background: transparent;
}
body.model-config .tab-active .tab-left .tab-right .tab-text {
  background-color: #343434 !important;
}
body.model-config .tab-strip .tab-active a.tab-left, body.model-config .tab-strip .tab-active a.tab-left .tab-inner {
  background-color: transparent !important;
}
body.model-config .tab-content {
  border-top: 0;
  position: relative;
  top: -122px;
}
body.model-config ul.tab-strip li {
  border-top-width: 0;
  border-right-width: 0;
}
body.model-config ul.tab-strip li {
  margin-left: -10px;
}
body.model-config ul.tab-strip {
  height: 58px;
  overflow: hidden;
  width: 100%;
  border-left: 1px solid #9c9c9c;
}

body.model-config ul.tab-strip li a {
  /*background: url("/bmfsweb/devkeysight/image/Icons/sprite.png") no-repeat 0 0 !important; */
  border-right: 1px solid #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
}

body.model-config ul.tab-strip li:hover.tab-active a,
body.model-config ul.tab-strip li.tab-active a {
  background-position: 0 -240px !important;
}
body.model-config ul.tab-strip li:hover a {
  background-position: 0 -60px !important;
}
body.model-config ul.tab-strip li a.tab-left:hover {
  background-color: transparent !important;
}
body.model-config ul.tab-strip {
  margin-top: 20px;
}
body.model-config .tab-header {
  top: -105px;
}
body.model-config .group-content {
  margin: 0;
}
body.model-config .group-inner,
body.model-config .group-header {
  margin: 0;
  border: 1px solid #9c9c9c !important;
  margin-bottom: -1px;
}
body.model-config .group-header {
  background-color: #f8f8f8 !important;
}
body.model-config .group-content.collapsed .group-header {
  background-color: #e8e8e8 !important;
}
body.model-config .group-content .group-header span {
  color: #343434;
  font-size: 13px;
}
body.model-config input[checked="checked"] + label {
  font-weight: normal !important;
}
body.model-config .view-text, body.model-config .form-input, body.model-config .form-input select, body.model-config .form-input-modified, body.model-config .form-input-selected, body.model-config .form-input-mouseover,
body.model-config .form-item input, body.model-config .form-item select, body.model-config .form-item textarea, body.model-config .form-item .menu-attr label,
body.model-config .attribute-field, body.model-config .attribute-field-picklist, body.model-config .cfg-image-menu, body.model-config cfg-image-picklist, body.model-config .ui-image-combobox-input {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #343434;
  font-weight: normal;
}
body.model-config .group-option:hover {
  border: 0 !important;
  background-color: transparent !important;
  font-weight: normal !important;
}
body.model-config .attribute-inner {
 /* padding-top: 10px;*/
  padding-left: 20px;
  padding-right: 20px;
 /* padding-bottom: 10px;*/
}
body.model-config #attribute-sidebarHTML .attribute-inner {
  padding: 20px 15px 20px;
}
body.model-config .attribute-field-container > div > span,
body.model-config .attribute-field-container > div > div {
  /* padding-left: 20px; */
  width: auto !important;
  padding-bottom: 5px !important;
}
body.model-config .attribute-field-container > select {
  margin-left: 20px;
}
body.model-config .attribute-field-container > div#sidebarHTML > div {
  padding-left: 0;
}
body.model-config .read-only-html {
  font-size: 13px;
}
body.model-config .tab-header::after {
  font-style: italic;
}
/*
body.model-config .group-content .group-header span {
  background-image: url("/bmfsweb/devkeysight/image/Icons/minus.png");
}

body.model-config .group-content.collapsed .group-header span {
  background-image: url("/bmfsweb/devkeysight/image/Icons/plus.png");
}
*/
body.model-config #sidebarHTML h3 {
  font-size: 14px;
  margin-bottom: 20px !important;
  color: #555555;
}
body.model-config #sidebarHTML h4 {
  font-size: 12px;
  background-color: #f0f0f0 !important;
  padding: 5px 15px !important;
}
body.model-config .side-bar-content {
  border-color: #9c9c9c !important;
}

.adv-grid-cell.Quantity{
	padding-left: 10px !important;
}

body.model-config .selectedConfigPrice,
body.model-config .selectedConfigQty {
  padding-left: 0;
  float: right;
}
body.model-config .adv-grid-row {
  border: 0 !important;
  border-bottom: 1px solid #dbdbdb !important;
}
body.model-config .adv-grid-row:hover {
  border-bottom: 1px solid #dbdbdb !important;
  background: transparent !important;
  font-weight: normal !important;
  color: #343434 !important;
}
body.model-config .adv-grid-row td {
  padding: 15px 3px;
}
body.model-config .adv-grid-row:hover .adv-grid-cell.Price {
  color: #343434 !important;
}
body.model-config .items-table-content {
  padding: 15px 30px;
}
body.model-config .button-right,
body.model-config .button-left {
  display: none;
}
body.model-config .button-middle {
  background: none;
}
body.model-config .button-middle a.button-text {
  font-size: 13px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #af1326;
  border-bottom-width: 3px;
  background: #e90029;
  color: white;
}
body.model-config .button-middle a.button-text:hover {
  text-decoration: none;
  background: #d51a28;
}

#attribute-countryOfUse_pfks .attribute-label-container{
	width: 8% !important;
}

.column{
	width: 100% !important;
}
body.model-config {
  min-width: 1000px;
}
body.model-config #main-table-wrapper {
  width: 100%;
  position: relative;
  top: 100px;
}

body.model-config .tab-header {
  position: absolute;
  top: -180px;
  width: 70%;
}

/*
.tab-header {
	display: block !important;
	font-weight: normal;
	width: 100%;
}
*/
body.model-config .selectedConfigPrice {
  padding-left: 20px !important;
}
body.model-config .tab-header {
    position: relative;
    top: -120px;
    padding-left: 15px;
}
body.model-config .button-bar {
  margin-top: 20px;
}
body.model-config .tab-header::after {
  float: none;
  position: absolute;
  right: 15px;
  top: 140px;
}
body.model-config ul.tab-strip {
  margin-top: 20px;
  position: relative;
  top: -140px;
  z-index: 1;
}
body.model-config .tab-active .tab-left:hover .tab-text {
  color: white !important;
}
body.model-config #sticky-actions {
  float: right;
  width: 35%;
}
body.model-config .button-middle a.button-text {
  display: inline-block;
}
body.model-config .plain-button:active .button-text {
  vertical-align: baseline;
  margin: 0;
}
.header-bordercolor{
	display: none !important;
}
/*
#tab-rightSideImage-content:after{
	content: "Prices are subject to change without notice.*";
	font-style: italic;
	color: #9c9c9c;
	position: relative;
	float: right;
	top: -320px;
	font-weight: normal;
	left: -17%;
	font-size: 13px;
}
*/

/*START move checkbox to left*/

/*
.appSw_plgm .attribute-label-container label{
    position: absolute;
    left: 20px;
}
.mATLABBundle_pfks .attribute-label-container label{
    position: absolute;
    left: 37px;
}
*/
 .appSw_plgm .attribute-inner {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
 .mATLABBundle_pfks .attribute-inner {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.required .attribute-label, .attribute-label {
    padding-left: 0px;
    font-size: 10pt !important;
 font-weight: normal; /*for unbold of booleans*/
}
.column{
                   min-height: 0px;
}
.attribute-label-container:nth-child   
 {
 color: red;
}
/*END move checkbox to left*/

body.model-config #sticky-actions{
width: 50% !important;
}

.ksImage > img{
        max-height: 150px !important;
}
.side-bar-content {
	width: 30% !important;
	padding-top: 10px;
	}
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
body.model-config #main-table-wrapper {
  width: 100%;
  position: absolute;
  top: 200px;
  min-width: 880px;
}
body.model-config .tab-header {
  position: absolute;
  top: -180px;
  width: 70%;
}
body.model-config ul.tab-strip {
  position: absolute;
  width: 100% !important;
  text-align: center;
  top: -120px;
  margin-top: 0;
}
body.model-config .tab-content {
  border-top: 0;
  position: static;
}
body.model-config ul.tab-strip li {
  margin-left: 0;
  margin-right: 0;
}
body.model-config .tab-strip .tab-left {
  margin-left: -10px;
}
body.model-config #main-content {
  padding-right: 20px;
}
body.model-config #sidebarHTML h3 {
  margin-top: 4px !important;
}
body.model-config #ksPriceHTML {
  font-size: 26px;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}
body.model-config .tab-header span.selectionRequired {
  left: auto;
  right: 35px;
  font-style: italic;
  color: #343434;
}
body.model-config .side-bar-content:before {
  display: block;
  text-align: right;
  top: -270px;
}
body.model-config #imgDiv {
  text-align: center;
  min-height: 110px !important;
}
body.model-config #imgDiv img {
  margin: 0 0 18px 0 !important;
  width: 220px !important;
  height: 110px !important;
}
body.model-config .attribute .ksPrice, body.model-config .attribute .ksOption {
  min-width: 100px;
}
body.model-config .row .column-0.empty-column + .column > .attribute {
  margin-left: 30px;
}
body.model-config .row .column-0.empty-column + .column > .attribute:first-child {
  margin-top: 2px;
}
body.model-config .row .column-0.empty-column + .column > .attribute + .attribute {
  margin-bottom: 12px;
}
body.model-config .side-bar-content {
  padding-top: 235px !important;
}
body.model-config #tab-rightSideImage-content {
  top: -10px;
}
body.model-config .tab-header span.selectionRequired {
  top: 143px;
}
#tab-rightSideImage-content {
  margin-top: 0;
}

#mandatory-parts
{
bottom: 30px;
position: relative;
}
/*

#mandatory-parts
{
bottom: -30px;
position: relative;
}
*/