#tab-defaultTab {
    display: block !important;
}

.adv-grid-cell.Quantity{
	padding-left: 10px !important;
}

.discoNotes {
    color: black;
    border: 2px;
    border-color: black;
    padding: 10px;
    background-color: #f9f9f9;
}

/*START: layout array set*/

.cell-itemCodeBertServicesArrAttr_c,
.cell-itemCodeAccessoriesArrAttr_pl24,
.cell-itemCodeISIChannelArrAttr_pl24,
.cell-itemCodeFilterArrAttr_pl24,
.cell-itemCodeBertServicesArrAttr,
.cell-itemCodeBertServicesArrAttr_c,
.cell-softwareLicenseItemCodeArrAttr,
.cell-systemSoftwareItemCodeArrAttr,
.cell-m8000softwareLicenseItemCodeArrAttr ,
.cell-documentItemCodeArrAttr_pl24,
.cell-upgradeItemCodeArrAttr1,
.cell-upgradeItemCodeArrAttr2,
.cell-upgradeItemCodeArrAttr3,
.cell-upgradeItemCodeArrAttr4,
.cell-upgradeItemCodeArrAttr5
{
	display: none !important;
}
.cell-quantityAccessoriesArrAttr_pl24,
.cell-quantityISIChannelArrAttr_pl24,
.cell-quantityFilterArrAttr_pl24,
.cell-quantityBertServicesArrAttr,
.cell-quantityBertServicesArrAttr_c,
.cell-softwareLicenseQuantityArrAttr,
.cell-systemSoftwareQuantityArrAttr,
.cell-m8000softwareLicenseQuantityArrAttr ,
.cell-documentQuantityArrAttr_pl24,
.cell-upgradeQuantityArrAttr1,
.cell-upgradeQuantityArrAttr2,
.cell-upgradeQuantityArrAttr3,
.cell-upgradeQuantityArrAttr4,
.cell-upgradeQuantityArrAttr5{
	width: 5% !important;
}

.cell-quantityAccessoriesArrAttr_pl24 .attribute-field-container,
.cell-quantityISIChannelArrAttr_pl24 .attribute-field-container,
.cell-quantityFilterArrAttr_pl24 .attribute-field-container,
.cell-quantityBertServicesArrAttr .attribute-field-container,
.cell-quantityBertServicesArrAttr_c .attribute-field-container,
.cell-softwareLicenseQuantityArrAttr .attribute-field-container,
.cell-systemSoftwareQuantityArrAttr .attribute-field-container,
.cell-m8000softwareLicenseQuantityArrAttr .attribute-field-container,
.cell-documentQuantityArrAttr_pl24 .attribute-field-container,
.cell-upgradeQuantityArrAttr1 .attribute-field-container,
.cell-upgradeQuantityArrAttr2 .attribute-field-container,
.cell-upgradeQuantityArrAttr3 .attribute-field-container,
.cell-upgradeQuantityArrAttr4 .attribute-field-container,
.cell-upgradeQuantityArrAttr5 .attribute-field-container{
	min-width: 30px !important;
	max-width: 30px !important;
}
.cell-quantityAccessoriesArrAttr_pl24 .attribute-field,
.cell-quantityISIChannelArrAttr_pl24 .attribute-field,
.cell-quantityFilterArrAttr_pl24 .attribute-field,
.cell-quantityBertServicesArrAttr .attribute-field,
.cell-quantityBertServicesArrAttr_c .attribute-field,
.cell-softwareLicenseQuantityArrAttr .attribute-field,
.cell-systemSoftwareQuantityArrAttr .attribute-field,
.cell-m8000softwareLicenseQuantityArrAttr .attribute-field,
.cell-documentQuantityArrAttr_pl24 .attribute-field,
.cell-upgradeQuantityArrAttr1 .attribute-field,
.cell-upgradeQuantityArrAttr2 .attribute-field,
.cell-upgradeQuantityArrAttr3 .attribute-field,
.cell-upgradeQuantityArrAttr4 .attribute-field,
.cell-upgradeQuantityArrAttr5 .attribute-field{
    width: 100% !important;
}
.cell-accessoriesArrAttr_pl24,
.cell-isichannelArrAttr_pl24,
.cell-filter,
.cell-bERTServicesArrAttr,
.cell-bERTServicesArrAttr_c,
.cell-softwareLicenseArrAttr,
.cell-m8000SystemSoftwareArrAttr,
.cell-m8000SoftwareLicense,
.cell-documentsArrAttr,
.cell-upgradeArrAttr1,
.cell-upgardeArrAttr2,
.cell-upgradeArrAttr3,
.cell-upgradeArrAttr4,
.cell-upgardeArrAttr5{
	width: 55% !important;
}

.cell-accessoriesArrAttr_pl24.attribute-field-container,
.cell-isichannelArrAttr_pl24.attribute-field-container,
.cell-filter.attribute-field-container,
.cell-bERTServicesArrAttr.attribute-field-container,
.cell-bERTServicesArrAttr_c.attribute-field-container,
.cell-softwareLicenseArrAttr.attribute-field-container,
.cell-m8000SystemSoftwareArrAttr.attribute-field-container,
.cell-m8000SoftwareLicense.attribute-field-container,
.cell-documentsArrAttr.attribute-field-container,
.cell-upgradeArrAttr1.attribute-field-container,
.cell-upgardeArrAttr2.attribute-field-container,
.cell-upgradeArrAttr3.attribute-field-container,
.cell-upgradeArrAttr4.attribute-field-container,
.cell-upgardeArrAttr5.attribute-field-container{
	margin-top: 3px !important;
}

.cell-accessoryPartArrAttr_pl24,
.cell-priceAccessoriesArrAttr_pl24,
.cell-totalPriceAccessoriesArrAttr_pl24,
.cell-priceISIChannelArrAttr_pl24,
.cell-totalPriceISIChannelArrAttr_pl24,
.cell-itemISIChannelArrAttr_pl24,
.cell-filterPartArrAttr_pl24,
.cell-priceFilterArrAttr_pl24,
.cell-totalPriceFilterArrAttr_pl24,
.cell-bertServicesPartArrAttr_pl24,
.cell-priceBertServicesArrAttr_pl24,
.cell-totalPriceBertServicesArrAttr,
.cell-bertServicesPartArrAttr_c,
.cell-priceBertServicesArrAttr_c,
.cell-totalPriceBertServicesArrAttr_c,
.cell-softwareLicensePartArrAttr,
.cell-softwareLicensePriceArrAttr,
.cell-softwareLicenseTotalPriceArrAttr,
.cell-systemsoftwarePartArrAttr,
.cell-systemSoftwarePriceArrAttr,
.cell-systemSoftwareTotalPriceArrAttr,
.cell-M8000softwareLicensePartArrAttr,
.cell-M8000softwareLicensePriceArrAttr,
.cell-m8000softwareLicenseTotalPriceArrAttr,
.cell-documentPartArrAttr_pl24,
.cell-documentPriceArrAttr_pl24,
.cell-documentTotalPriceArrAttr_pl24,
.cell-upgradePartArrAttr1,
.cell-upgradePriceArrAttr1,
.cell-upgradeTotalPriceArrAttr1,
.cell-upgradePartArrAttr2,
.cell-upgradePriceArrAttr2,
.cell-upgradeTotalPriceArrAttr2,
.cell-upgradePartArrAttr3,
.cell-upgradePriceArrAttr3,
.cell-upgradeTotalPriceArrAttr3,
.cell-upgradePartArrAttr4,
.cell-upgradePriceArrAttr4,
.cell-upgradeTotalPriceArrAttr4,
.cell-upgradePartArrAttr5,
.cell-upgradePriceArrAttr5,
.cell-upgradeTotalPriceArrAttr5{
	width: 13% !important;	
}

#accessoriesArraySet_pl24 tr th[scope="row"],
#iSIChannelArraySet_pl24 tr th[scope="row"],
#filterArraySet tr th[scope="row"],
#bERTServicesArraySet tr th[scope="row"],
#bERTServicesArraySet_c tr th[scope="row"],
#systemSoftwareArraySet tr th[scope="row"],
#softwareLicenseArraySet tr th[scope="row"],
#m8000SoftwareLicenseArraySet tr th[scope="row"],
#documentArraySet tr th[scope="row"],
#upgradeArraySet1 tr th[scope="row"],
#upgradeArraySet2 tr th[scope="row"],
#upgradeArraySet3 tr th[scope="row"],
#upgradeArraySet4 tr th[scope="row"],
#upgradeArraySet5 tr th[scope="row"]{
    display: none !important;
}
#accessoriesArraySet_pl24 tr th:first-child ,
#iSIChannelArraySet_pl24 tr th:first-child ,
#filterArraySet tr th:first-child ,
#bERTServicesArraySet tr th:first-child ,
#bERTServicesArraySet_c tr th:first-child ,
#systemSoftwareArraySet tr th:first-child,
#softwareLicenseArraySet tr th:first-child,
#m8000SoftwareLicenseArraySet tr th:first-child,
#documentArraySet tr th:first-child,
#upgradeArraySet1 tr th:first-child,
#upgradeArraySet2 tr th:first-child,
#upgradeArraySet3 tr th:first-child,
#upgradeArraySet4 tr th:first-child,
#upgradeArraySet5 tr th:first-child{
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*END - layout array set*/

.message.constraint-message {
    background-color: #ffefff;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 12px !important;
}

.array .messages td ,
.array tr td.recommended, .array tr td.constrained, .array tr td.previous-value {
    background-color: #ffffff !important;
}

.tab-header {
    display: block !important;
    position: absolute;
    top: -85px;
    color: gray;
    font-size: 20px;
    font-weight: normal;
	width: 100%;
}

.tab-header::before {
    content: "Selection Required";
    color: #555555;
    font-size: 13px;
    float: right;
    /* margin-top: 100px; */
    top: 140px;
    position: relative;
    padding-right: 20px;
    font-style: italic;
}


.tab-header::after {
    content: "*";
    color: #E90029;
    font-size: 13px;
    float: right;
    /* margin-top: 100px; */
    top: 140px;
    position: relative;
    padding-right: 0px;
    font-style: italic;
}
.message.constraint-message {
    display: none;
}

.ksModelHeader {
    font-size: 20px !important;
    float: left;
    color: #a4a4a4;
}

/*.selectedConfigPrice{
	float: right;
	/*margin-right: 15px;
}*/

.tab-left .tab-right .tab-text {
    background-color: #fff !important;
}
.tab-left .tab-right .tab-text:hover {
    background-color: #efefef !important;
	color: #4b4b4b !important;
}
.tab-left:hover .tab-text{
    background-color: #efefef !important;
	color: #4b4b4b !important;
}

.tab-text:hover{
    background-color: #efefef !important;
	color: #4b4b4b !important;
}
.tab-active .tab-left .tab-right .tab-text {
    background-color: #5b5b5b !important;
}

#config-header {
    display: none;
}

input[checked="checked"] + label {
    font-weight: bold !important;
}

.tab-strip .tab-left {
    background: #fff !important;
    padding-left: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.tab-strip .tab-left:hover {
    background-color: #efefef !important;
	color: #4b4b4b;
}

.tab-strip .tab-active a.tab-left, .tab-strip .tab-active a.tab-left .tab-inner {
    background-color: #5b5b5b !important;
}

.tab-content {
    padding: 3px;
    border-top: 2px solid #5b5b5b;
}

.grid.accessories, .grid.adapter, .grid.addlCables, .grid.addlDoc, .grid.appEnh, .grid.appSw, .grid.arbWaveform, .grid.audioAnalyzerOptions, 
.grid.batteries, .grid.bluetoothCertLabelOpt, .grid.bundHwUpg, .grid.bundlingOptions, .grid.cables, .grid.calibration, .grid.channelConfig, 
.grid.cmBundleOptions, .grid.combOfMaterials, .grid.combOptions, .grid.connector, .grid.coverForHwOptions, .grid.csrNotes, .grid.custSol, 
.grid.distributionDemoOption, .grid.doc, .grid.firmwareOption, .grid.flyerOptions, .grid.freqPerf, .grid.freqRange, .grid.gPIB, .grid.hiddenSw, 
.grid.hwOptions, .grid.iBASICDoc, .grid.intDMM, .grid.maxPowerOptions, .grid.maxRMSACInpVolt, .grid.measurementTerminals, .grid.memory, 
.grid.memoryUpg, .grid.microwave, .grid.nVRAMMemoryUpg, .grid.oldOptions, .grid.optionalKitItems, .grid.powerCords, .grid.prodAsst, 
.grid.readingMemory, .grid.rearInputTerminals, .grid.recalServPlan, .grid.recalServPlanHwUpg, .grid.regionalDistributionCenter, 
.grid.rSDDemoOption, .grid.serviceCountry, .grid.software, .grid.specialAddendumSheet, .grid.specialOptionsForKenwood, .grid.country,
.grid.specialsForHighSpeedPassFail, .grid.stdShipAccWty, .grid.swDel, .grid.timebase, .grid.upgOptions, .grid.uSArmyColorCode, .grid.voltage, 
.grid.voltRef, .grid.wtyAndServPlan, .grid.gmModel, .grid.usageType, .grid.includedOptions, .grid.addOnOpt, .grid.calSensorOpt, .grid.custOpt, 
.grid.custmzdOpt, .grid.dataStorage, .grid.demoUseOnly, .grid.dummyOpt, .grid.eduKit, .grid.hiddenOpt, .grid.label, .grid.module, .grid.optConfig,
.grid.peakPwrAnlyzr, .grid.perpLicense, .grid.powerSensor, .grid.swApp, .grid.swLicense, .grid.swOpt, .grid.thermalSeal, .grid.uSBHostOpt,
.grid.LANCables, .grid.tVACLAN, .grid.triggerCables, .grid.refurbProd, .grid.isichannel, .grid.basicSelection,  .grid.moduleFunctionality,.grid.bitRateSel,
.grid.patGenRemoteHead, .grid.accessoriesqty, .grid.isichannelqty, .grid.M8041Asystems, .grid.M8051Asystems, .grid.M8061Asystems, .grid.M8062Asystems,
.grid.chassis, .grid.systemsoftware, .grid.controlleracc, .grid.filterqty, .grid.prodassist , .grid.systemSoftwareQty, .grid.softwareLicenseQty, .grid.m8000softwareLicenseQty,
.grid.csrNotessw, .grid.softwarelicense, .grid.dac, .grid.addOpt, .grid.upgrade, .grid.delivery, .grid.upgradessm, .grid.qty, .grid.upgradeqty1, 
.grid.upgradeqty2, .grid.upgradeqty3, .grid.upgradeqty4, .grid.upgradeqty5, .grid.dataRateUpgrades, .grid.controllerUpgrade, .grid.patternGenUpgrades, .grid.upgradedetailsM8062AU,
.grid.upgradedetailsM8020AU, .grid.errorremotehead, .grid.remotehead, .grid.warrantyExt, .grid.software1, .grid.software2, .grid.software3, .grid.software4, .grid.software5, .grid.hide, 
.grid.question, .grid.optsw, .grid.lpnqty, .grid.calibrationdoc, .grid.bundle, .grid.controllerOpt, .grid.spOpt, .grid.exclockOpt, .grid.inclockOpt, .grid.calServPlanPoverka,
.grid.docSSM , .grid.calibrationSSM, .grid.adminView, .grid.optPowerCables, .grid.M8045Asystems, .grid.M8046Asystems, .grid.multiplexer , .grid.deemphasis, .grid.nochassismsg, .grid.awgchannel, .grid.calibrationdocmulti, .grid.appSwSSM
{
    display: none;
}


#cSRNotes_pfks {
    color: red;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
    font-weight: bold;
}

#gPIB_plgm_Standard_with_no_GPIB,
label[for="gPIB_plgm_Standard_with_no_GPIB"]{
	display: none;
}

#swDelivery_pfks .ksOption, #swDelivery_pfks .ksPrice {
    width: 15% !important;
}

/*Hide System Recommendations*/
.message.recommendation-message{
	display: none;
}
/*set the font for attr options, HTML labels, field containers, tabs*/
.group-option {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.read-only-html {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 12px !important;
}
.attribute-field-container {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px !important;
	color: black;
}
.tab-strip .tab-active a.tab-left .tab-text {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
}
/*remove none from options - radio button*/
label[for="freqPerf_plgm_"], #freqPerf_plgm_,
label[for="uSArmyColorCode_plgm_"], #uSArmyColorCode_plgm_,
label[for="customSolutions_pfks_"],#customSolutions_pfks_,
label[for="measurementTerminals_plgm_"],#measurementTerminals_plgm_,
label[for="oldOptions_plgm_"],#oldOptions_plgm_,
label[for="freqRange_plgm_"],#freqRange_plgm_,
label[for="nVRAMMemoryUpg_plgm_"],#nVRAMMemoryUpg_plgm_,
label[for="intDMM_plgm_"],#intDMM_plgm_,
label[for="maxRMSACInpVolt_plgm_"],#maxRMSACInpVolt_plgm_,
label[for="specialsForHighSpeedPassFail_plgm_"],#specialsForHighSpeedPassFail_plgm_,
label[for = "voltage_plgm_"], #voltage_plgm_,
label[for = "distributionDemoOption_plgm_"], #distributionDemoOption_plgm_,
label[for = "bundlingOptions_plgm_"], #bundlingOptions_plgm_,
label[for = "coverForHwOptions_plgm_"], #coverForHwOptions_plgm_,
label[for = "audioAnalyzerOptions_plgm_"], #audioAnalyzerOptions_plgm_,
label[for = "specialOptionsForKenwood_plgm_"], #specialOptionsForKenwood_plgm_,
label[for = "connector_plgm_"], #connector_plgm_,
label[for = "cables_plgm_"], #cables_plgm_,
label[for = "flyerOptions_plgm_"],#flyerOptions_plgm_,
label[for = "stdShipAccWty_plgm_"], #stdShipAccWty_plgm_,
label[for = "readingMemory_plgm_"], #readingMemory_plgm_,
label[for = "voltRef_plgm_"], #voltRef_plgm_,
label[for = "batteries_plgm_"], #batteries_plgm_,
label[for = "microwave_plgm_"], #microwave_plgm_, 
label[for = "rearInputTerminals_plgm_"], #rearInputTerminals_plgm_,
label[for = "doc_pfks_"], #doc_pfks_,
label[for = "wtyAndServPlan_pfks_"], #wtyAndServPlan_pfks_,
/*label[for = "powerCords_pfks_"], #powerCords_pfks_,*/
label[for = "timebase_plgm_"], #timebase_plgm_, 
label[for = "arbWaveform_plgm_"], #arbWaveform_plgm_, 
label[for = "swDelivery_pfks_"], #swDelivery_pfks_,
label[for = "basicSelection_pl24_"], #basicSelection_pl24_,
label[for = "iSIChannels_pl24_"], #iSIChannels_pl24_,
label[for = "channelConfig_plgm_"], #channelConfig_plgm_{
    display: none;
}


ul.tab-strip li {
    margin-right: 1px;
    border-style: solid;
    border-top-width: 7px;
    border-top-color: #cfcfcf;
	border-right-color: #cfcfcf !important;
	border-right-width: 1px;
}

/*to change appearance of radio button to checkbox*/
input[name="calibration_pfks"] {
/*    -webkit-appearance: checkbox; /*Chrome, Safari, Opera*/
/*    -moz-appearance: checkbox;    /* Firefox */
/*    -ms-appearance: checkbox;     /* not currently supported */
}

#pipeline-viewer-opener{
	padding: 4px;
	/*display: none;*/
}
#pipeline-viewer-opener a{
	font-size: 12px;
}
.tab-strip .tab-right{
	padding: 0px;
}
ul.tab-strip li{
	margin-right: 1px;
}
.tab-strip li{
	padding: 0 0px;
}
.tab-strip .tab-text {
    padding: 0px;
    font-size: 12px !important;
    font-weight: 600;
    background: transparent url() no-repeat right 0;
    padding-right: 25px;
	padding-left: 15px;
}
.tab-strip .tab-inner {
    background: #5b5b5b url() repeat-x 0 0;
}
.tab-inner, .tab-right {
    padding-right: 0px;
}
.tab-strip a.tab-left {
    border-radius: 0 0 0 0;
}
.model-config .group-header {
    font-size: 13px !important;
    font-weight: 600 !important;
    line-height: 14px;
}
.group-header {
    background-color: #DFDFDF !important;
    padding: 6px;
    border-radius: 0px;
    font-weight: 600 !important;
}
.model-config .group-header:hover {
    color: #2A4BDA !important;
    background-color: rgba(204, 208, 228, 0.49) !important;
}
.model-config .group-content.collapsed .group-header span {
    font-weight: 600 !important;
}
.required .attribute-label, .attribute-label {
    font-size: 10pt !important;
}
.model-config .group-content .group-header span {
    padding-left: 18px;
    background: url("/img/config/arrow-expanded.png") no-repeat 0 50%;
	color:black;
	font-weight: 600 !important;
}
.adv-grid-row:hover{
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
	background-color: #F0F0F0 !important;
	font-weight: bold !important;
	color: black !important;
}
.adv-grid-row:hover .adv-grid-cell.Price{
	color: red !important;
}

.constrained.group-option {
	display:none;
}

.group-option:hover{
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
	background-color: #F8F8F8 !important;
	font-weight: bold !important;
}

.model-config .group-content.collapsed .group-header span {
    padding-left: 18px;
    background: url("/img/config/arrow-collapsed.png") no-repeat 0 50%;
}
.group-content.collapsed .group-header{
	background-color: #CFCFCF !important;
}
#navbar ul > li {
    margin: 3px 5px;
}
#active-constraints{
	display: none !important;
}
.tab-strip .tab-active a.tab-left .tab-text {
    color: #FFFFFF !important;
}
.model-config .group-header {
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
}

/*Mandatory Parts Section - Column Display*/
.adv-grid-header-cell.checkbox, .adv-grid-cell.checkbox,
.adv-grid-header-cell.part_number, /*.adv-grid-cell.part_number,*/
.adv-grid-header-cell.Quantity, /*.adv-grid-cell.Quantity,*/
.adv-grid-header-cell.field2, .adv-grid-header-cell.field2.header, .adv-grid-cell.field2,
.adv-grid-header-cell.field3, .adv-grid-header-cell.field3.header, .adv-grid-cell.field3,
.adv-grid-header-cell.field4, .adv-grid-header-cell.field4.header, .adv-grid-cell.field4,
.adv-grid-header-cell.field5, .adv-grid-header-cell.field5.header, .adv-grid-cell.field5,
.adv-grid-header-cell.part_display_number, .adv-grid-header-cell.part_display_number.header, .adv-grid-cell.part_display_number,
.adv-grid-header-cell.description, .adv-grid-header-cell.Price,
.adv-grid-header-cell.company_associations, .adv-grid-header-cell.company_associations.header, .adv-grid-cell.company_associations,
.adv-grid-header-cell.field6, .adv-grid-header-cell.field6.header, .adv-grid-cell.field6,
.adv-grid-header-cell.field8, .adv-grid-header-cell.field8.header, .adv-grid-cell.field8,
.adv-grid-header-cell.field9, .adv-grid-header-cell.field9.header, .adv-grid-cell.field9,
.adv-grid-header-cell.field10, .adv-grid-header-cell.field10.header, .adv-grid-cell.field10,
.adv-grid-header-cell.field11, .adv-grid-header-cell.field11.header, .adv-grid-cell.field11,
.adv-grid-header-cell.field12, .adv-grid-header-cell.field12.header, .adv-grid-cell.field12,
.adv-grid-header-cell.field13, .adv-grid-header-cell.field13.header, .adv-grid-cell.field13,
.adv-grid-header-cell.field14, .adv-grid-header-cell.field14.header, .adv-grid-cell.field14,
.adv-grid-header-cell.field15, .adv-grid-header-cell.field15.header, .adv-grid-cell.field15,
.adv-grid-header-cell.field18, .adv-grid-header-cell.field18.header, .adv-grid-cell.field18,
.adv-grid-header-cell.field19, .adv-grid-header-cell.field19.header, .adv-grid-cell.field19,
.adv-grid-header-cell.field20, .adv-grid-header-cell.field20.header, .adv-grid-cell.field20,
.adv-grid-header-cell.field21, .adv-grid-header-cell.field21.header, .adv-grid-cell.field21,
.adv-grid-header-cell.field22, .adv-grid-header-cell.field22.header, .adv-grid-cell.field22,
.adv-grid-header-cell.field23, .adv-grid-header-cell.field23.header, .adv-grid-cell.field23,
.adv-grid-header-cell.field24, .adv-grid-header-cell.field24.header, .adv-grid-cell.field24,
.adv-grid-header-cell.field25, .adv-grid-header-cell.field25.header, .adv-grid-cell.field25,
.adv-grid-header-cell.field26, .adv-grid-header-cell.field26.header, .adv-grid-cell.field26,
.adv-grid-header-cell.field27, .adv-grid-header-cell.field27.header, .adv-grid-cell.field27,
.adv-grid-header-cell.field28, .adv-grid-header-cell.field28.header, .adv-grid-cell.field28,
.adv-grid-header-cell.field29, .adv-grid-header-cell.field29.header, .adv-grid-cell.field29,
.adv-grid-header-cell.field30, .adv-grid-header-cell.field30.header, .adv-grid-cell.field30
{
	display: none;
}

.ksImage{
/*	border-bottom: 1px solid #AAAAAA !important;
	border-top: 1px solid #AAAAAA !important;
	border-left: 1px solid #AAAAAA !important;
	border-right: 1px solid #AAAAAA !important;
*/
}

#ksCustomHTML{
	padding-left: 15px;
}

.tab-strip .tab-text{
	color: red !important;
}
.tab-strip .tab-active a.tab-left .tab-text {
    color: #FFF !important;
}

div.main-model {
  display: none;
}

#ksPriceHTML, #ksPriceHTML1, #ksPriceHTML2, #ksPriceHTML3{
	font-size: 18px;
	font-weight: bold;
	color: #555555;
	padding-left: 40%;
}

.view-text, .form-input, .form-input select, .form-input-modified, .form-input-selected, .form-input-mouseover, .form-item input, .form-item select, .form-item textarea, .form-item .menu-attr label, .attribute-field, .cfg-image-menu {
    font-size: 10pt;
 }
 
 .unreset {
    font-size: 10pt;
}

table.spare-grid td {
    font-size: 10pt;
}

#tab-hiddenAttributes_plgm,
#tab-rightSideImage{
	display: none !important;
}
#tab-rightSideImage-content{
	display: block !important;
	position: absolute;
	top: -10px;
	right: 0;
	width: 30%;
	height: 200px;
	background-color: transparent;
}

#tab-rightSideImage-content img{
	width: 250px;
	height: 150px;
}
.side-bar-content{
	padding-top: 280px !important;
}
.commerce-bordercolor, .commerce-bordercolor .topcolor, .admin-bordercolor, .admin-bordercolor .topcolor, .header-bordercolor, #main-nav, #sub-nav{
	border-bottom-color: #F0F0F0;
}
.commerce-bordercolor table{
	display: none;
}

.items-header{
	border: solid 0px #666 !important;
}
.view-header {
    background-color: #cfcfcf !important;
	display: none; 
}
.items-table-content {
	border-width: 0 0 0 0 !important;
}
table.spare-grid th {
    border-right: #ccc solid 0px !important;
}
table.spare-grid td {
	border-right: #eee solid 0px !important;
}
td.adv-grid-cell {
    border-bottom: 0px solid #DDD !important;
}
.spare-grid {
    border-width: 0px !important;
}
.side-bar-content {
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
}
table.spare-grid td {
    font-size: 12px !important;
}
.unreset h3 {
    margin: 0em 0 !important;
}

table.pricing-content td.numeric {
    text-align: center;
}

#pricing-table-wrapper{
	display: none !important;
}

.grand-total-container {
    display: none !important;
}
#mandatory-parts-wrapper .items-header.view-header {
    display: none;
}
#main-content {
    width: 70% !important;
}
.vertical .group-option {
    padding-bottom: 6px !important;
}

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
body.model-config {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  color: #343434 !important;
  line-height: 1.3 !important;
  font-size: 13px;
}
body.model-config td, body.model-config input {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 100%;
}
body.model-config div {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
}
body.model-config a:link {
  color: #e90029;
  cursor: pointer;
  text-decoration: none;
}
body.model-config a:visited {
  color: #891518;
}
body.model-config a:hover {
  text-decoration: underline;
}
body.model-config a:active {
  color: #e90029;
}
body.model-config .tab-header {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #555555;
}
body.model-config .tab-strip .tab-active a.tab-left .tab-text,
body.model-config .tab-strip .tab-text {
  color: #FFFFFF;
  font-weight: Bold;
  font-style: Normal;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px !important;
  text-decoration: none;
  line-height: normal;
  padding: 10px 20px !important;
  padding-top: 17px !important;
  border-top: 7px solid #dbdbdb;
  height: 23px;
}
body.model-config .tab-strip .tab-active a.tab-left .tab-text {
  border-top-color: #019642;
}
body.model-config a.tab-left:hover {
  text-decoration: none;
}
body.model-config .tab-strip .tab-left:hover {
  color: #343434;
}
body.model-config .tab-left:hover .tab-text {
  background-color: #f8f8f8 !important;
}
body.model-config .tab-left .tab-right .tab-text:hover {
  background-color: #f8f8f8 !important;
}
body.model-config .tab-strip .tab-left {
  padding: 0 0 0 10px !important;
  background: transparent;
}
body.model-config .tab-active .tab-left .tab-right .tab-text {
  background-color: #343434 !important;
}
body.model-config .tab-strip .tab-active a.tab-left, body.model-config .tab-strip .tab-active a.tab-left .tab-inner {
  background-color: transparent !important;
}
body.model-config .tab-content {
  border-top: 0;
  position: relative;
  top: -122px;
}
body.model-config ul.tab-strip li {
  border-top-width: 0;
  border-right-width: 0;
}
body.model-config ul.tab-strip li {
  margin-left: -10px;
}
body.model-config ul.tab-strip {
  height: 58px;
  overflow: hidden;
  width: 100%;
  border-left: 1px solid #9c9c9c;
}
body.model-config ul.tab-strip li a {
  background: url("/bmfsweb/devkeysight/image/Icons/sprite.png") no-repeat 0 0 !important;
  border-right: 1px solid #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
}
body.model-config ul.tab-strip li:hover.tab-active a,
body.model-config ul.tab-strip li.tab-active a {
  background-position: 0 -240px !important;
}
body.model-config ul.tab-strip li:hover a {
  background-position: 0 -60px !important;
}
body.model-config ul.tab-strip li a.tab-left:hover {
  background-color: transparent !important;
}
body.model-config ul.tab-strip {
  margin-top: 20px;
}
body.model-config .tab-header {
  top: -105px;
}
body.model-config .group-content {
  margin: 0;
}
body.model-config .group-inner,
body.model-config .group-header {
  margin: 0;
  border: 1px solid #9c9c9c !important;
  margin-bottom: -1px;
}
body.model-config .group-header {
  background-color: #f8f8f8 !important;
}
body.model-config .group-content.collapsed .group-header {
  background-color: #e8e8e8 !important;
}
body.model-config .group-content .group-header span {
  color: #343434;
  font-size: 13px;
}
body.model-config input[checked="checked"] + label {
  font-weight: normal !important;
}
body.model-config .view-text, body.model-config .form-input, body.model-config .form-input select, body.model-config .form-input-modified, body.model-config .form-input-selected, body.model-config .form-input-mouseover,
body.model-config .form-item input, body.model-config .form-item select, body.model-config .form-item textarea, body.model-config .form-item .menu-attr label,
body.model-config .attribute-field, body.model-config .attribute-field-picklist, body.model-config .cfg-image-menu, body.model-config cfg-image-picklist, body.model-config .ui-image-combobox-input {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #343434;
  font-weight: normal;
}
body.model-config .group-option:hover {
  border: 0 !important;
  background-color: transparent !important;
  font-weight: normal !important;
}
body.model-config .attribute-inner {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
body.model-config #attribute-sidebarHTML .attribute-inner {
  padding: 20px 15px 20px;
}
body.model-config .attribute-field-container > div > span,
body.model-config .attribute-field-container > div > div {
  /* padding-left: 20px; */
  width: auto !important;
  padding-bottom: 5px !important;
}
body.model-config .attribute-field-container > select {
  margin-left: 20px;
}
body.model-config .attribute-field-container > div#sidebarHTML > div {
  padding-left: 0;
}
body.model-config .read-only-html {
  font-size: 13px;
}
body.model-config .tab-header::after {
  font-style: italic;
}
body.model-config .group-content .group-header span {
  background-image: url("/bmfsweb/devkeysight/image/Icons/minus.png");
}
body.model-config .group-content.collapsed .group-header span {
  background-image: url("/bmfsweb/devkeysight/image/Icons/plus.png");
}
body.model-config #sidebarHTML h3 {
  font-size: 14px;
  margin-bottom: 20px !important;
}
body.model-config #sidebarHTML h4 {
  font-size: 12px;
  background-color: #f0f0f0 !important;
  padding: 5px 15px !important;
}
body.model-config .side-bar-content {
  border-color: #9c9c9c !important;
}
body.model-config .selectedConfigPrice ,
body.model-config .selectedConfigQty {
  padding-left: 0;
  float: right;
}
body.model-config .adv-grid-row {
  border: 0 !important;
  border-bottom: 1px solid #dbdbdb !important;
}
body.model-config .adv-grid-row:hover {
  border-bottom: 1px solid #dbdbdb !important;
  background: transparent !important;
  font-weight: normal !important;
  color: #343434 !important;
}
body.model-config .adv-grid-row td {
  padding: 15px 3px;
}
body.model-config .adv-grid-row:hover .adv-grid-cell.Price {
  color: #343434 !important;
}
body.model-config .items-table-content {
  padding: 15px 30px;
}
body.model-config .button-right,
body.model-config .button-left {
  display: none;
}
body.model-config .button-middle {
  background: none;
}
body.model-config .button-middle a.button-text {
  font-size: 13px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #af1326;
  border-bottom-width: 3px;
  background: #e90029;
  color: white;
}
body.model-config .button-middle a.button-text:hover {
  text-decoration: none;
  background: #d51a28;
}

#attribute-countryOfUse_pfks .attribute-label-container{
	width: 8% !important;
}

.column{
	width: 100% !important;
}
body.model-config {
  min-width: 1000px;
}
body.model-config .selectedConfigPrice,
body.model-config .selectedConfigQty  {
  padding-left: 20px !important;
}
body.model-config .tab-header {
  position: relative;
    top: -130px;
    padding-left: 15px;
}
body.model-config .button-bar {
  margin-top: 20px;
}
body.model-config .tab-header::after {
  float: none;
  position: absolute;
  right: 15px;
  top: 140px;
}
body.model-config ul.tab-strip {
  margin-top: 20px;
  position: relative;
  top: -140px;
  z-index: 1;
}
body.model-config .tab-active .tab-left:hover .tab-text {
  color: white !important;
}
body.model-config #sticky-actions {
  float: right;
  width: 35%;
}
body.model-config .button-middle a.button-text {
  display: inline-block;
}
body.model-config .plain-button:active .button-text {
  vertical-align: baseline;
  margin: 0;
}
.header-bordercolor{
	display: none !important;
}

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
body.model-config #main-table-wrapper {
  width: 100%;
  position: absolute;
  top: 220px;
}

body.model-config .selectedConfigPrice,
body.model-config .selectedConfigQty {
  padding-left: 10px !important;
}

body.model-config .tab-header {
  position: absolute;
  top: -200px;
  width: 70%;
}
body.model-config ul.tab-strip {
  position: absolute;
  width: 100% !important;
  text-align: center;
  top: -120px;
  margin-top: 0;
}
body.model-config .tab-content {
  border-top: 0;
  position: static;
}
body.model-config .tab-header::before {
  top: 166px;
  right: 25px;
}
body.model-config .tab-header::after {
  top: 166px;
  right: 37px;
}
body.model-config #tab-rightSideImage-content::after {
  display: none;
}
/*body.model-config #tab-rightSideImage-content::before {
  content: "Indicative Prices Only.*";
  font-style: italic;
  color: #9c9c9c;
  position: absolute;
  top: -24px;
  font-weight: normal;
  font-size: 13px;
  text-align: right;
  display: block;
  width: 100%;
}*/
body.model-config ul.tab-strip li {
  margin-left: 0;
  margin-right: 0;
}
body.model-config .tab-strip .tab-left {
  margin-left: -10px;
}
body.model-config #tab-rightSideImage-content img {
  height: auto !important;
}
body.model-config #main-content {
  padding-right: 20px;
}
body.model-config #sidebarHTML h3 {
  margin-top: 4px !important;
}
body.model-config #ksPriceHTML {
  font-size: 26px;
  margin-bottom: 20px;
}

#recommendation-section{
    padding-top: 5%;
}	

.backbutton{
	background: #e8e8e8 !important;
    border: 1px #9c9c9c solid !important;
    color: #343434 !important; 
    border-bottom-width: 3px !important;
    margin: 10px !important;
}

.forwardbutton{	
    margin: 10px !important;
}
