/*For accessories start*/
#accessoriesArraySet_mod tr th[scope="row"] {
    display: none !important;
}
#accessoriesArraySet_mod tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*For accessories end*/

/*For Perpetual start*/
#perpetualLicenseArraySet tr th[scope="row"] {
    display: none !important;
}
#perpetualLicenseArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*For Perpetual end*/

/*For Documentation start*/
#documentationArraySet tr th[scope="row"] {
    display: none !important;
}
#documentationArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*For Documentation end*/

/*For Choose IQ Options  start*/
#chooseIQOptionsArraySet tr th[scope="row"] {
    display: none !important;
}
#chooseIQOptionsArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*For Choose IQ Options  end*/

/*For Monitoring Application   start*/
#monitoringApplicationArraySet tr th[scope="row"] {
    display: none !important;
}
#monitoringApplicationArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*For Monitoring Application   end*/

/*For Modulation Analysis start*/
#modulationAnalysisArraySet tr th[scope="row"] {
    display: none !important;
}
#modulationAnalysisArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*For Modulation Analysis end*/

/*For Generator start*/
#generatorArraySet tr th[scope="row"] {
    display: none !important;
}
#generatorArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*For Generator end*/

/*For Pre-amplifier start*/
#preamplifierArraySet tr th[scope="row"] {
    display: none !important;
}
#preamplifierArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*For Pre-amplifier  end*/

/*For Filter start*/
#filterArraySet tr th[scope="row"] {
    display: none !important;
}
#filterArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*For Filter end*/

/*For Attenuator start*/
#attenuatorArraySet tr th[scope="row"] {
    display: none !important;
}
#attenuatorArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*For Attenuator end*/

/*For Antenna start*/
#antennaArraySet tr th[scope="row"] {
    display: none !important;
}
#antennaArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*For Antenna end*/

/*For Attenuator end*/

/*For Adapter start*/
#adapterArraySet tr th[scope="row"] {
    display: none !important;
}
#adapterArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*For Adapter end*/

/*For Cable start*/
#cableArraySet tr th[scope="row"] {
    display: none !important;
}
#cableArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*For Cable end*/

/*For EMC Measurement start*/
#eMCMeasurementArraySet tr th[scope="row"] {
    display: none !important;
}
#eMCMeasurementArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/* Hide Array Text Attribute for Model N9311X*/
#arrayText_plcm,label[for = "arrayText_plcm"],
#attribute-arrayText_plcm.attribute-field-container
{
 display: none !important;
}

#attenuatorarrayText_plcm,label[for = "attenuatorarrayText_plcm"],
#attribute-attenuatorarrayText_plcm.attribute-field-container
{
 display: none !important;
}

#adapterarrayText_plcm,label[for = "adapterarrayText_plcm"],
#attribute-adapterarrayText_plcm.attribute-field-container
{
 display: none !important;
}

#cablearrayText_plcm,label[for = "cablearrayText_plcm"],
#attribute-cablearrayText_plcm.attribute-field-container
{
 display: none !important;
}

#eMCMeasurementarrayText_plcm,label[for = "eMCMeasurementarrayText_plcm"],
#attribute-eMCMeasurementarrayText_plcm.attribute-field-container
{
 display: none !important;
}

#calibratorarrayText_plcm,label[for = "calibratorarrayText_plcm"],
#attribute-calibratorarrayText_plcm.attribute-field-container
{
 display: none !important;
}

#filterarrayText_plcm,label[for = "filterarrayText_plcm"],
#attribute-filterarrayText_plcm.attribute-field-container
{
 display: none !important;
}

#enterChooseIQOptionsQunatity_N9310AK,label[for = "enterChooseIQOptionsQunatity_N9310AK"],
#attribute-enterChooseIQOptionsQunatity_N9310AK.attribute-field-container
{
 display: none !important;
}

#enterPerpetualQuantity,label[for = "enterPerpetualQuantity"],
#attribute-enterPerpetualQuantity.attribute-field-container
{
 display: none !important;
}


#enterMonitoringApplicationQunatity_N9330BK,label[for = "enterMonitoringApplicationQunatity_N9330BK"],
#attribute-enterMonitoringApplicationQunatity_N9330BK.attribute-field-container
{
 display: none !important;
}

#enterModulationAnalysisQunatity_N9340BK,label[for = "enterModulationAnalysisQunatity_N9340BK"],
#attribute-enterModulationAnalysisQunatity_N9340BK.attribute-field-container
{
 display: none !important;
}

#enterPreamplifierQunatity_N9340BK,label[for = "enterPreamplifierQunatity_N9340BK"],
#attribute-enterPreamplifierQunatity_N9340BK.attribute-field-container
{
 display: none !important;
}

#enterGeneratorQunatity_N9340BK,label[for = "enterGeneratorQunatity_N9340BK"],
#attribute-enterGeneratorQunatity_N9340BK.attribute-field-container
{
 display: none !important;
}

#enterAccessoriesQunatity_N9310AK,label[for = "enterAccessoriesQunatity_N9310AK"],
#attribute-enterAccessoriesQunatity_N9310AK.attribute-field-container
{
 display: none !important;
}

#enterDocumentationQunatity_N9310AK,label[for = "enterDocumentationQunatity_N9310AK"],
#attribute-enterDocumentationQunatity_N9310AK.attribute-field-container
{
 display: none !important;
}


/*For EMC Measurement end*/

/*For Calibrator start*/
#calibratorArraySet tr th[scope="row"] {
    display: none !important;
}
#calibratorArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*For Calibrator end*/
#tab-defaultTab {
    display: block !important;
}
.tab-header {
    display: block !important;
    position: absolute;
    top: -105px;
    color: gray;
    font-size: 20px;
    font-weight: normal;
                width: 100%;
}
/*
.tab-header span.selectionRequired{
 color: red;
    font-size: 13px;
    float: right;
    margin-top: -17px;
}
*/
/*
// updating the code for Selection Required
.tab-header span.selectionRequired{
 color: black;
    font-size: 13px;
    float: right;
	margin-top: 0px;
    position: absolute;
    top: 145px;
    left: 85%;

}
*/
.message.constraint-message {
    display: none;
}

.tab-left .tab-right .tab-text {
    background-color: #fff !important;
}
.tab-left .tab-right .tab-text:hover {
    background-color: #efefef !important;
                color: #4b4b4b !important;
}
.tab-left:hover .tab-text{
    background-color: #efefef !important;
                color: #4b4b4b !important;
}
.tab-text:hover{
    background-color: #efefef !important;
                color: #4b4b4b !important;
}
.tab-active .tab-left .tab-right .tab-text {
    background-color: #5b5b5b !important;
}
input[checked="checked"] + label {
    font-weight: bold !important;
}
.tab-strip .tab-left {
    background: #fff !important;
    padding-left: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
/*.tab-strip .tab-left:hover {
    background-color: #efefef !important;
                color: #4b4b4b;
*/
}
.tab-strip .tab-active a.tab-left, .tab-strip .tab-active a.tab-left .tab-inner {
    background-color: #5b5b5b !important;
}
.tab-content {
    padding: 3px;
    border-top: 2px solid #5b5b5b;
}
.tab-strip .tab-text {
    padding: 0px;
    font-size: 12px !important;
    font-weight: 600;
    background: transparent url() no-repeat right 0;
	
/* Hide Array Text Attribute for Model N9311X*/
#arrayText_plcm,label[for = "arrayText_plcm"],
#attribute-arrayText_plcm.attribute-field-container
{
 display: none !important;
}

#attenuatorarrayText_plcm,label[for = "attenuatorarrayText_plcm"],
#attribute-attenuatorarrayText_plcm.attribute-field-container
{
 display: none !important;
}

#adapterarrayText_plcm,label[for = "adapterarrayText_plcm"],
#attribute-adapterarrayText_plcm.attribute-field-container
{
 display: none !important;
}

#cablearrayText_plcm,label[for = "cablearrayText_plcm"],
#attribute-cablearrayText_plcm.attribute-field-container
{
 display: none !important;
}

#eMCMeasurementarrayText_plcm,label[for = "eMCMeasurementarrayText_plcm"],
#attribute-eMCMeasurementarrayText_plcm.attribute-field-container
{
 display: none !important;
}

#calibratorarrayText_plcm,label[for = "calibratorarrayText_plcm"],
#attribute-calibratorarrayText_plcm.attribute-field-container
{
 display: none !important;
}

#filterarrayText_plcm,label[for = "filterarrayText_plcm"],
#attribute-filterarrayText_plcm.attribute-field-container
{
 display: none !important;
}

#enterChooseIQOptionsQunatity_N9310AK,label[for = "enterChooseIQOptionsQunatity_N9310AK"],
#attribute-enterChooseIQOptionsQunatity_N9310AK.attribute-field-container
{
 display: none !important;
}

#enterMonitoringApplicationQunatity_N9330BK,label[for = "enterMonitoringApplicationQunatity_N9330BK"],
#attribute-enterMonitoringApplicationQunatity_N9330BK.attribute-field-container
{
 display: none !important;
}

#enterModulationAnalysisQunatity_N9340BK,label[for = "enterModulationAnalysisQunatity_N9340BK"],
#attribute-enterModulationAnalysisQunatity_N9340BK.attribute-field-container
{
 display: none !important;
}

#enterPreamplifierQunatity_N9340BK,label[for = "enterPreamplifierQunatity_N9340BK"],
#attribute-enterPreamplifierQunatity_N9340BK.attribute-field-container
{
 display: none !important;
}

#enterGeneratorQunatity_N9340BK,label[for = "enterGeneratorQunatity_N9340BK"],
#attribute-enterGeneratorQunatity_N9340BK.attribute-field-container
{
 display: none !important;
}

#enterAccessoriesQunatity_N9310AK,label[for = "enterAccessoriesQunatity_N9310AK"],
#attribute-enterAccessoriesQunatity_N9310AK.attribute-field-container
{
 display: none !important;
}

#enterDocumentationQunatity_N9310AK,label[for = "enterDocumentationQunatity_N9310AK"],
#attribute-enterDocumentationQunatity_N9310AK.attribute-field-container
{
 display: none !important;
}

#tab-defaultTab {
    display: block !important;
}
.tab-header {
    display: block !important;
    position: absolute;
    top: -105px;
    color: gray;
    font-size: 20px;
    font-weight: normal;
                width: 100%;
}
/*
.tab-header span.selectionRequired{
 color: red;
    font-size: 13px;
    float: right;
    margin-top: -17px;
}
*/
.message.constraint-message {
    display: none;
}
.selectedConfigPrice{
 float: right;
 margin-right: 15px;
}

.selectedConfigPrice{
	padding-left: 40%;
}

.tab-left .tab-right .tab-text {
    background-color: #fff !important;
}
.tab-left .tab-right .tab-text:hover {
    background-color: #efefef !important;
                color: #4b4b4b !important;
}
.tab-left:hover .tab-text{
    background-color: #efefef !important;
                color: #4b4b4b !important;
}
.tab-text:hover{
    background-color: #efefef !important;
                color: #4b4b4b !important;
}
.tab-active .tab-left .tab-right .tab-text {
    background-color: #5b5b5b !important;
}
input[checked="checked"] + label {
    font-weight: bold !important;
}
.tab-strip .tab-left {
    background: #fff !important;
    padding-left: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
/*.tab-strip .tab-left:hover {
    background-color: #efefef !important;
                color: #4b4b4b;
}*/
.tab-strip .tab-active a.tab-left, .tab-strip .tab-active a.tab-left .tab-inner {
    background-color: #5b5b5b !important;
}
.tab-content {
    padding: 3px;
    border-top: 2px solid #5b5b5b;
}
.tab-strip .tab-text {
    padding: 0px;
    font-size: 12px !important;
    font-weight: 600;
    background: transparent url() no-repeat right 0;
    padding-right: 25px;
    padding-left: 15px;
    color: red !important;
}
ul.tab-strip li {
    margin-right: 1px;
    border-style: solid;
    border-top-width: 7px;
    border-top-color: #cfcfcf;
                border-right-color: #cfcfcf !important;
                border-right-width: 1px;
}
.tab-strip .tab-active a.tab-left .tab-text {
    color: #FFF !important;
}
#tab-hiddenAttribute{
 display: none;
}

/*remove none from options - radio button*/
label[for = "wtyAndServPlan_pfks_"] {
    display: none;
}
#wtyAndServPlan_pfks_{
    display: none;
}

label[for = "paperCertificateN9065B_plcm_"] {
    display: none;
}
#paperCertificateN9065B_plcm_{
    display: none;
}


label[for = "inputVoltage_pfks_"] {
    display: none;
}
#inputVoltage_pfks_{
    display: none;
}

label[for = "hasCustomerAlreadyPurchasedOption1FPOr1TP_"] {
    display: none;
}
#hasCustomerAlreadyPurchasedOption1FPOr1TP_{
    display: none;
}
label[for = "installSwIntoHwForThisOrder_"] {
    display: none;
}
#installSwIntoHwForThisOrder_{
    display: none;
}
label[for = "customSolutions_pfks_"] {
    display: none;
}
#customSolutions_pfks_{
    display: none;
}

label[for = "selectModules_plsp_"] {
    display: none;
}
#selectModules_plsp_{
    display: none;
}

label[for = "feetSelection_plsp_"] {
    display: none;
}
#feetSelection_plsp_{
    display: none;
}

label[for = "moduleType_plsp_"] {
    display: none;
}
#moduleType_plsp_{
    display: none;
}

label[for = "otherConfigSel_pfks_"] {
    display: none;
}
#otherConfigSel_pfks_{
    display: none;
}

label[for = "regionalDistributionCenter_pfks_"] {
    display: none;
}
#regionalDistributionCenter_pfks_{
    display: none;
}


label[for = "doc_pfks_"] {
    display: none;
}
#doc_pfks_{
    display: none;
}

#main-table-wrapper{
	width: 70%;
}

label[for = "voltage_plgm_"] {
    display: none;
}
#voltage_plgm_{
    display: none;
}



label[for = "powerCords_pfks_"] {
    display: none;
}
#powerCords_pfks_{
    display: none;
}

label[for = "timebase_plgm_"] {
    display: none;
}
#timebase_plgm_{
    display: none;
}

label[for = "arbWaveform_plgm_"] {
    display: none;
}
#arbWaveform_plgm_{
    display: none;
}

label[for = "swDelivery_pfks_"] {
    display: none;
}
#swDelivery_pfks_{
    display: none;
}

label[for = "channelConfig_plgm_"] {
    display: none;
}
#channelConfig_plgm_{
    display: none;
}
/*remove none from options - radio button for SP Module */
label[for = "accessories_pfks_"] {
    display: none;
}
#accessories_pfks_{
    display: none;
}

label[for = "accessories_pfks_"] {
    display: none;
}
#accessories_pfks_{
    display: none;
}

label[for = "OC_CUSTOM1_"] {
    display: none;
}
#OC_CUSTOM1_{
    display: none;
}

label[for = "OC_CUSTOM2_"] {
    display: none;
}
#OC_CUSTOM2_{
    display: none;
}

label[for = "OC_CUSTOM2_model_"] {
    display: none;
}
#OC_CUSTOM2_model_{
    display: none;
}


label[for = "OC_CUSTOM3_"] {
    display: none;
}
#OC_CUSTOM3_{
    display: none;
}

label[for = "R1607B_OC_"] {
    display: none;
}
#R1607B_OC_{
    display: none;
}

label[for = "OC_COMBO_"] {
    display: none;
}
#OC_COMBO_{
    display: none;
}

label[for = "OC_COMBO_SelectAccessory_"] {
    display: none;
}
#OC_COMBO_SelectAccessory_{
    display: none;
}

label[for = "U3000_OC_EDUKIT_"] {
    display: none;
}
#U3000_OC_EDUKIT_{
    display: none;
}

label[for = "OC_CUSTOM_model_"] {
    display: none;
}
#OC_CUSTOM_model_{
    display: none;
}

label[for = "OC_CUSTOM_CustomerOptions_"] {
    display: none;
}
#OC_CUSTOM_CustomerOptions_{
    display: none;
}

label[for = "R1286A_HU_"] {
    display: none;
}
#R1286A_HU_{
    display: none;
}

label[for = "OC_UPGRADES_"] {
    display: none;
}
#OC_UPGRADES_{
    display: none;
}

label[for = "OC_USB_"] {
    display: none;
}
#OC_USB_{
    display: none;
}

label[for = "OC_DPM_"] {
    display: none;
}
#OC_DPM_{
    display: none;
}

label[for = "OC_CUSTOM4_"] {
    display: none;
}
#OC_CUSTOM4_{
    display: none;
}

label[for = "model_10833A_"] {
    display: none;
}
#model_10833A_{
    display: none;
}

label[for = "R1380_MOBILECOMM_"] {
    display: none;
}
#R1380_MOBILECOMM_{
    display: none;
}

label[for = "R1380_POWERSUPPLY_"] {
    display: none;
}
#R1380_POWERSUPPLY_{
    display: none;
}

label[for = "model_14585A_"] {
    display: none;
}
#model_14585A_{
    display: none;
}

label[for = "BV0003A_"] {
    display: none;
}
#BV0003A_{
    display: none;
}

label[for = "model_82357B_"] {
    display: none;
}
#model_82357B_{
    display: none;
}

label[for = "OC_FEET_"] {
    display: none;
}
#OC_FEET_{
    display: none;
}
label[for = "whoWillInstallTheUpgrade_"] {
    display: none;
}
#whoWillInstallTheUpgrade_{
    display: none;
}

label[for = "RPU5UPickupServiceFromCustomer_"] {
    display: none;
}
#RPU5UPickupServiceFromCustomer_{
    display: none;
}

label[for = "rFR5UDeliveryServiceToCustomer_"] {
    display: none;
}
#rFR5UDeliveryServiceToCustomer_{
    display: none;
}

label[for = "selectModules1stConfiguration_plsp_"] {
    display: none;
}
#selectModules1stConfiguration_plsp_{
    display: none;
}

label[for = "uSBports_plsp_"] {
    display: none;
}
#uSBports_plsp_{
    display: none;
}

label[for = "OC_SW_"] {
    display: none;
}
#OC_SW_{
    display: none;
}

label[for = "OC_VOLTAGE_"] {
    display: none;
}
#OC_VOLTAGE_{
    display: none;
}

label[for = "OC_MAINSV_"] {
    display: none;
}
#OC_MAINSV_{
    display: none;
}

label[for = "R1286A_BNDL_OC_"] {
    display: none;
}
#R1286A_BNDL_OC_{
    display: none;
}

label[for = "OC_CUSTOM_"] {
    display: none;
}
#OC_CUSTOM_{
    display: none;
}

label[for = "certificateDelivery_"] {
    display: none;
}
#certificateDelivery_{
    display: none;
}

label[for = "isThisIntendedForJapan_"] {
    display: none;
}
#isThisIntendedForJapan_{
    display: none;
}

label[for = "mostCommonforCountry_"] {
    display: none;
}
#mostCommonforCountry_{
    display: none;
}

label[for = "calibrator_plcm_"] {
    display: none;
}
#calibrator_plcm_{
    display: none;
}

label[for = "inputVoltageOptionMostCommonforCountryUse_"] {
    display: none;
}
#inputVoltageOptionMostCommonforCountryUse_{
    display: none;
}


/* End---------- */

/*Hide System Recommendations*/
.message.recommendation-message{
	display: none;
}
/*set the font for attr options, HTML labels, field containers, tabs*/
.group-option {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.read-only-html {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 12px !important;
}
.attribute-field-container {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px !important;
	color: black;
}
.tab-strip .tab-active a.tab-left .tab-text {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
}


/*remove none from options - radio button*/

/*--------------------------------------*/
/*ul.tab-strip li {
    margin-right: 1px;
    border-style: solid;
    border-top-width: 7px;
    border-top-color: #cfcfcf;
}*/

/*to change appearance of radio button to checkbox*/
input[name="warrantyAndServicePlan"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
}

#pipeline-viewer-opener{
	padding: 4px;
}
#pipeline-viewer-opener a{
	font-size: 12px;
}
.tab-strip .tab-right{
	padding: 0px;
}
/*
ul.tab-strip li{
	margin-right: 1px;
}*/
.tab-strip li{
	padding: 0 0px;
}
/*
.tab-strip .tab-text {
    padding: 0px;
    font-size: 12px !important;
    font-weight: 600;
    background: transparent url() no-repeat right 0;
    padding-right: 25px;
	padding-left: 15px;
}*/
.tab-strip .tab-inner {
    background: #6699CC url() repeat-x 0 0;
}
.tab-inner, .tab-right {
    padding-right: 0px;
}
.tab-strip a.tab-left {
    border-radius: 0 0 0 0;
}
.model-config .group-header {
    font-size: 13px !important;
    font-weight: 600 !important;
    line-height: 14px;
}
.group-header {
    background-color: #DFDFDF !important;
    padding: 6px;
    border-radius: 0px;
    font-weight: 600 !important;
}
.model-config .group-header:hover {
    color: #2A4BDA !important;
    background-color: rgba(204, 208, 228, 0.49) !important;
}
.model-config .group-content.collapsed .group-header span {
    font-weight: 600 !important;
}
.required .attribute-label, .attribute-label {
    font-size: 10pt !important;
}
.model-config .group-content .group-header span {
    padding-left: 18px;
    background: url("/img/config/arrow-expanded.png") no-repeat 0 50%;
	color:black;
	font-weight: 600 !important;
}
.adv-grid-row:hover{
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
	background-color: #F0F0F0 !important;
	font-weight: bold !important;
	color: black !important;
}
.adv-grid-row:hover .adv-grid-cell.Price{
	color: red !important;
}

.constrained.group-option {
	display:none;
}

.group-option:hover{
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
	background-color: #F8F8F8 !important;
	font-weight: bold !important;
}

.model-config .group-content.collapsed .group-header span {
    padding-left: 18px;
    background: url("/img/config/arrow-collapsed.png") no-repeat 0 50%;
}
.group-content.collapsed .group-header{
	background-color: #CFCFCF !important;
}
#navbar ul > li {
    margin: 3px 5px;
}
/*
.tab-strip .tab-active a.tab-left .tab-text {
    color: #FFFFFF !important;
}*/
.model-config .group-header {
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
}

#ksCustomHTML{
	padding-left: 15px;
}

/*.tab-strip .tab-text{
	color: #FFF !important;
}*/
.tab-strip .tab-active a.tab-left .tab-text {
    color: #000 !important;
}

div.main-model {
  display: none;
}

#ksPriceHTML, #ksPriceHTML1, #ksPriceHTML2, #ksPriceHTML3{
	font-size: 18px;
	font-weight: bold;
	color: black;
	padding-left: 40%;
}

.view-text, .form-input, .form-input select, .form-input-modified, .form-input-selected, .form-input-mouseover, .form-item input, .form-item select, .form-item textarea, .form-item .menu-attr label, .attribute-field, .cfg-image-menu {
    font-size: 10pt;
 }
 
 .unreset {
    font-size: 10pt;
}

table.spare-grid td {
    font-size: 10pt;
}

#tab-hiddenAttributes_plgm,
#tab-rightSideImage{
	display: none !important;
}
#tab-cSSAttributes{
	display: none;
}

#tab-rightSideImage-content{
	display: block !important;
	position: absolute;
	top: 99px;
	right: 0;
	width: 30%;
	height: 200px;
	background-color: transparent;
	margin-top:-70px;
}

#tab-rightSideImage-content img{
	width: 250px;
	height: 150px;
}
.side-bar-content{
	padding-top: 280px !important;
}
.commerce-bordercolor, .commerce-bordercolor .topcolor, .admin-bordercolor, .admin-bordercolor .topcolor, .header-bordercolor, #main-nav, #sub-nav{
	border-bottom-color: #F0F0F0;
}
.commerce-bordercolor table{
	display: none;
}

.side-bar-content {
/*    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
*/
}
.items-header{
	border: solid 0px #666 !important;
}
.view-header {
    background-color: #cfcfcf !important;
}
.items-table-content {
	border-width: 0 0 0 0 !important;
}
table.spare-grid th {
    border-right: #ccc solid 0px !important;
}
table.spare-grid td {
	border-right: #eee solid 0px !important;
}
td.adv-grid-cell {
    border-bottom: 0px solid #DDD !important;
}
.spare-grid {
    border-width: 0px !important;
}
.side-bar-content {

    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
}
table.spare-grid td {
    font-size: 12px !important;
}
.unreset h3 {
    margin: 0em 0 !important;
}

table.pricing-content td.numeric {
    text-align: center;
}

#pricing-table-wrapper{
	display: none !important;
}

.grand-total-container {
    display: none !important;
}
#mandatory-parts-wrapper .items-header.view-header {
    display: none;
}
#main-content {
    width: 70% !important;
}
.vertical .group-option {
    padding-bottom: 6px !important;
}
   
}
ul.tab-strip li {
    margin-right: 1px;
    border-style: solid;
    border-top-width: 7px;
    border-top-color: #cfcfcf;
                border-right-color: #cfcfcf !important;
                border-right-width: 1px;
}
.tab-strip .tab-active a.tab-left .tab-text {
    color: #FFF !important;
}
#tab-hiddenAttribute{
 display: none;
}

/*remove none from options - radio button*/
label[for = "wtyAndServPlan_pfks_"] {
    display: none;
}
#wtyAndServPlan_pfks_{
    display: none;
}

label[for = "paperCertificateN9065B_plcm_"] {
    display: none;
}
#paperCertificateN9065B_plcm_{
    display: none;
}


label[for = "inputVoltage_pfks_"] {
    display: none;
}
#inputVoltage_pfks_{
    display: none;
}

label[for = "hasCustomerAlreadyPurchasedOption1FPOr1TP_"] {
    display: none;
}
#hasCustomerAlreadyPurchasedOption1FPOr1TP_{
    display: none;
}
label[for = "installSwIntoHwForThisOrder_"] {
    display: none;
}
#installSwIntoHwForThisOrder_{
    display: none;
}
label[for = "customSolutions_pfks_"] {
    display: none;
}
#customSolutions_pfks_{
    display: none;
}

label[for = "selectModules_plsp_"] {
    display: none;
}
#selectModules_plsp_{
    display: none;
}

label[for = "feetSelection_plsp_"] {
    display: none;
}
#feetSelection_plsp_{
    display: none;
}

label[for = "moduleType_plsp_"] {
    display: none;
}
#moduleType_plsp_{
    display: none;
}

label[for = "otherConfigSel_pfks_"] {
    display: none;
}
#otherConfigSel_pfks_{
    display: none;
}

label[for = "regionalDistributionCenter_pfks_"] {
    display: none;
}
#regionalDistributionCenter_pfks_{
    display: none;
}


label[for = "doc_pfks_"] {
    display: none;
}
#doc_pfks_{
    display: none;
}

#main-table-wrapper{
	width: 70%;
}

label[for = "voltage_plgm_"] {
    display: none;
}
#voltage_plgm_{
    display: none;
}



label[for = "powerCords_pfks_"] {
    display: none;
}
#powerCords_pfks_{
    display: none;
}

label[for = "timebase_plgm_"] {
    display: none;
}
#timebase_plgm_{
    display: none;
}

label[for = "arbWaveform_plgm_"] {
    display: none;
}
#arbWaveform_plgm_{
    display: none;
}

label[for = "swDelivery_pfks_"] {
    display: none;
}
#swDelivery_pfks_{
    display: none;
}

label[for = "channelConfig_plgm_"] {
    display: none;
}
#channelConfig_plgm_{
    display: none;
}
/*remove none from options - radio button for SP Module */
label[for = "accessories_pfks_"] {
    display: none;
}
#accessories_pfks_{
    display: none;
}

label[for = "accessories_pfks_"] {
    display: none;
}
#accessories_pfks_{
    display: none;
}

label[for = "OC_CUSTOM1_"] {
    display: none;
}
#OC_CUSTOM1_{
    display: none;
}

label[for = "OC_CUSTOM2_"] {
    display: none;
}
#OC_CUSTOM2_{
    display: none;
}

label[for = "OC_CUSTOM2_model_"] {
    display: none;
}
#OC_CUSTOM2_model_{
    display: none;
}


label[for = "OC_CUSTOM3_"] {
    display: none;
}
#OC_CUSTOM3_{
    display: none;
}

label[for = "R1607B_OC_"] {
    display: none;
}
#R1607B_OC_{
    display: none;
}

label[for = "OC_COMBO_"] {
    display: none;
}
#OC_COMBO_{
    display: none;
}

label[for = "OC_COMBO_SelectAccessory_"] {
    display: none;
}
#OC_COMBO_SelectAccessory_{
    display: none;
}

label[for = "U3000_OC_EDUKIT_"] {
    display: none;
}
#U3000_OC_EDUKIT_{
    display: none;
}

label[for = "OC_CUSTOM_model_"] {
    display: none;
}
#OC_CUSTOM_model_{
    display: none;
}

label[for = "OC_CUSTOM_CustomerOptions_"] {
    display: none;
}
#OC_CUSTOM_CustomerOptions_{
    display: none;
}

label[for = "R1286A_HU_"] {
    display: none;
}
#R1286A_HU_{
    display: none;
}

label[for = "OC_UPGRADES_"] {
    display: none;
}
#OC_UPGRADES_{
    display: none;
}

label[for = "OC_USB_"] {
    display: none;
}
#OC_USB_{
    display: none;
}

label[for = "OC_DPM_"] {
    display: none;
}
#OC_DPM_{
    display: none;
}

label[for = "OC_CUSTOM4_"] {
    display: none;
}
#OC_CUSTOM4_{
    display: none;
}

label[for = "model_10833A_"] {
    display: none;
}
#model_10833A_{
    display: none;
}

label[for = "R1380_MOBILECOMM_"] {
    display: none;
}
#R1380_MOBILECOMM_{
    display: none;
}

label[for = "R1380_POWERSUPPLY_"] {
    display: none;
}
#R1380_POWERSUPPLY_{
    display: none;
}

label[for = "model_14585A_"] {
    display: none;
}
#model_14585A_{
    display: none;
}

label[for = "BV0003A_"] {
    display: none;
}
#BV0003A_{
    display: none;
}

label[for = "model_82357B_"] {
    display: none;
}
#model_82357B_{
    display: none;
}

label[for = "OC_FEET_"] {
    display: none;
}
#OC_FEET_{
    display: none;
}
label[for = "whoWillInstallTheUpgrade_"] {
    display: none;
}
#whoWillInstallTheUpgrade_{
    display: none;
}

label[for = "RPU5UPickupServiceFromCustomer_"] {
    display: none;
}
#RPU5UPickupServiceFromCustomer_{
    display: none;
}

label[for = "rFR5UDeliveryServiceToCustomer_"] {
    display: none;
}
#rFR5UDeliveryServiceToCustomer_{
    display: none;
}

label[for = "selectModules1stConfiguration_plsp_"] {
    display: none;
}
#selectModules1stConfiguration_plsp_{
    display: none;
}

label[for = "uSBports_plsp_"] {
    display: none;
}
#uSBports_plsp_{
    display: none;
}

label[for = "OC_SW_"] {
    display: none;
}
#OC_SW_{
    display: none;
}

label[for = "OC_VOLTAGE_"] {
    display: none;
}
#OC_VOLTAGE_{
    display: none;
}

label[for = "OC_MAINSV_"] {
    display: none;
}
#OC_MAINSV_{
    display: none;
}

label[for = "R1286A_BNDL_OC_"] {
    display: none;
}
#R1286A_BNDL_OC_{
    display: none;
}

label[for = "OC_CUSTOM_"] {
    display: none;
}
#OC_CUSTOM_{
    display: none;
}

label[for = "certificateDelivery_"] {
    display: none;
}
#certificateDelivery_{
    display: none;
}

label[for = "isThisIntendedForJapan_"] {
    display: none;
}
#isThisIntendedForJapan_{
    display: none;
}

label[for = "mostCommonforCountry_"] {
    display: none;
}
#mostCommonforCountry_{
    display: none;
}
label[for = "calibrator_plcm_"] {
    display: none;
}
#calibrator_plcm_{
    display: none;
}

label[for = "inputVoltageOptionMostCommonforCountryUse_"] {
    display: none;
}
#inputVoltageOptionMostCommonforCountryUse_{
    display: none;
}
/* End---------- */

/*Hide System Recommendations*/
.message.recommendation-message{
	display: none;
}
/*set the font for attr options, HTML labels, field containers, tabs*/
.group-option {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.read-only-html {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 12px !important;
}
.attribute-field-container {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px !important;
	color: black;
}
.tab-strip .tab-active a.tab-left .tab-text {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
}
/*remove none from options - radio button*/
/*ul.tab-strip li {
    margin-right: 1px;
    border-style: solid;
    border-top-width: 7px;
    border-top-color: #cfcfcf;
}*/

/*to change appearance of radio button to checkbox*/
input[name="warrantyAndServicePlan"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
}

#pipeline-viewer-opener{
	padding: 4px;
}
#pipeline-viewer-opener a{
	font-size: 12px;
}
.tab-strip .tab-right{
	padding: 0px;
}
/*
ul.tab-strip li{
	margin-right: 1px;
}*/
.tab-strip li{
	padding: 0 0px;
}
/*
.tab-strip .tab-text {
    padding: 0px;
    font-size: 12px !important;
    font-weight: 600;
    background: transparent url() no-repeat right 0;
    padding-right: 25px;
	padding-left: 15px;
}*/
.tab-strip .tab-inner {
    background: #6699CC url() repeat-x 0 0;
}
.tab-inner, .tab-right {
    padding-right: 0px;
}
.tab-strip a.tab-left {
    border-radius: 0 0 0 0;
}
.model-config .group-header {
    font-size: 13px !important;
    font-weight: 600 !important;
    line-height: 14px;
}
.group-header {
    background-color: #DFDFDF !important;
    padding: 6px;
    border-radius: 0px;
    font-weight: 600 !important;
}
.model-config .group-header:hover {
    color: #2A4BDA !important;
    background-color: rgba(204, 208, 228, 0.49) !important;
}
.model-config .group-content.collapsed .group-header span {
    font-weight: 600 !important;
}
.required .attribute-label, .attribute-label {
    font-size: 10pt !important;
}
.model-config .group-content .group-header span {
    padding-left: 18px;
    background: url("/img/config/arrow-expanded.png") no-repeat 0 50%;
	color:black;
	font-weight: 600 !important;
}
.adv-grid-row:hover{
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
	background-color: #F0F0F0 !important;
	font-weight: bold !important;
	color: black !important;
}
.adv-grid-row:hover .adv-grid-cell.Price{
	color: red !important;
}

.constrained.group-option {
	display:none;
}

.group-option:hover{
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
	background-color: #F8F8F8 !important;
	font-weight: bold !important;
}

.model-config .group-content.collapsed .group-header span {
    padding-left: 18px;
    background: url("/img/config/arrow-collapsed.png") no-repeat 0 50%;
}
.group-content.collapsed .group-header{
	background-color: #CFCFCF !important;
}
#navbar ul > li {
    margin: 3px 5px;
}
/*
.tab-strip .tab-active a.tab-left .tab-text {
    color: #FFFFFF !important;
}*/
.model-config .group-header {
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
}

/*Mandatory Parts Section - Column Display*/
.adv-grid-header-cell.checkbox, .adv-grid-cell.checkbox,
.adv-grid-header-cell.part_number, /*.adv-grid-cell.part_number,*/
.adv-grid-header-cell.Quantity, /*.adv-grid-cell.Quantity,*/
.adv-grid-header-cell.field2, .adv-grid-header-cell.field2.header, .adv-grid-cell.field2,
.adv-grid-header-cell.field3, .adv-grid-header-cell.field3.header, .adv-grid-cell.field3,
.adv-grid-header-cell.field4, .adv-grid-header-cell.field4.header, .adv-grid-cell.field4,
.adv-grid-header-cell.field5, .adv-grid-header-cell.field5.header, .adv-grid-cell.field5,
.adv-grid-header-cell.part_display_number, .adv-grid-header-cell.part_display_number.header, .adv-grid-cell.part_display_number,
.adv-grid-header-cell.description, .adv-grid-header-cell.Price,
.adv-grid-header-cell.company_associations, .adv-grid-header-cell.company_associations.header, .adv-grid-cell.company_associations,
.adv-grid-header-cell.field6, .adv-grid-header-cell.field6.header, .adv-grid-cell.field6,
.adv-grid-header-cell.field8, .adv-grid-header-cell.field8.header, .adv-grid-cell.field8,
.adv-grid-header-cell.field9, .adv-grid-header-cell.field9.header, .adv-grid-cell.field9,
.adv-grid-header-cell.field10, .adv-grid-header-cell.field10.header, .adv-grid-cell.field10,
.adv-grid-header-cell.field11, .adv-grid-header-cell.field11.header, .adv-grid-cell.field11,
.adv-grid-header-cell.field12, .adv-grid-header-cell.field12.header, .adv-grid-cell.field12,
.adv-grid-header-cell.field13, .adv-grid-header-cell.field13.header, .adv-grid-cell.field13,
.adv-grid-header-cell.field14, .adv-grid-header-cell.field14.header, .adv-grid-cell.field14,
.adv-grid-header-cell.field15, .adv-grid-header-cell.field15.header, .adv-grid-cell.field15,
.adv-grid-header-cell.field18, .adv-grid-header-cell.field18.header, .adv-grid-cell.field18,
.adv-grid-header-cell.field19, .adv-grid-header-cell.field19.header, .adv-grid-cell.field19,
.adv-grid-header-cell.field20, .adv-grid-header-cell.field20.header, .adv-grid-cell.field20,
.adv-grid-header-cell.field21, .adv-grid-header-cell.field21.header, .adv-grid-cell.field21,
.adv-grid-header-cell.field22, .adv-grid-header-cell.field22.header, .adv-grid-cell.field22,
.adv-grid-header-cell.field23, .adv-grid-header-cell.field23.header, .adv-grid-cell.field23,
.adv-grid-header-cell.field24, .adv-grid-header-cell.field24.header, .adv-grid-cell.field24,
.adv-grid-header-cell.field25, .adv-grid-header-cell.field25.header, .adv-grid-cell.field25,
.adv-grid-header-cell.field26, .adv-grid-header-cell.field26.header, .adv-grid-cell.field26,
.adv-grid-header-cell.field27, .adv-grid-header-cell.field27.header, .adv-grid-cell.field27,
.adv-grid-header-cell.field28, .adv-grid-header-cell.field28.header, .adv-grid-cell.field28,
.adv-grid-header-cell.field29, .adv-grid-header-cell.field29.header, .adv-grid-cell.field29,
.adv-grid-header-cell.field30, .adv-grid-header-cell.field30.header, .adv-grid-cell.field30
{
	display: none;
}

 .grid.poverkaInclRevTransItems_pfks, .grid.wCSSRevTransItems_pfks, .grid.firmwareSupport_pfks, .grid.mATLABBundle_pfks, .grid.options_pfks, .grid.discounts_pfks, .grid.bundledSoftwareUpdateSubscriptionService_pfks, .grid.doc_pfks, .grid.BundledLicenses_pfks, .grid.widebandOption_pfks, .grid.swlicertif_pfks, .grid.fixedperpetuallicenses_pfks, .grid.fixedtimebased1monthlicenses_pfks, .grid.transportableperpetuallicenses_pfks, .grid.minorenhcUpdate_pfks, .grid.addlDoc_pfks, .grid.bandwidth_ms_pfks, .grid.calibration_pfks, .grid.frequencyRange_pfks, .grid.performanceOptions1_pfks, .grid.preamplifier_pfks, .grid.standardHardwareConfigurations_pfks, .grid.emcFunctionality_pfks, .grid.generatorOptions_plcm, .grid.bundHwUpg_pfks, .grid.bundHwUpgRevTransItems_pfks, .grid.recalServPlanHwUpg_pfks, .grid.waveform5packLicenses_plcm, .grid.waveform50packLicenses_plcm, .grid.softwarekits_pfks, .grid.softwareUpdate_plcm, .grid.custSol_plgm, .grid.memory_pfks, .grid.miscellaneousopt_pfks, .grid.bandwidth_pfks, .grid.perpetualLicenses_plcm, .grid.portablePackaging_plcm, .grid.customerSpecificOpt_pfks, .grid.sourceCont_pfks, .grid.measurementAppLicTemp_pfks, .grid.securityPCfeat_pfks, .grid.generatorOptions_single_plcm, .grid.inputImpedance_pfks, .grid.connectortype_pfks, .grid.operatingsystem_pfks, .grid.accessories_plgm, .grid.discount_pfks, .grid.upgN9051AtoN9051B_pfks, .grid.regionalDistributionCenter_plgm, .grid.combinationofdefaultPTOOCoptions_pfks, .grid.serviceUpgrade_pfks, .grid.pCProcessordriveOrAdditionalSolidStateDrive_pfks, .grid.hardwareAndOperatingSystemCombination_pfks, .grid.standardOptions_pfks, .grid.chooseIQOptions_plcm, .grid.specialEducationOffer_plcm, .grid.doc_multi_pfks, .grid.filter_plcm, .grid.attenuator_ms_pfks, .grid.antenna_plcm, .grid.adapter_pfks, .grid.cable_plcm, .grid.modulationAnalysis_plcm, .grid.connectivity_plcm, .grid.preamplifier_plcm, .grid.sweepOption_plcm, .grid.monitoring_plcm, .grid.testAutomation_plcm, .grid.rSDDemoOption_plgm, .grid.pTOConfigOnlyOptionalAccessories_pfks, .grid.radioMeasurement_plcm, .grid.xDSLMeasurement_plcm, .grid.functionLimitedN9340B_plcm, .grid.gPSReceiver_plcm, .grid.gatedSweep_plcm, .grid.functionality_plcm, .grid.powerCords_pfks, .grid.applications_pfks, .grid.signalStudioApplications_plcm, .grid.spectrumAnalyzerMeasurementApplication_plcm, .grid.upgrade_plcm, .grid.windowsOperatingSystemAndPcProcessorDriveUpgrade_plcm, .grid.wtyAndServPlan_pfks, .grid.refurbishedProduct_pfks, .grid.certificateDelivery , .grid.mATLABBundle_N6171A_pfks, .grid.Default, .grid.calServPlanPoverkaInc_pfks, .grid.Defaut, .grid.serviceCountry_pfks, .grid.benchVueSpectrumAnalyzerProSoftwareLicenseBV0005A , .grid.typeOfCalibrationRequired , .grid.RPU5UPickupServiceFromCustomer , .grid.rFR5UDeliveryServiceToCustomer , .grid.productAssistance1_pfks, .grid.waveform5PackLicenses_pfks, .grid.waveform50packlicenses_pfks, .grid.installSwIntoHwForThisOrder, .grid.cSRNotes_pfks, .grid.measurementAppLicTempHTML_pfks, .grid.certificateDelievry, .grid.serviceCountry_pfks, .grid.doc, .grid.calibration, .grid.termLengthForSoftwareUpdateSubscriptionService_pfks, .grid.invalidConfigHTML_pfks, .grid.messageToCSRHTML, .grid.softwareCSRNotes, .grid.calibrator_plcm, .grid.securityOptions_pfks, .grid.selectModel_plcm, .grid.eMCAnalysis_pfks, .grid.certificateDeliveryHardware, .grid.RPU5UPickupServiceFromCustomer, .grid.documentationArrAttr_pfks, .grid.chooseIQOptionsArrAttr_pfks, .grid.monitoringApplicationArrAttr_pfks, .grid.modulationAnalysisArrAttr_pfks, .grid.generatorArrAttr_pfks, .grid.preamplifierArrAttr_pfks, .grid.filterArrAttr_pfks, .grid.attenuatorArrAttr_pfks, .grid.antennaArrAttr_pfks, .grid.adapterArrAttr_pfks, .grid.cableArrAttr_pfks, .grid.eMCMeasurementArrAttr_pfks, .grid.calibratorArrAttr_pfks, .grid.Generator, .grid.appSw_plgm, .grid.accessoriesArrAttr_mod , .grid.perpetualLicenceArrAttr   
{
    display: none;
}


.ksImage{
/*	border-bottom: 1px solid #AAAAAA !important;
	border-top: 1px solid #AAAAAA !important;
	border-left: 1px solid #AAAAAA !important;
	border-right: 1px solid #AAAAAA !important;
*/
}

/*.tab-strip .tab-text{
	color: #FFF !important;
}
.tab-strip .tab-active a.tab-left .tab-text {
    color: #000 !important;
}*/

.tab-strip .tab-text{
	color: red !important;
}
.tab-strip .tab-active a.tab-left .tab-text {
     color: #FFF !important;
}

div.main-model {
  display: none;
}

#ksPriceHTML, #ksPriceHTML1, #ksPriceHTML2, #ksPriceHTML3{
	font-size: 18px;
	font-weight: bold;
	color: black;
	padding-left: 40%;
}

.view-text, .form-input, .form-input select, .form-input-modified, .form-input-selected, .form-input-mouseover, .form-item input, .form-item select, .form-item textarea, .form-item .menu-attr label, .attribute-field, .cfg-image-menu {
    font-size: 10pt;
 }
 
 .unreset {
    font-size: 10pt;
}

table.spare-grid td {
    font-size: 10pt;
}

#tab-hiddenAttributes_plgm,
#tab-rightSideImage{
	display: none !important;
}
#tab-cSSAttributes{
	display: none;
}

#tab-rightSideImage-content{
	display: block !important;
	position: absolute;
	top: 9px;
	right: 0;
	width: 30%;
	height: 200px;
	background-color: transparent;
}

#tab-rightSideImage-content img{
	width: 250px;
	height: 150px;
}

.side-bar-content{
	padding-top: 280px !important;
}
.commerce-bordercolor, .commerce-bordercolor .topcolor, .admin-bordercolor, .admin-bordercolor .topcolor, .header-bordercolor, #main-nav, #sub-nav{
	border-bottom-color: #F0F0F0;
}
.commerce-bordercolor table{
	display: none;
}

.side-bar-content {
/*    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
*/
}
.items-header{
	border: solid 0px #666 !important;
}
.view-header {
    background-color: #cfcfcf !important;
}
.items-table-content {
	border-width: 0 0 0 0 !important;
}
table.spare-grid th {
    border-right: #ccc solid 0px !important;
}
table.spare-grid td {
	border-right: #eee solid 0px !important;
}
td.adv-grid-cell {
    border-bottom: 0px solid #DDD !important;
}
.spare-grid {
    border-width: 0px !important;
}
.side-bar-content {
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
}
table.spare-grid td {
    font-size: 12px !important;
}
.unreset h3 {
    margin: 0em 0 !important;
}

table.pricing-content td.numeric {
    text-align: center;
}

#pricing-table-wrapper{
	display: none !important;
}

.grand-total-container {
    display: none !important;
}
#mandatory-parts-wrapper .items-header.view-header {
    display: none;
}
#main-content {
    width: 70% !important;
}
.vertical .group-option {
    padding-bottom: 6px !important;
}

/*----------------------new css change added for KCOM usage/13-0902-16 ---------------*/
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
body.model-config {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  color: #343434 !important;
  line-height: 1.3 !important;
  font-size: 13px;
}
body.model-config td, body.model-config input {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 100%;
}
body.model-config div {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
}
body.model-config a:link {
  color: #e90029;
  cursor: pointer;
  text-decoration: none;
}
body.model-config a:visited {
  color: #891518;
}
body.model-config a:hover {
  text-decoration: underline;
}
body.model-config a:active {
  color: #e90029;
}
body.model-config .tab-header {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #555555;
}
body.model-config .tab-strip .tab-active a.tab-left .tab-text,
body.model-config .tab-strip .tab-text {
  color: #FFFFFF;
  font-weight: Bold;
  font-style: Normal;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px !important;
  text-decoration: none;
  line-height: normal;
  padding: 10px 20px !important;
  padding-top: 17px !important;
  border-top: 7px solid #dbdbdb;
  height: 23px;
}
body.model-config .tab-strip .tab-active a.tab-left .tab-text {
  border-top-color: #019642;
}
body.model-config a.tab-left:hover {
  text-decoration: none;
}
body.model-config .tab-strip .tab-left:hover {
  color: #343434;
}
body.model-config .tab-left:hover .tab-text {
  background-color: #f8f8f8 !important;
}
body.model-config .tab-left .tab-right .tab-text:hover {
  background-color: #f8f8f8 !important;
}
body.model-config .tab-strip .tab-left {
  padding: 0 0 0 10px !important;
  background: transparent;
}
body.model-config .tab-active .tab-left .tab-right .tab-text {
  background-color: #343434 !important;
}
body.model-config .tab-strip .tab-active a.tab-left, body.model-config .tab-strip .tab-active a.tab-left .tab-inner {
  background-color: transparent !important;
}
body.model-config .tab-content {
  border-top: 0;
  position: relative;
  top: -122px;
}
body.model-config ul.tab-strip li {
  border-top-width: 0;
  border-right-width: 0;
}
body.model-config ul.tab-strip li {
  margin-left: -10px;
}
body.model-config ul.tab-strip {
  height: 58px;
  overflow: hidden;
  width: 100%;
  border-left: 1px solid #9c9c9c;
}
body.model-config ul.tab-strip li a {
/*  background: url("/bmfsweb/devkeysight/image/Icons/sprite.png") no-repeat 0 0 !important; */
  border-right: 1px solid #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
}
body.model-config ul.tab-strip li:hover.tab-active a,
body.model-config ul.tab-strip li.tab-active a {
  background-position: 0 -240px !important;
}
body.model-config ul.tab-strip li:hover a {
  background-position: 0 -60px !important;
}
body.model-config ul.tab-strip li a.tab-left:hover {
  background-color: transparent !important;
}
body.model-config ul.tab-strip {
  margin-top: 20px;
}
body.model-config .tab-header {
  top: -105px;
}
body.model-config .group-content {
  margin: 0;
}
body.model-config .group-inner,
body.model-config .group-header {
  margin: 0;
  border: 1px solid #9c9c9c !important;
  margin-bottom: -1px;
}
body.model-config .group-header {
  background-color: #f8f8f8 !important;
}
body.model-config .group-content.collapsed .group-header {
  background-color: #e8e8e8 !important;
}
body.model-config .group-content .group-header span {
  color: #343434;
  font-size: 13px;
}
body.model-config input[checked="checked"] + label {
  font-weight: normal !important;
}
body.model-config .view-text, body.model-config .form-input, body.model-config .form-input select, body.model-config .form-input-modified, body.model-config .form-input-selected, body.model-config .form-input-mouseover,
body.model-config .form-item input, body.model-config .form-item select, body.model-config .form-item textarea, body.model-config .form-item .menu-attr label,
body.model-config .attribute-field, body.model-config .attribute-field-picklist, body.model-config .cfg-image-menu, body.model-config cfg-image-picklist, body.model-config .ui-image-combobox-input {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #343434;
  font-weight: normal;
}
body.model-config .group-option:hover {
  border: 0 !important;
  background-color: transparent !important;
  font-weight: normal !important;
}
body.model-config .attribute-inner {
 /* padding-top: 10px;  */
  padding-left: 20px;
  padding-right: 20px;
  /* padding-bottom: 10px; */
}
body.model-config #attribute-sidebarHTML .attribute-inner {
  padding: 20px 15px 20px;
}
body.model-config .attribute-field-container > div > span,
body.model-config .attribute-field-container > div > div {
  /* padding-left: 20px; */
  width: auto !important;
  padding-bottom: 5px !important;
}
body.model-config .attribute-field-container > select {
  margin-left: 20px;
}
body.model-config .attribute-field-container > div#sidebarHTML > div {
  padding-left: 0;
}
body.model-config .read-only-html {
  font-size: 13px;
}
body.model-config .tab-header::after {
  font-style: italic;
}
/*
body.model-config .group-content .group-header span {
  background-image: url("/bmfsweb/devkeysight/image/Icons/minus.png");
}
body.model-config .group-content.collapsed .group-header span {
  background-image: url("/bmfsweb/devkeysight/image/Icons/plus.png");
} */
body.model-config #sidebarHTML h3 {
  font-size: 14px;
  margin-bottom: 20px !important;
  color: #555555;
}
body.model-config #sidebarHTML h4 {
  font-size: 12px;
  background-color: #f0f0f0 !important;
  padding: 5px 15px !important;
}
body.model-config .side-bar-content {
  border-color: #9c9c9c !important;
}
body.model-config .selectedConfigPrice,
body.model-config .selectedConfigQty {
  padding-left: 0;
  float: right;
}
body.model-config .adv-grid-row {
  border: 0 !important;
  border-bottom: 1px solid #dbdbdb !important;
}
body.model-config .adv-grid-row:hover {
  border-bottom: 1px solid #dbdbdb !important;
  background: transparent !important;
  font-weight: normal !important;
  color: #343434 !important;
}
body.model-config .adv-grid-row td {
  padding: 15px 3px;
}
body.model-config .adv-grid-row:hover .adv-grid-cell.Price {
  color: #343434 !important;
}
body.model-config .items-table-content {
  padding: 15px 30px;
}
body.model-config .button-right,
body.model-config .button-left {
  display: none;
}
body.model-config .button-middle {
  background: none;
}
body.model-config .button-middle a.button-text {
  font-size: 13px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #af1326;
  border-bottom-width: 3px;
  background: #e90029;
  color: white;
}
body.model-config .button-middle a.button-text:hover {
  text-decoration: none;
  background: #d51a28;
}

#attribute-countryOfUse_pfks .attribute-label-container{
	width: 8% !important;
}

.column{
	width: 100% !important;
}
body.model-config {
  min-width: 1000px;
}
body.model-config #main-table-wrapper {
  width: 100%;
  position: relative;
  top: 100px;
}
body.model-config .selectedConfigPrice,
body.model-config .selectedConfigQty {
  padding-left: 10px !important;
}
body.model-config .tab-header {
    position: relative;
    top: -120px;
    padding-left: 15px;
}
body.model-config .button-bar {
  margin-top: 20px;
}
body.model-config .tab-header::after {
  float: none;
  position: absolute;
  right: 15px;
  top: 140px;
}
body.model-config ul.tab-strip {
  margin-top: 20px;
  position: relative;
  top: -140px;
  z-index: 1;
}
body.model-config .tab-active .tab-left:hover .tab-text {
  color: white !important;
}
body.model-config #sticky-actions {
  float: right;
  width: 50% !important;
}
.ksImage > img{
        max-height: 150px !important;
}

body.model-config .button-middle a.button-text {
  display: inline-block;
}
body.model-config .plain-button:active .button-text {
  vertical-align: baseline;
  margin: 0;
}
.header-bordercolor{

	display: none !important;
}
/*#tab-rightSideImage-content:after{
	content: "Prices are subject to change without notice.*";
	font-style: italic;
	color: #9c9c9c;
	position: relative;
	float: left;
	top: -280px;
	font-weight: normal;
	font-size: 13px;
	//left: -17%;
}*/
#config-header {
	display: none;
}
/*for adjusting "selected config"*/
#mandatory-parts
{
bottom: -30px;
position: relative;
}
/*START move checkbox to left*/
.appSw_plgm .attribute-label-container label{
    position: absolute;
    left: 20px;
}
.signalStudioApplications_plcm .attribute-label-container label{
    position: absolute;
    left: 20px;
}
.required .attribute-label, .attribute-label {
    padding-left: 0px;
    font-size: 10pt !important;
	font-weight: normal; /*for unbold of booleans*/
}
/*END move checkbox to left*/

/*for Space issue in nested software model*/
.column{
	float: left;
    min-height: 0px;
}
.tab-header span.selectionRequired {
    color: black;
    font-size: 13px;
    float: right;
    margin-top: 0px;
    position: absolute;
    top: 145px;
    left: 85%;
}
/*--Code to remove spacing for nested models--*/
.appSw_plgm .attribute-inner {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
} 

.signalStudioApplications_plcm .attribute-inner {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
} 
/*--------------------Adding CSS changes given by Sunil----------------------------
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
body.model-config #main-table-wrapper {
  width: 100%;
  position: absolute;
  top: 200px;
  min-width: 860px;
}
body.model-config .tab-header {
  position: absolute;
  top: -180px;
  width: 70%;
}
body.model-config ul.tab-strip {
  position: absolute;
  width: 100% !important;
  text-align: center;
  top: -120px;
  margin-top: 0;
}
body.model-config .tab-content {
  border-top: 0;
  position: static;
}
body.model-config ul.tab-strip li {
  margin-left: 0;
  margin-right: 0;
}
body.model-config .tab-strip .tab-left {
  margin-left: -10px;
}
body.model-config #main-content {
  padding-right: 20px;
}
body.model-config #sidebarHTML h3 {
  margin-top: 4px !important;
}
body.model-config #ksPriceHTML {
  font-size: 26px;
  margin-bottom: 20px;
}
body.model-config .tab-header span.selectionRequired {
  left: auto;
  right: 35px;
  font-style: italic;
  color: #343434;
}
body.model-config .side-bar-content:before {
  display: block;
  text-align: right;
  top: -313px;
}
body.model-config #imgDiv {
  text-align: center;
}
body.model-config #imgDiv img {
  width: auto !important;
  height: auto !important;
  margin: 0 0 18px 0 !important;
  width: 220px !important;
  height: auto !important;
}
body.model-config .attribute .ksPrice, body.model-config .attribute .ksOption {
  min-width: 100px;
}
body.model-config .row .column-0.empty-column + .column .attribute {
  margin-left: 30px;
}

----------------------*/

/*---Updating as per Harshit mail----*/
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
body.model-config #main-table-wrapper {
  width: 100%;
  position: absolute;
  top: 200px;
  min-width: 880px;
}
body.model-config .tab-header {
  position: absolute;
  top: -180px;
  width: 70%;
}
body.model-config ul.tab-strip {
  position: absolute;
  width: 100% !important;
  text-align: center;
  top: -120px;
  margin-top: 0;
}
body.model-config .tab-content {
  border-top: 0;
  position: static;
}
body.model-config ul.tab-strip li {
  margin-left: 0;
  margin-right: 0;
}
body.model-config .tab-strip .tab-left {
  margin-left: -10px;
}
body.model-config #main-content {
  padding-right: 20px;
}
body.model-config #sidebarHTML h3 {
  margin-top: 4px !important;
}
body.model-config #ksPriceHTML {
  font-size: 26px;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}
body.model-config .tab-header span.selectionRequired {
  left: auto;
  right: 35px;
  font-style: italic;
  color: #343434;
}
body.model-config .side-bar-content:before {
  display: block;
  text-align: right;
  top: -270px;
}
body.model-config #imgDiv {
  text-align: center;
  min-height: 110px !important;
}
body.model-config #imgDiv img {
  margin: 0 0 18px 0 !important;
  width: 220px !important;
  height: 110px !important;
}
body.model-config .attribute .ksPrice, body.model-config .attribute .ksOption {
  min-width: 100px;
}
body.model-config .row .column-0.empty-column + .column > .attribute {
  margin-left: 30px;
}
body.model-config .row .column-0.empty-column + .column > .attribute:first-child {
  margin-top: 2px;
}
body.model-config .row .column-0.empty-column + .column > .attribute + .attribute {
  margin-bottom: 12px;
}
body.model-config .side-bar-content {
  padding-top: 235px !important;
}
body.model-config #tab-rightSideImage-content {
  top: -10px;
}

body.model-config .tab-header span.selectionRequired {
  top: 143px;
}

/*-----Long Description----*/
.attribute .ksLabel{
width: 55%; 
margin-top: 3px;
display: inline-block;
vertical-align: top;
}
/*----Spacing between “Selected configuration note” & first BOM item---------*/
#mandatory-parts {
    bottom: 0;
}
/*---Parts in mandatory parts column wrapping---*/
#mandatory-parts-wrapper td.part_number {
    white-space: nowrap;
}
/*On changing the resolution(zooming in/out), contents in Price and Item column are getting misplaced for Booleans
.appSw_plgm .attribute-inner {
    position: relative;
                margin-bottom: 8px;
}

.appSw_plgm .attribute-label-container label {
    position: static;
                margin-left: 20px;
                display: block;
}

.appSw_plgm .attribute-field-container input[type=checkbox] {
    position: absolute;
    left: 20px;
                top: 0;
}
#attribute-benchVueSpectrumAnalyzerProSoftwareLicenseBV0005A .attribute-label-container {
                width: 84%;
}
body label[for="benchVueSpectrumAnalyzerProSoftwareLicenseBV0005A"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-benchVueSpectrumAnalyzerProSoftwareLicenseBV0005A::after {
    margin-top: -39px;
}
#attribute-sequenceAnalyzerMeasurementApplication_pfks .attribute-label-container {
                width: 84%;
}
body label[for="sequenceAnalyzerMeasurementApplication_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-sequenceAnalyzerMeasurementApplication_pfks::after {
    margin-top: -39px;
}
#attribute-lTELTEAdvancedFDDMeasurementApplicationN9082B .attribute-label-container {
                width: 84%;
}
body label[for="lTELTEAdvancedFDDMeasurementApplicationN9082B"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-lTELTEAdvancedFDDMeasurementApplicationN9082B::after {
    margin-top: -39px;
}
#attribute-vectorSignalAnalysisSoftwareTransportableLicense89601B_pfks .attribute-label-container {
                width: 84%;
}
body label[for="vectorSignalAnalysisSoftwareTransportableLicense89601B_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-vectorSignalAnalysisSoftwareTransportableLicense89601B_pfks::after {
    margin-top: -39px;
}
#attribute-mATLABSoftware_boolean_pfks .attribute-label-container {
                width: 84%;
}
body label[for="mATLABSoftware_boolean_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-mATLABSoftware_boolean_pfks::after {
    margin-top: -39px;
}
#attribute-vXAVectorSignalAnalysisMeasurementApplicationN9064A .attribute-label-container {
                width: 84%;
}
body label[for="vXAVectorSignalAnalysisMeasurementApplicationN9064A"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-vXAVectorSignalAnalysisMeasurementApplicationN9064A::after {
    margin-top: -39px;
}
#attribute-gSMEDGEEvoMeasurementApplicationN9071A .attribute-label-container {
                width: 84%;
}
body label[for="gSMEDGEEvoMeasurementApplicationN9071A"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-gSMEDGEEvoMeasurementApplicationN9071A::after {
    margin-top: -39px;
}
#attribute-cDMA2000MeasurementApplicationN9072A .attribute-label-container {
                width: 84%;
}
body label[for="cDMA2000MeasurementApplicationN9072A"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-cDMA2000MeasurementApplicationN9072A::after {
    margin-top: -39px;
}
#attribute-wCDMAHSPAMeasurementApplicationN9073A .attribute-label-container {
                width: 84%;
}
body label[for="wCDMAHSPAMeasurementApplicationN9073A"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-wCDMAHSPAMeasurementApplicationN9073A::after {
    margin-top: -39px;
}
#attribute-mobileWiMAXMeasurementApplicationN9075A .attribute-label-container {
                width: 84%;
}
body label[for="mobileWiMAXMeasurementApplicationN9075A"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-mobileWiMAXMeasurementApplicationN9075A::after {
    margin-top: -39px;
}
#attribute-a1xEVDOMeasurementApplicationN9076A .attribute-label-container {
                width: 84%;
}
body label[for="a1xEVDOMeasurementApplicationN9076A"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-a1xEVDOMeasurementApplicationN9076A::after {
    margin-top: -39px;
}
#attribute-wLAN80211abgnacahMeasurementApplicationN9077A .attribute-label-container {
                width: 84%;
}
body label[for="wLAN80211abgnacahMeasurementApplicationN9077A"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-wLAN80211abgnacahMeasurementApplicationN9077A::after {
    margin-top: -39px;
}
#attribute-tDSCDMAHSPAMeasurementApplicationN9079A .attribute-label-container {
                width: 84%;
}
body label[for="tDSCDMAHSPAMeasurementApplicationN9079A"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-tDSCDMAHSPAMeasurementApplicationN9079A::after {
    margin-top: -39px;
}
#attribute-bLTELTEAdvancedFDDMeasurementApplication_N9080B_pfks .attribute-label-container {
                width: 84%;
}
body label[for="bLTELTEAdvancedFDDMeasurementApplication_N9080B_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-bLTELTEAdvancedFDDMeasurementApplication_N9080B_pfks::after {
    margin-top: -39px;
}
#attribute-bluetoothMeasurementApplicationN9081A .attribute-label-container {
                width: 84%;
}
body label[for="bluetoothMeasurementApplicationN9081A"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-bluetoothMeasurementApplicationN9081A::after {
    margin-top: -39px;
}
#attribute-analogdemodulationmeasurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="analogdemodulationmeasurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-analogdemodulationmeasurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-phasenoisemeasurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="phasenoisemeasurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-phasenoisemeasurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-noisefiguremeasurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="noisefiguremeasurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-noisefiguremeasurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-dVBTHT2measurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="dVBTHT2measurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-dVBTHT2measurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-dVBTHT2measurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="dVBTHT2measurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-dVBTHT2measurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-iSDBTTmmmeasurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="iSDBTTmmmeasurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-iSDBTTmmmeasurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-dTMBCTTBmeasurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="dTMBCTTBmeasurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-dTMBCTTBmeasurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-cMMBmeasurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="cMMBmeasurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-cMMBmeasurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-vXAvectorsignalanalysismeasurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="vXAvectorsignalanalysismeasurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-vXAvectorsignalanalysismeasurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-eMImeasurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="eMImeasurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-eMImeasurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-digitalcableTVmeasurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="digitalcableTVmeasurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-digitalcableTVmeasurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-gSMEDGEEvomeasurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="gSMEDGEEvomeasurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-gSMEDGEEvomeasurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-cDMA2000measurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="cDMA2000measurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-cDMA2000measurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-wCDMAHSPAmeasurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="wCDMAHSPAmeasurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-wCDMAHSPAmeasurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-mobileWiMAXmeasurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="mobileWiMAXmeasurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-mobileWiMAXmeasurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-tDSCDMAHSPAmeasurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="tDSCDMAHSPAmeasurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-tDSCDMAHSPAmeasurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-bluetoothmeasurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="bluetoothmeasurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-bluetoothmeasurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-wLAN80211abgnmeasurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="wLAN80211abgnmeasurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-wLAN80211abgnmeasurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-multiStandardRadioMSRmeasurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="multiStandardRadioMSRmeasurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-multiStandardRadioMSRmeasurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-sCPIlanguagecompatibilityforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="sCPIlanguagecompatibilityforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-sCPIlanguagecompatibilityforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-xEVDOmeasurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="xEVDOmeasurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-xEVDOmeasurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-pulseMeasurementSoftware_pfks .attribute-label-container {
                width: 84%;
}
body label[for="pulseMeasurementSoftware_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-pulseMeasurementSoftware_pfks::after {
    margin-top: -39px;
}
#attribute-lTELTEAdvancedFDDmeasurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="lTELTEAdvancedFDDmeasurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-lTELTEAdvancedFDDmeasurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-lTELTEAdvancedTDDmeasurementapplicationforCXA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="lTELTEAdvancedTDDmeasurementapplicationforCXA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-lTELTEAdvancedTDDmeasurementapplicationforCXA_pfks::after {
    margin-top: -39px;
}
#attribute-n9063CAnalogDemodulationMeasurementApplication_pfks .attribute-label-container {
                width: 84%;
}
body label[for="n9063CAnalogDemodulationMeasurementApplication_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-n9063CAnalogDemodulationMeasurementApplication_pfks::after {
    margin-top: -39px;
}
#attribute-n9067CEmbeddedPulseMeasurementApplication_pfks .attribute-label-container {
                width: 84%;
}
body label[for="n9067CEmbeddedPulseMeasurementApplication_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-n9067CEmbeddedPulseMeasurementApplication_pfks::after {
    margin-top: -39px;
}
#attribute-n9068CPhaseNoiseMeasurementApplication_pfks .attribute-label-container {
                width: 84%;
}
body label[for="n9068CPhaseNoiseMeasurementApplication_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-n9068CPhaseNoiseMeasurementApplication_pfks::after {
    margin-top: -39px;
}
#attribute-n9069CNoiseFigureMeasurementApplication_pfks .attribute-label-container {
                width: 84%;
}
body label[for="n9069CNoiseFigureMeasurementApplication_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-n9069CNoiseFigureMeasurementApplication_pfks::after {
    margin-top: -39px;
}
#attribute-n9073CWCDMAHSPAMeasurementApplication .attribute-label-container {
                width: 84%;
}
body label[for="n9073CWCDMAHSPAMeasurementApplication"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-n9073CWCDMAHSPAMeasurementApplication::after {
    margin-top: -39px;
}
#attribute-wLAN80211abgnacahafMeasurementApplication_N9077C_plcm .attribute-label-container {
                width: 84%;
}
body label[for="wLAN80211abgnacahafMeasurementApplication_N9077C_plcm"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-wLAN80211abgnacahafMeasurementApplication_N9077C_plcm::after {
    margin-top: -39px;
}
#attribute-n9080CLTELTEAdvancedFDDMeasurementApplication .attribute-label-container {
                width: 84%;
}
body label[for="n9080CLTELTEAdvancedFDDMeasurementApplication"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-n9080CLTELTEAdvancedFDDMeasurementApplication::after {
    margin-top: -39px;
}
#attribute-bluetoothMeasurementApplication_pfks .attribute-label-container {
                width: 84%;
}
body label[for="bluetoothMeasurementApplication_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-bluetoothMeasurementApplication_pfks::after {
    margin-top: -39px;
}
#attribute-n9082CLTELTEAdvancedTDDMeasurementApplication_plcm .attribute-label-container {
                width: 84%;
}
body label[for="n9082CLTELTEAdvancedTDDMeasurementApplication_plcm"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-n9082CLTELTEAdvancedTDDMeasurementApplication_plcm::after {
    margin-top: -39px;
}
#attribute-n9084CShortRangeCommMeasurementApp .attribute-label-container {
                width: 84%;
}
body label[for="n9084CShortRangeCommMeasurementApp"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-n9084CShortRangeCommMeasurementApp::after {
    margin-top: -39px;
}
#attribute-analogDemodulationMeasurementApplication_N9063A_pfks .attribute-label-container {
                width: 84%;
}
body label[for="analogDemodulationMeasurementApplication_N9063A_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-analogDemodulationMeasurementApplication_N9063A_pfks::after {
    margin-top: -39px;
}
#attribute-phaseNoiseMeasurementApplicationN9068A .attribute-label-container {
                width: 84%;
}
body label[for="phaseNoiseMeasurementApplicationN9068A"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-phaseNoiseMeasurementApplicationN9068A::after {
    margin-top: -39px;
}
#attribute-noiseFigureMeasurementApplicationN9069A .attribute-label-container {
                width: 84%;
}
body label[for="noiseFigureMeasurementApplicationN9069A"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-noiseFigureMeasurementApplicationN9069A::after {
    margin-top: -39px;
}
#attribute-sCPILanguageCompatibilityN9062A .attribute-label-container {
                width: 84%;
}
body label[for="sCPILanguageCompatibilityN9062A"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-sCPILanguageCompatibilityN9062A::after {
    margin-top: -39px;
}
#attribute-vXAVectorSignalAnalysisMeasurementApplicationN9064A .attribute-label-container {
                width: 84%;
}
body label[for="vXAVectorSignalAnalysisMeasurementApplicationN9064A"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-vXAVectorSignalAnalysisMeasurementApplicationN9064A::after {
    margin-top: -39px;
}
.signalStudioApplications_plcm .attribute-inner {
    position: relative;
                margin-bottom: 8px;
}
.signalStudioApplications_plcm .attribute-label-container label {
    position: static;
                margin-left: 20px;
                display: block;
}
.signalStudioApplications_plcm .attribute-field-container input[type=checkbox] {
    position: absolute;
    left: 20px;
                top: 0;
}
#attribute-signalStudioforWCDMAHSPA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="signalStudioforWCDMAHSPA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-signalStudioforWCDMAHSPA_pfks::after {
    margin-top: -39px;
}
#attribute-signalStudioforGSMEDGEEvo_pfks .attribute-label-container {
                width: 84%;
}
body label[for="signalStudioforGSMEDGEEvo_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-signalStudioforGSMEDGEEvo_pfks::after {
    margin-top: -39px;
}
#attribute-signalStudioforTDSCDMAHSPA_pfks .attribute-label-container {
                width: 84%;
}
body label[for="signalStudioforTDSCDMAHSPA_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-signalStudioforTDSCDMAHSPA_pfks::after {
    margin-top: -39px;
}
#attribute-studioforWLAN80211a_b_g_j_p_n_ac_ah_pfks .attribute-label-container {
                width: 84%;
}
body label[for="studioforWLAN80211a_b_g_j_p_n_ac_ah_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-studioforWLAN80211a_b_g_j_p_n_ac_ah_pfks::after {
    margin-top: -39px;
}
#attribute-signalStudioforLTELTEAdvancedFDD_pfks .attribute-label-container {
                width: 84%;
}
body label[for="signalStudioforLTELTEAdvancedFDD_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-signalStudioforLTELTEAdvancedFDD_pfks::after {
    margin-top: -39px;
}
#attribute-signalStudioforLTELTEAdvancedTDD_pfks .attribute-label-container {
                width: 84%;
}
body label[for="signalStudioforLTELTEAdvancedTDD_pfks"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-signalStudioforLTELTEAdvancedTDD_pfks::after {
    margin-top: -39px;
}
#attribute-signalStudioWaveformLicensesForM9381AAndM9420A .attribute-label-container {
                width: 84%;
}
body label[for="signalStudioWaveformLicensesForM9381AAndM9420A"]::after {
padding-left: 0 !important;
margin-top: 0;
}
body #attribute-signalStudioWaveformLicensesForM9381AAndM9420A::after {
    margin-top: -39px;
}
/*---End----*/
/*On reducing browser resolution-  Image distortion in the tab where Array attribute is present.*/
table.array th + td + td div.attribute-field-container {
width: auto !important;
}
table.array th + td + td {
width: 72%;
}
table.array th + td + td + td {
width: 14%;
}
table.array th + td + td + td + td {
width: 14%;
}
