#active-constraints {
    display: none !important;
}

.adv-grid-cell.Quantity{
	padding-left: 10px !important;
}

body.model-config #sticky-actions{
width: 50% !important;
}

.ksImage > img{
        max-height: 150px !important;
}


.attribute .ksLabel{
	width: 60%; 
	margin-top: 3px;
	display: inline-block;
	vertical-align: top;
}

#attribute-constrainMicrowaveFlag,
#attribute-constrainRearInputTerminalsFlag,
#attribute-constrainConnectorFlag,
#attribute-constrainCustomSolutionFlag {
    display: none;
}

.array .messages td ,
.array tr td.recommended, .array tr td.constrained, .array tr td.previous-value {
    background-color: #ffffff !important;
}

/**Layout Disco Notes**/
.discoNotes {
    color: black;
    border: 2px;
    border-color: black;
    padding: 10px;
    background-color: #f5f5f5;
}

.cell-priceDocumentationArrAttr_pfks, .cell-priceAccessoriesArrAttr_mod, .cell-priceHardwareArrAttr_pfks, .cell-priceSoftwareArrAttr_pfks, .cell-priceproductAssistanceArrAttr_PLBL, .cell-priceAddlDocArrAttr_pfks{
	padding-left: 24px !important;
}

.group-option label {
    padding-left: 22px !important;
}

input[name="quantityDocumentationArrAttr_pfks"] , input[name="quantityAccessoriesArrAttr_mod"] , input[name="quantityHardwareArrAttr_pfks"] , input[name="quantitySoftwareArrAttr_pfks"] , input[name="quantityproductAssistanceArrAttr_PLBL"], input[name="quantityAddlDocArrAttr_pfks"]{
    width: 20px !important;
}

/*START: layout array set*/
.cell-quantityHardwareArrAttr_pfks,
.cell-quantityproductAssistanceArrAttr_PLBL,
.cell-quantityAccessoriesArrAttr_mod,
.cell-quantityDocumentationArrAttr_pfks,
.cell-quantitySoftwareArrAttr_pfks,
.cell-quantityAddlDocArrAttr_pfks {
	width: 5% !important;
}

.cell-quantityHardwareArrAttr_pfks .attribute-field-container,
.cell-quantitySoftwareArrAttr_pfks .attribute-field-container,
.cell-quantityproductAssistanceArrAttr_PLBL .attribute-field-container,
.cell-quantityAccessoriesArrAttr_mod .attribute-field-container,
.cell-quantityDocumentationArrAttr_pfks .attribute-field-container,
.cell-quantityAddlDocArrAttr_pfks .attribute-field-container{
	min-width: 30px;
	max-width: 30px;
}

.cell-productAssistanceArrAttr_PLBL,
.cell-accessoriesArrAttr_mod,
.cell-documentationArrAttr_pfks,
.cell-softwareArrAttr_pfks,
.cell-hardwareArrAttr_pfks,
.cell-addlDocArrAttr_pfks{
	width: 55% !important;
}

.cell-productAssistanceArrAttr_PLBL.attribute-field-container,
.cell-accessoriesArrAttr_mod.attribute-field-container,
.cell-documentationArrAttr_pfks.attribute-field-container,
.cell-softwareArrAttr_pfks.attribute-field-container,
.cell-hardwareArrAttr_pfks.attribute-field-container,
.cell-addlDocArrAttr_pfks.attribute-field-container{
	margin-top: 3px !important;
}

.cell-accessoryPartArrAttr_mod,
.cell-priceAccessoriesArrAttr_mod,
.cell-totalPriceAccessoriesArrAttr_mod,
.cell-productAssistancePartArrAttr_PLBL,
.cell-priceproductAssistanceArrAttr_PLBL,
.cell-totalPriceproductAssistanceArrAttr_PLBL,
.cell-priceDocumentationArrAttr_pfks,
.cell-totalPriceDocumentationArrAttr_pfks,
.cell-itemDocumentationArrAttr_pfks,
.cell-priceSoftwareArrAttr_pfks,
.cell-totalPriceSoftwareArrAttr_pfks,
.cell-itemSoftwareArrAttr_pfks,
.cell-itemHardwareArrAttr_pfks ,
.cell-totalPriceHardwareArrAttr_pfks ,
.cell-priceHardwareArrAttr_pfks,
.cell-priceAddlDocArrAttr_pfks,
.cell-itemAddlDocArrAttr_pfks {
	/*width: 13% !important;	*/
	width: 16% !important;
}

#softwareArraySet tr th[scope="row"],
#hardwareArraySet tr th[scope="row"],
#documentationArraySet tr th[scope="row"],
#accessoriesArraySet_mod tr th[scope="row"],
#productAssistanceArraySet_PLBL tr th[scope="row"] ,
#addlDocArraySet tr th[scope="row"] {
    display: none !important;
}
#softwareArraySet tr th:first-child ,
#hardwareArraySet tr th:first-child ,
#documentationArraySet tr th:first-child ,
#accessoriesArraySet_mod tr th:first-child ,
#productAssistanceArraySet_PLBL tr th:first-child,
#addlDocArraySet tr th:first-child {
    display: none !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array .even td, .array .even th {
    background-color: #FFFFFF !important;
}
.array {
    background-color: #FFFFFF !important;
}
.array td, .array th {
    border: 0px solid #eaeaea !important;
}
.array {
    border-width: 0px !important;
}
.array thead th {
    background-color: #FFFFFF !important;
}
/*END - layout array set*/


.array-wrapper {
    overflow: auto;
    position: relative;
    margin: 8px;
    margin-top: -4px;
}

.tab-header {
    display: block !important;
    position: absolute;
    top: -105px;
    color: gray;
    font-size: 20px;
    font-weight: normal;
    width: 100%;
}
.tab-header span.selectionRequired{
    /*color: red;*/
    font-size: 13px;
    float: right;
	/*margin-top: 0px;*/
	position: absolute;
	margin: 120px 0px 100% 30%;
	right: 0%;
}
.message.constraint-message {
    display: none;
}
.tab-left .tab-right .tab-text {
    background-color: #fff !important;
}
.tab-left .tab-right .tab-text:hover {
    background-color: #efefef !important;
                color: #4b4b4b !important;
}
.tab-left:hover .tab-text{
    background-color: #efefef !important;
                color: #4b4b4b !important;
}
.tab-text:hover{
    background-color: #efefef !important;
                color: #4b4b4b !important;
}
.tab-active .tab-left .tab-right .tab-text {
    background-color: #5b5b5b !important;
}
input[checked="checked"] + label {
    font-weight: bold !important;
}
.tab-strip .tab-left {
    background: #fff !important;
    padding-left: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.tab-strip .tab-left:hover {
    background-color: #efefef !important;
                color: #4b4b4b;
}
.tab-strip .tab-active a.tab-left, .tab-strip .tab-active a.tab-left .tab-inner {
    background-color: #5b5b5b !important;
}
.tab-content {
    padding: 3px;
    border-top: 2px solid #5b5b5b;
}
.tab-strip .tab-text {
    padding: 0px;
    font-size: 12px !important;
    font-weight: 600;
    background: transparent url() no-repeat right 0;
    padding-right: 25px;
    padding-left: 15px;
    color: red !important;
}
ul.tab-strip li {
    margin-right: 1px;
    border-style: solid;
    border-top-width: 7px;
    border-top-color: #cfcfcf;
                border-right-color: #cfcfcf !important;
                border-right-width: 1px;
}

/*remove none from options - radio button*/
label[for="gmQuestion_"], #gmQuestion_,
label[for="accessories_plgm_ATP_Lead_Time_for_BLU"], #accessories_plgm_ATP_Lead_Time_for_BLU,
label[for="powerSensorCable_pfks_"], #powerSensorCable_pfks_,
label[for="optionConfiguration_pfks_"], #optionConfiguration_pfks_,
label[for="calibratorAndSensorOptions_pfks_"],#calibratorAndSensorOptions_pfks_,
/*label[for="adapter_plgm_"], #adapter_plgm_,*/
label[for="maxPowerOptions_plgm_"], #maxPowerOptions_plgm_,
/*label[for="freqPerf_plgm_"], #freqPerf_plgm_,*/
/*label[for="customSolutions_pfks_"],#customSolutions_pfks_,*/
label[for="measurementTerminals_plgm_"],#measurementTerminals_plgm_,
label[for="oldOptions_plgm_"],#oldOptions_plgm_,
label[for="freqRange_plgm_"],#freqRange_plgm_,
label[for="nVRAMMemoryUpg_plgm_"],#nVRAMMemoryUpg_plgm_,
label[for="intDMM_plgm_"],#intDMM_plgm_,
label[for="maxRMSACInpVolt_plgm_"],#maxRMSACInpVolt_plgm_,
label[for="specialsForHighSpeedPassFail_plgm_"],#specialsForHighSpeedPassFail_plgm_,
label[for = "voltage_plgm_"], #voltage_plgm_,
label[for = "distributionDemoOption_plgm_"], #distributionDemoOption_plgm_,
/*label[for = "bundlingOptions_plgm_"], #bundlingOptions_plgm_,*/
label[for = "coverForHwOptions_plgm_"], #coverForHwOptions_plgm_,
label[for = "audioAnalyzerOptions_plgm_"], #audioAnalyzerOptions_plgm_,
/*label[for = "specialOptionsForKenwood_plgm_"], #specialOptionsForKenwood_plgm_,*/
/*label[for = "connector_plgm_"], #connector_plgm_,*/
label[for = "cables_plgm_"], #cables_plgm_,
label[for = "flyerOptions_plgm_"],#flyerOptions_plgm_,
label[for = "stdShipAccWty_plgm_"], #stdShipAccWty_plgm_,
label[for = "readingMemory_plgm_"], #readingMemory_plgm_,
label[for = "voltRef_plgm_"], #voltRef_plgm_,
label[for = "batteries_plgm_"], #batteries_plgm_,
label[for = "microwave_plgm_"], #microwave_plgm_, 
/* label[for = "rearInputTerminals_plgm_"], #rearInputTerminals_plgm_, */
label[for = "doc_pfks_"], #doc_pfks_,
/*label[for = "recalServPlan_pfks_"], #recalServPlan_pfks_,*/
label[for = "wtyAndServPlan_pfks_"], #wtyAndServPlan_pfks_,
/*label[for = "calibration_pfks_"], #calibration_pfks_,*/
/*label[for = "powerCords_pfks_"], #powerCords_pfks_,*/
label[for = "timebase_plgm_"], #timebase_plgm_, 
label[for = "arbWaveform_plgm_"], #arbWaveform_plgm_, 
label[for = "swDelivery_pfks_"], #swDelivery_pfks_, 
label[for = "channelConfig_plgm_"], #channelConfig_plgm_{
    display: none;
}


/*Hide System Recommendations*/
.message.recommendation-message{
	display: none;
}
/*set the font for attr options, HTML labels, field containers, tabs*/
.group-option {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.read-only-html {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 12px !important;
}
.attribute-field-container {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px !important;
	color: black;
}
.tab-strip .tab-active a.tab-left .tab-text {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
    color: #AAA !important;
}

/*to change appearance of radio button to checkbox*/
input[name="warrantyAndServicePlan"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
}
/*
#pipeline-viewer-opener{
	padding: 4px;
	display: none !important;
}
*/
#pipeline-viewer-opener a{
	font-size: 12px;
}
.tab-strip .tab-right{
	padding: 0px;
}

.tab-strip li{
	padding: 0 0px;
}

.tab-strip .tab-inner {
    background: #6699CC url() repeat-x 0 0;
}
.tab-inner, .tab-right {
    padding-right: 0px;
}
.tab-strip a.tab-left {
    border-radius: 0 0 0 0;
}
.model-config .group-header {
    font-size: 13px !important;
    font-weight: 600 !important;
    line-height: 14px;
}
.group-header {
    background-color: #DFDFDF !important;
    padding: 6px;
    border-radius: 0px;
    font-weight: 600 !important;
}
.model-config .group-header:hover {
    color: #2A4BDA !important;
    background-color: rgba(204, 208, 228, 0.49) !important;
}
.model-config .group-content.collapsed .group-header span {
    font-weight: 600 !important;
}
.required .attribute-label, .attribute-label {
    font-size: 10pt !important;
}
.model-config .group-content .group-header span {
    padding-left: 18px;
    background: url("/img/config/arrow-expanded.png") no-repeat 0 50%;
	color:black;
	font-weight: 600 !important;
}
.adv-grid-row:hover{
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
	background-color: #F0F0F0 !important;
	font-weight: bold !important;
	color: black !important;
}
.adv-grid-row:hover .adv-grid-cell.Price{
	color: red !important;
}

.constrained.group-option {
	display:none;
}

.group-option:hover{
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
	background-color: #F8F8F8 !important;
	font-weight: bold !important;
}

.model-config .group-content.collapsed .group-header span {
    padding-left: 18px;
    background: url("/img/config/arrow-collapsed.png") no-repeat 0 50%;
}
.group-content.collapsed .group-header{
	background-color: #CFCFCF !important;
}
#navbar ul > li {
    margin: 3px 5px;
}

.model-config .group-header {
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
}

/*Mandatory Parts Section - Column Display*/
.adv-grid-header-cell.checkbox, .adv-grid-cell.checkbox,
.adv-grid-header-cell.part_number, /*.adv-grid-cell.part_number,*/
.adv-grid-header-cell.Quantity, /*.adv-grid-cell.Quantity,*/
.adv-grid-header-cell.field2, .adv-grid-header-cell.field2.header, .adv-grid-cell.field2,
.adv-grid-header-cell.field3, .adv-grid-header-cell.field3.header, .adv-grid-cell.field3,
.adv-grid-header-cell.field4, .adv-grid-header-cell.field4.header, .adv-grid-cell.field4,
.adv-grid-header-cell.field5, .adv-grid-header-cell.field5.header, .adv-grid-cell.field5,
.adv-grid-header-cell.part_display_number, .adv-grid-header-cell.part_display_number.header, .adv-grid-cell.part_display_number,
.adv-grid-header-cell.description, .adv-grid-header-cell.Price,
.adv-grid-header-cell.company_associations, .adv-grid-header-cell.company_associations.header, .adv-grid-cell.company_associations,
.adv-grid-header-cell.field6, .adv-grid-header-cell.field6.header, .adv-grid-cell.field6,
.adv-grid-header-cell.field8, .adv-grid-header-cell.field8.header, .adv-grid-cell.field8,
.adv-grid-header-cell.field9, .adv-grid-header-cell.field9.header, .adv-grid-cell.field9,
.adv-grid-header-cell.field10, .adv-grid-header-cell.field10.header, .adv-grid-cell.field10,
.adv-grid-header-cell.field11, .adv-grid-header-cell.field11.header, .adv-grid-cell.field11,
.adv-grid-header-cell.field12, .adv-grid-header-cell.field12.header, .adv-grid-cell.field12,
.adv-grid-header-cell.field13, .adv-grid-header-cell.field13.header, .adv-grid-cell.field13,
.adv-grid-header-cell.field14, .adv-grid-header-cell.field14.header, .adv-grid-cell.field14,
.adv-grid-header-cell.field15, .adv-grid-header-cell.field15.header, .adv-grid-cell.field15,
.adv-grid-header-cell.field18, .adv-grid-header-cell.field18.header, .adv-grid-cell.field18,
.adv-grid-header-cell.field19, .adv-grid-header-cell.field19.header, .adv-grid-cell.field19,
.adv-grid-header-cell.field20, .adv-grid-header-cell.field20.header, .adv-grid-cell.field20,
.adv-grid-header-cell.field21, .adv-grid-header-cell.field21.header, .adv-grid-cell.field21,
.adv-grid-header-cell.field22, .adv-grid-header-cell.field22.header, .adv-grid-cell.field22,
.adv-grid-header-cell.field23, .adv-grid-header-cell.field23.header, .adv-grid-cell.field23,
.adv-grid-header-cell.field24, .adv-grid-header-cell.field24.header, .adv-grid-cell.field24,
.adv-grid-header-cell.field25, .adv-grid-header-cell.field25.header, .adv-grid-cell.field25,
.adv-grid-header-cell.field26, .adv-grid-header-cell.field26.header, .adv-grid-cell.field26,
.adv-grid-header-cell.field27, .adv-grid-header-cell.field27.header, .adv-grid-cell.field27,
.adv-grid-header-cell.field28, .adv-grid-header-cell.field28.header, .adv-grid-cell.field28,
.adv-grid-header-cell.field29, .adv-grid-header-cell.field29.header, .adv-grid-cell.field29,
.adv-grid-header-cell.field30, .adv-grid-header-cell.field30.header, .adv-grid-cell.field30
{
	display: none;
}

.grid.accessories, .grid.adapter, .grid.addlCables, .grid.addlDoc, .grid.appEnh, .grid.appSw, .grid.arbWaveform, .grid.audioAnalyzerOptions, 
.grid.batteries, .grid.bluetoothCertLabelOpt, .grid.bundHwUpg, .grid.bundlingOptions, .grid.cables, .grid.calibration, .grid.channelConfig, 
.grid.cmBundleOptions, .grid.combOfMaterials, .grid.combOptions, .grid.connector, .grid.coverForHwOptions, .grid.csrNotes, .grid.custSol, 
.grid.distributionDemoOption, .grid.doc, .grid.firmwareOption, .grid.flyerOptions, .grid.freqPerf, .grid.freqRange, .grid.gPIB, .grid.hiddenSw, 
.grid.hwOptions, .grid.iBASICDoc, .grid.intDMM, .grid.maxPowerOptions, .grid.maxRMSACInpVolt, .grid.measurementTerminals, .grid.memory, 
.grid.memoryUpg, .grid.microwave, .grid.nVRAMMemoryUpg, .grid.oldOptions, .grid.optionalKitItems, .grid.powerCords, .grid.prodAsst, 
.grid.readingMemory, .grid.rearInputTerminals, .grid.recalServPlan, .grid.recalServPlanHwUpg, .grid.regionalDistributionCenter, 
.grid.rSDDemoOption, .grid.serviceCountry, .grid.software, .grid.specialAddendumSheet, .grid.specialOptionsForKenwood, .grid.country,
.grid.specialsForHighSpeedPassFail, .grid.stdShipAccWty, .grid.swDel, .grid.timebase, .grid.upgOptions, .grid.uSArmyColorCode, .grid.voltage, 
.grid.voltRef, .grid.wtyAndServPlan, .grid.gmModel, .grid.usageType, .grid.includedOptions, .grid.addOnOpt, .grid.calSensorOpt, .grid.custOpt, 
.grid.custmzdOpt, .grid.dataStorage, .grid.demoUseOnly, .grid.dummyOpt, .grid.eduKit, .grid.hiddenOpt, .grid.label, .grid.module, .grid.optConfig,
.grid.peakPwrAnlyzr, .grid.perpLicense, .grid.powerSensor, .grid.swApp, .grid.swLicense, .grid.swOpt, .grid.thermalSeal, .grid.uSBHostOpt,
.grid.LANCables, .grid.tVACLAN, .grid.triggerCables, .grid.refurbProd, .grid.docQty, .grid.accessoriesQty, .grid.hwQty, .grid.swQty,
.grid.notesServices, .grid.notesAccessories, .grid.notesSoftware, .grid.gmQuestion
{
    display: none;
}

.ksImage{
/*	border-bottom: 1px solid #AAAAAA !important;
	border-top: 1px solid #AAAAAA !important;
	border-left: 1px solid #AAAAAA !important;
	border-right: 1px solid #AAAAAA !important;
*/
}

#ksCustomHTML{
	padding-left: 15px;
}

div.main-model {
  display: none;
}

#cSRNotes_pfks, #cSRNotesServices_pfks, #cSRNotesAccessories_pfks, #cSRNotesSoftware_pfks{
    color: red;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
    font-weight: bold;
}

#gPIB_plgm_Standard_with_no_GPIB,
label[for="gPIB_plgm_Standard_with_no_GPIB"]{
	display: none;
}

#swDelivery_pfks .ksOption, #swDelivery_pfks .ksPrice {
    width: 15% !important;
}

/*Hide System Recommendations*/
.message.recommendation-message{
	display: none;
}

#ksPriceHTML{
	font-size: 24px;
	font-weight: bold;
	color: black;
	padding-left: 30%;
}

.view-text, .form-input, .form-input select, .form-input-modified, .form-input-selected, .form-input-mouseover, .form-item input, .form-item select, .form-item textarea, .form-item .menu-attr label, .attribute-field, .cfg-image-menu {
    font-size: 10pt;
 }
 
 .unreset {
    font-size: 10pt;
}

table.spare-grid td {
    font-size: 10pt;
}

#tab-hiddenAttributes_plgm,
#tab-rightSideImage{
	display: none !important;
}
#tab-cSSAttributes{
	display: none;
}

#tab-rightSideImage-content{
	display: block !important;
	position: absolute;
	top: 9px;
	right: 0;
	width: 30%;
	height: 200px;
	background-color: transparent;
}

#tab-rightSideImage-content img{
	width: 250px;
	height: 150px;
}
.side-bar-content{
	padding-top: 280px !important;
}
.commerce-bordercolor, .commerce-bordercolor .topcolor, .admin-bordercolor, .admin-bordercolor .topcolor, .header-bordercolor, #main-nav, #sub-nav{
	border-bottom-color: #F0F0F0;
}
.commerce-bordercolor table{
	display: none;
}

.items-header{
	border: solid 0px #666 !important;
}
.view-header {
    background-color: #cfcfcf !important;
}
.items-table-content {
	border-width: 0 0 0 0 !important;
}
table.spare-grid th {
    border-right: #ccc solid 0px !important;
}
table.spare-grid td {
	border-right: #eee solid 0px !important;
}
td.adv-grid-cell {
    border-bottom: 0px solid #DDD !important;
}
.spare-grid {
    border-width: 0px !important;
}
.side-bar-content {
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
}
table.spare-grid td {
    font-size: 12px !important;
}
.unreset h3 {
    margin: 0em 0 !important;
}

table.pricing-content td.numeric {
    text-align: center;
}

#pricing-table-wrapper{
	display: none !important;
}

.grand-total-container {
    display: none !important;
}
#mandatory-parts-wrapper .items-header.view-header {
    display: none;
}
#main-content {
    width: 70% !important;
}
.vertical .group-option {
    padding-bottom: 6px !important;
}
#config-header {
	display: none;
}

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
body.model-config {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  color: #343434 !important;
  line-height: 1.3 !important;
  font-size: 13px;
}
body.model-config td, body.model-config input {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 100%;
}
body.model-config div {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
}
body.model-config a:link {
  color: #e90029;
  cursor: pointer;
  text-decoration: none;
}
body.model-config a:visited {
  color: #891518;
}
body.model-config a:hover {
  text-decoration: underline;
}
body.model-config a:active {
  color: #e90029;
}
body.model-config .tab-header {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #555555;
}

body.model-config .tab-strip .tab-active a.tab-left .tab-text,
body.model-config .tab-strip .tab-text {
  color: #FFFFFF;
  font-weight: Bold;
  font-style: Normal;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px !important;
  text-decoration: none;
  line-height: normal;
  padding: 10px 20px !important;
  padding-top: 17px !important;
  border-top: 7px solid #dbdbdb;
  height: 23px;
}
body.model-config .tab-strip .tab-active a.tab-left .tab-text {
  border-top-color: #019642;
}
body.model-config a.tab-left:hover {
  text-decoration: none;
}
body.model-config .tab-strip .tab-left:hover {
  color: #343434;
}
body.model-config .tab-left:hover .tab-text {
  background-color: #f8f8f8 !important;
}
body.model-config .tab-left .tab-right .tab-text:hover {
  background-color: #f8f8f8 !important;
}
body.model-config .tab-strip .tab-left {
  padding: 0 0 0 10px !important;
  background: transparent;
}
body.model-config .tab-active .tab-left .tab-right .tab-text {
  background-color: #343434 !important;
}
body.model-config .tab-strip .tab-active a.tab-left, body.model-config .tab-strip .tab-active a.tab-left .tab-inner {
  background-color: transparent !important;
}
body.model-config .tab-content {
  border-top: 0;
  position: relative;
  top: -122px;
}
body.model-config ul.tab-strip li {
  border-top-width: 0;
  border-right-width: 0;
}
body.model-config ul.tab-strip li {
  margin-left: -10px;
}
body.model-config ul.tab-strip {
  height: 58px;
  overflow: hidden;
  width: 100%;
  border-left: 1px solid #9c9c9c;
}
body.model-config ul.tab-strip li a {
/*  background: url("/bmfsweb/devkeysight/image/Icons/sprite.png") no-repeat 0 0 !important; */
  border-right: 1px solid #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
}
body.model-config ul.tab-strip li:hover.tab-active a,
body.model-config ul.tab-strip li.tab-active a {
  background-position: 0 -240px !important;
}
body.model-config ul.tab-strip li:hover a {
  background-position: 0 -60px !important;
}
body.model-config ul.tab-strip li a.tab-left:hover {
  background-color: transparent !important;
}
body.model-config ul.tab-strip {
  margin-top: 20px;
}
body.model-config .tab-header {
  top: -105px;
}
body.model-config .group-content {
  margin: 0;
}
body.model-config .group-inner,
body.model-config .group-header {
  margin: 0;
  border: 1px solid #9c9c9c !important;
  margin-bottom: -1px;
}
body.model-config .group-header {
  background-color: #f8f8f8 !important;
}
body.model-config .group-content.collapsed .group-header {
  background-color: #e8e8e8 !important;
}
body.model-config .group-content .group-header span {
  color: #343434;
  font-size: 13px;
}
body.model-config input[checked="checked"] + label {
  font-weight: normal !important;
}
body.model-config .view-text, body.model-config .form-input, body.model-config .form-input select, body.model-config .form-input-modified, body.model-config .form-input-selected, body.model-config .form-input-mouseover,
body.model-config .form-item input, body.model-config .form-item select, body.model-config .form-item textarea, body.model-config .form-item .menu-attr label,
body.model-config .attribute-field, body.model-config .attribute-field-picklist, body.model-config .cfg-image-menu, body.model-config cfg-image-picklist, body.model-config .ui-image-combobox-input {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #343434;
  font-weight: normal;
}
body.model-config .group-option:hover {
  border: 0 !important;
  background-color: transparent !important;
  font-weight: normal !important;
}
body.model-config .attribute-inner {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
body.model-config #attribute-sidebarHTML .attribute-inner {
  padding: 20px 15px 20px;
}
body.model-config .attribute-field-container > div > span,
body.model-config .attribute-field-container > div > div {
  /* padding-left: 20px; */
  width: auto !important;
  padding-bottom: 5px !important;
}
body.model-config .attribute-field-container > select {
  margin-left: 20px;
}
body.model-config .attribute-field-container > div#sidebarHTML > div {
  padding-left: 0;
}
body.model-config .read-only-html {
  font-size: 13px;
}
body.model-config .tab-header::after {
  font-style: italic;
}
/*
body.model-config .group-content .group-header span {
  background-image: url("/bmfsweb/devkeysight/image/Icons/minus.png");
}
body.model-config .group-content.collapsed .group-header span {
  background-image: url("/bmfsweb/devkeysight/image/Icons/plus.png");
}
*/
body.model-config #sidebarHTML h3 {
  font-size: 14px;
  margin-bottom: 20px !important;
  color: #555555;
}
body.model-config #sidebarHTML h4 {
  font-size: 12px;
  background-color: #f0f0f0 !important;
  padding: 5px 15px !important;
}
body.model-config .side-bar-content {
  border-color: #9c9c9c !important;
}
body.model-config .selectedConfigPrice,
body.model-config .selectedConfigQty {
  padding-left: 0;
  float: right;
}
body.model-config .adv-grid-row {
  border: 0 !important;
  border-bottom: 1px solid #dbdbdb !important;
}
body.model-config .adv-grid-row:hover {
  border-bottom: 1px solid #dbdbdb !important;
  background: transparent !important;
  font-weight: normal !important;
  color: #343434 !important;
}
body.model-config .adv-grid-row td {
  padding: 15px 3px;
}
body.model-config .adv-grid-row:hover .adv-grid-cell.Price {
  color: #343434 !important;
}
body.model-config .items-table-content {
  padding: 15px 30px;
}
body.model-config .button-right,
body.model-config .button-left {
  display: none;
}
body.model-config .button-middle {
  background: none;
}
body.model-config .button-middle a.button-text {
  font-size: 13px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #af1326;
  border-bottom-width: 3px;
  background: #e90029;
  color: white;
}
body.model-config .button-middle a.button-text:hover {
  text-decoration: none;
  background: #d51a28;
}

#attribute-countryOfUse_pfks .attribute-label-container{
	width: 8% !important;
}

.column{
	width: 100% !important;
}
body.model-config {
  min-width: 1000px;
}
body.model-config #main-table-wrapper {
  width: 100%;
  position: relative;
  top: 100px;
}

body.model-config .selectedConfigPrice,
body.model-config .selectedConfigQty {
  padding-left: 10px !important;
}
body.model-config .tab-header {
    position: relative;
    top: -130px;
    padding-left: 15px;
}
body.model-config .button-bar {
  margin-top: 20px;
}
body.model-config .tab-header::after {
  float: none;
  position: absolute;
  right: 15px;
  top: 140px;
}
body.model-config ul.tab-strip {
  margin-top: 20px;
  position: relative;
  top: -140px;
  z-index: 1;
}
body.model-config .tab-active .tab-left:hover .tab-text {
  color: white !important;
}
body.model-config #sticky-actions {
  float: right;
  width: 35%;
}
body.model-config .button-middle a.button-text {
  display: inline-block;
}
body.model-config .plain-button:active .button-text {
  vertical-align: baseline;
  margin: 0;
}
.header-bordercolor{
	display: none !important;
}