.modelRows:hover {
	background-color: #F0F0F0 !important;
	font-weight: bold !important;
	border-bottom: 1px solid black !important;
}

#pricing-table-wrapper{
	display: none !important;
}
.grand-total-container {
    display: none !important;
}
#tableHeader{
    border-bottom: 2px solid #9e9a94;
}
tr {
    border-bottom: none;
}
#recommendation-section {
    display: none !important;
}
#pipeline-viewer-opener {
    display: none !important;
}
#config-header {
    display: none !important;
}
.return-to-quote{
	float: right;
	margin-top: 10px;
	font-size: 18px;
}
#tableHeader td {
    color: #7d7d7d !important;
}
.homepagelinks h3 {
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 10px 0;
    height: 18px;
}
.homepagelinks {
    background: url("https://devkeysight.bigmachines.com/img/adminpage/icons/border-background.png") no-repeat;
    background-size: 120px 80px;
    width: 120px;
    float: left;
    height: 80px;
    margin-right: 5px;
    margin-top: 10px;
    text-align: left;
    vertical-align: middle;
}
.page-content {
	display: none !important;
}
.main-pane {
    margin-left: 20px;
    margin-right: 20px;

}
tr {
    border-bottom: 1px solid #9e9a94;
}
#searchdiv {
    display: inline-block;
    position: absolute;
    /*top: 60px;*/
    left: 40%;
    padding-top: 20px;
	background-color: #F9F9F9;
	box-shadow: 3px 3px 3px 3px #888888;
	padding-left: 15px;
	padding-bottom: 9px;
	padding-right: 15px;
	/*margin-top: 10px;*/
}
input {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 100%;
}
b {
    display: inline-block;
    width: 28px;
    height: 28px;
    position: relative;
    overflow: hidden;
}
#searchterm {
    border: none;
    border-bottom: 2px solid #9e9a94;
    padding: 3px 5px;
    outline: none;
    vertical-align: text-bottom;
    width: 180px;
    font-size: 16px;
    color:#e90029;
	background-color: #F9F9F9;
	text-align: center;
}
#keywordSearch{
    border: none;
    border-bottom: 1px solid #9e9a94;
    padding: 3px 5px;
    outline: none;
    vertical-align: text-bottom;
    width: 100%;
    font-size: 16px;
    color: blue;
	background-color: #F9F9F9;
	height: 20px;
}
#searchbtn {
    position: absolute;
    top: 0;
    left: -191px;
}
#advsearch{
    display: inline-block;
    position: absolute;
    /*top: 100px;*/
    left: 24%;
    padding-top: 20px;
    background-color: #F9F9F9;
    box-shadow: 3px 3px 3px 3px #888888;
    padding-left: 15px;
    padding-bottom: 9px;
    padding-right: 15px;
}
#ksHomeGrid{
    display: inline-block;
    position: absolute;
    top: 320px;
    left: 24%;
    right: 10%;
    padding-top: 20px;
    width: 950px;
}
.scrollbar{
	overflow: scroll;
	overflow-x: hidden;
	height: 230px;
	width: 817px;
    border-bottom: 1px solid #9e9a94;
}
#tableHeader{
	width: 800px;
	padding-top: 2%;
}
#advsearch span{
	padding-left: 30%;
	font-size: 18px;
	padding-right: 10px;
}
#myTable{
	width: 800px;
	text-align: center;
}
.tab-content{
	border-top: none !important;
}
.plain-button.button-update,
.plain-button.button-start-over,
.plain-button.invocation-button.button-invoke-add,
.plain-button.invocation-button.button-invoke-create{
	display: none !important;
}
table {
    border-collapse: inherit !important;
}
.button-middle{
	background-image: none;
}
.button-left{
	background-image: none;
}
.button-right{
	background-image: none;
}

#ksHomeGrid1{
	display: inline-block;
    position: absolute;
    top: 50px;
    left: 24%;
    right: 10%;
    padding-top: 20px;
    width: 950px;
}

#attribute-keywordSearch > div > div.attribute-label-container{
	text-align: right !important;
	width: 60% !important;
}

#attribute-keywordSearch > div > div.attribute-field-container{
	max-width: 50% !important;
	float: left;
	width: 33%;
}

#attribute-keywordSearch > div > div.attribute-label-container > label{
	font-size: 18px;
}

#grid-92816696 > div > div.column.column-0{
	width: 50% !important;
}

@media (min-width:1025px) {
/* big landscape tablets, laptops, and desktops */
    #keywordSearch{
        width: 125% !important;
    }
}
@media (min-width: 1281px) {
/* hi-res laptops and desktops */
    #keywordSearch{
        width: 125% !important;
    }
}

@media (min-width:1824px) {
/* hi-res laptops and desktops */
    #keywordSearch{
        width: 170% !important;
    }
}

@media (min-width:1662px) {
/* hi-res laptops and desktops */
    #keywordSearch{
        width: 125% !important;
    }
}

#grid-80762216{
	margin-left: 20%;
}

#grid-357235390 > div{
	margin: auto;
	width: 1500px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 12px;
  opacity: 1;
}

::-moz-placeholder {
   font-size: 12px;
  opacity: 1;
}
input:-ms-input-placeholder{
    font-size:10px;
}
