/*Start PwC UI*/
.tab-header {
    display: block !important;
    position: absolute;
    top: -85px;
    color: gray;
    font-size: 20px;
    font-weight: normal;
	width: 100%;
}

.tab-header::after {
    content: "Selection Required*";
	color: red;
    font-size: 13px;
    float: right;
    margin-top: 5px;
}


label[for = "selectProductSolutions_"] {
    display: none;
}
#selectProductSolutions_{
    display: none;
	
	
/*.message.constraint-message {
    display: none;
}*/

.tab-left .tab-right .tab-text {
    background-color: #fff !important;
}

.tab-left .tab-right .tab-text:hover {
    background-color: #efefef !important;
	color: #4b4b4b !important;
}
.tab-left:hover .tab-text{
    background-color: #efefef !important;
	color: #4b4b4b !important;
}

.tab-text:hover{
    background-color: #efefef !important;
	color: #4b4b4b !important;
}
.tab-active .tab-left .tab-right .tab-text {
    background-color: #5b5b5b !important;
}

input[checked="checked"] + label {
    font-weight: bold !important;
}

.tab-strip .tab-left {
    background: #fff !important;
    padding-left: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.tab-strip .tab-left:hover {
    background-color: #efefef !important;
	color: #4b4b4b;
}

.tab-strip .tab-active a.tab-left, .tab-strip .tab-active a.tab-left .tab-inner {
    background-color: #5b5b5b !important;
}

.tab-content {
    padding: 3px;
    border-top: 2px solid #5b5b5b;
}

.tab-strip .tab-text {
    padding: 0px;
    font-size: 12px !important;
    font-weight: 600;
    background: transparent url() no-repeat right 0;
    padding-right: 25px;
	padding-left: 15px;
	color: red !important;

}

ul.tab-strip li {
    margin-right: 1px;
    border-style: solid;
    border-top-width: 7px;
    border-top-color: #cfcfcf;
	border-right-color: #cfcfcf !important;
	border-right-width: 1px;
}

.tab-strip .tab-active a.tab-left .tab-text {
    color: #FFF !important;
}

/*End PwC UI*/

/* Hide None from the below attributes for PL4W and modular */
#licenseType_pl4w_, label[for = "licenseType_pl4w_"],						
#licenseTerm_pl4w_, label[for = "licenseTerm_pl4w_"],
#certificateDelivery_pl4w_, label[for = "certificateDelivery_pl4w_"],
#selectOtherProducts_pl4w_, label[for = "selectOtherProducts_pl4w_"],
#selectUniversityProduct_pl4w_, label[for = "selectUniversityProduct_pl4w_"],
#onsiteConsultingSupport_pl4w_, label[for = "onsiteConsultingSupport_pl4w_"],
#premiumServices_pl4w_, label[for = "premiumServices_pl4w_"],
#mATLABBundle_pl4w_, label[for = "mATLABBundle_pl4w_"],
#selectProductLines_pl4w_, label[for = "selectProductLines_pl4w_"],
#certificateDeliveryOthers_pl4w_, label[for = "certificateDeliveryOthers_pl4w_"],
#selectProductLines_pl4w_Select_Other_Products,
#selectProductLines_pl4w_No_Value,
#selectControllerFromList_mod_, label[for = "selectControllerFromList_mod_"],
#wtyAndServPlan_pfks_, label[for = "wtyAndServPlan_pfks_"],
#controllerMemory_mod_, label[for = "controllerMemory_mod_"],
#controllerOperatingSystem_mod_, label[for = "controllerOperatingSystem_mod_"],
#vectorGeneratorCounter_mod, label[for = "vectorGeneratorCounter_mod"],
#vecctorSignalAnalyzerCounter_mod, label[for = "vecctorSignalAnalyzerCounter_mod"],
#digitalIOCounter_mod, label[for = "digitalIOCounter_mod"],
#digitalStimulusCounter_mod, label[for = "digitalStimulusCounter_mod"],
#vectorTransceiverCounter_mod, label[for = "vectorTransceiverCounter_mod"],
#frequencyReferenceCounter_mod, label[for = "frequencyReferenceCounter_mod"],
#digitalMMCounter_mod, label[for = "digitalMMCounter_mod"],
#vNASCounter_mod, label[for = "vNASCounter_mod"],
#vNARCounter_mod, label[for = "vNARCounter_mod"],
#networkAnzCounter_mod, label[for = "networkAnzCounter_mod"],
#cwSourceCounter_mod, label[for = "cwSourceCounter_mod"],
#pwrRelayCounter_mod, label[for = "pwrRelayCounter_mod"],
#multiplexerCounter_mod, label[for = "multiplexerCounter_mod"],
#converterCounter_mod, label[for = "converterCounter_mod"],
#digitizerCounter_mod, label[for = "digitizerCounter_mod"],
#daqCounter_mod, label[for = "daqCounter_mod"],
#analyzerCounter_mod, label[for = "analyzerCounter_mod"],
#arbCounter_mod, label[for = "arbCounter_mod"],
#attenuatorCounter_mod, label[for = "attenuatorCounter_mod"],
#switchCounter_mod, label[for = "switchCounter_mod"],
#vnaRFDisCounter_mod, label[for = "vnaRFDisCounter_mod"],
#vNACouplerCounter_mod, label[for = "vNACouplerCounter_mod"],
#vNASourceCounter_mod, label[for = "vNASourceCounter_mod"],
#oscilloscopeCounter_mod, label[for = "oscilloscopeCounter_mod"],
#fpgaMMCounter_mod, label[for = "fpgaMMCounter_mod"],
#specialProdCounter_mod, label[for = "specialProdCounter_mod"],
#totalNumberOfChassisSelected_mod,label[for = "totalNumberOfChassisSelected_mod"],
#eEsOfSoftwareHTML_pl4w,label[for = "eEsOfSoftwareHTML_pl4w"],
#modelsArrControlAttr_pl4w,label[for = "modelsArrControlAttr_pl4w"],
#totalNumberOfOthersModels_pl4w,label[for = "totalNumberOfOthersModels_pl4w"],
#newModelsArrControlAttr_pl4w,label[for = "newModelsArrControlAttr_pl4w"],
#mATLABBundle_N6171A_pfks_,label[for = "mATLABBundle_N6171A_pfks_"],
#selectAdapterFromList_mod_,label[for = "selectAdapterFromList_mod_"]
{
	display: none !important;
}
/* Hide Counter and their Field Container */
#attribute-totalNumberOfChassisSelected_mod .attribute-field-container,
#attribute-tempVariable .attribute-field-container,
#attribute-newModelsArrControlAttr_pl4w .attribute-field-container,
#attribute-totalNumberOfOthersModels_pl4w.attribute-field-container
{
	display:none;
}

/* Hide All Grids related to Application Type and 4w. show those conditionally */

.grid.grdModels,.grid.grdLicDetail,.grid.grdElectroThermal,
.grid.grdSecurityKey,.grid.grdMATLAB,.grid.grdDelv,
.grid.grdLicDetailUniv,.grid.grdDelvUniv,.grid.grdPremium,.grid.grdOCSS,
.grid.grdAnz,.grid.grdARB,.grid.grdAttn,.grid.grdCnv,.grid.grdCWSrc,.grid.grdDAQ,.grid.grdDigIO,
.grid.grdDigMM,.grid.grdDigSm,.grid.grdDigitizer,.grid.grdFPGA,.grid.grdFreq,.grid.grdMultiplexer,
.grid.grdNetAnz,.grid.grdOsc,.grid.grdPwrRly,.grid.grdSpl,.grid.grdSwitch,.grid.grdVSAnz,.grid.grdVSGen,
.grid.grdVStran,.grid.grdVNACpl,.grid.grdVNARcv,.grid.grdVNARF,.grid.grdVNASrc,.grid.grdVNASyn,
.grid.grdM9063A,.grid.grdM9064A,.grid.grdM9068A,.grid.grdM9071A,.grid.grdM9072A,.grid.grdM9073A,
.grid.grdM9076A,.grid.grdM9077A,.grid.grdM9079A,.grid.grdM9080B,.grid.grdM9081A,.grid.grdM9082B,
.grid.grdN7600B,.grid.grdN7601B,.grid.grdN7602B,.grid.grdN7606B,.grid.grdN7609B,.grid.grdN7610B,
.grid.grdN7611B,.grid.grdN7612B,.grid.grdN7614B,.grid.grdN7615B,.grid.grdN7617B,.grid.grdN7623B,
.grid.grdN7624B,.grid.grdN7625B,.grid.grdN6171A,.grid.grdM9950A,.grid.grdN7650B  
{
	display: none
}

/* Hide Plus symbol for pl-4w array sets */
#modelSelectionArraySet_pl4w .array-add
{
	display:none;
}

#modelSelectionForOthersArraySet_pl4w .array-add
{
	display:none;
}

/*css for modular work wrap in chassis HTML */
.td-chassis
{
	width: 20px;
	text-align: center;
	padding-left: 6px;
}

#word-wrap
{     
	width:10px;
	word-wrap: break-word;
	margin:0 auto;
}

#pipeline-viewer-opener{
	padding: 4px;
}
#pipeline-viewer-opener a{
	font-size: 12px;
}
.tab-strip .tab-right{
	padding: 0px;
}
ul.tab-strip li{
	margin-right: 1px;
}
.tab-strip li{
	padding: 0 0px;
}

.tab-strip .tab-inner {
    background: #6699CC url() repeat-x 0 0;
}
.tab-inner, .tab-right {
    padding-right: 0px;
}
.tab-strip a.tab-left {
    border-radius: 0 0 0 0;
}
.model-config .group-content .group-header span {
    font-weight: 600 !important;
}
.model-config .group-header {
    font-size: 13px !important;
    font-weight: 600 !important;
    line-height: 14px;
}
.group-header {
    background-color: #FFFFFF !important;
    padding: 6px;
    border-radius: 0px;
    font-weight: 600 !important;
}
.model-config .group-header:hover {
    color: #2A4BDA !important;
    background-color: rgba(204, 208, 228, 0.49) !important;
}
.model-config .group-content.collapsed .group-header span {
    font-weight: 600 !important;
}
.required .attribute-label, .attribute-label {
    font-size: 10pt !important;
}
.model-config .group-content .group-header span {
    padding-left: 18px;
    background: url("/img/config/arrow-expanded.png") no-repeat 0 50%;
	
}
.model-config .group-content.collapsed .group-header span {
    padding-left: 18px;
    background: url("/img/config/arrow-collapsed.png") no-repeat 0 50%;
}
.group-content.collapsed .group-header{
	background-color: #CFCFCF !important;
}
#navbar ul > li {
    margin: 3px 5px;
}
#active-constraints{
	display: none !important;
}
.tab-strip .tab-active a.tab-left .tab-text {
    color: #FFFFFF !important;
}
.model-config .group-header {
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
}

.adv-grid-header-cell.checkbox, .adv-grid-cell.checkbox,
.adv-grid-header-cell.part_number, /*.adv-grid-cell.part_number,*/
.adv-grid-header-cell.Quantity, /*.adv-grid-cell.Quantity, */
.adv-grid-header-cell.field2, .adv-grid-header-cell.field2.header, .adv-grid-cell.field2,
.adv-grid-header-cell.field3, .adv-grid-header-cell.field3.header, .adv-grid-cell.field3,
.adv-grid-header-cell.field4, .adv-grid-header-cell.field4.header, .adv-grid-cell.field4,
.adv-grid-header-cell.field5, .adv-grid-header-cell.field5.header, .adv-grid-cell.field5,
.adv-grid-header-cell.part_display_number, .adv-grid-header-cell.part_display_number.header, .adv-grid-cell.part_display_number,
.adv-grid-header-cell.description, .adv-grid-header-cell.Price,
.adv-grid-header-cell.company_associations, .adv-grid-header-cell.company_associations.header, .adv-grid-cell.company_associations,
.adv-grid-header-cell.field6, .adv-grid-header-cell.field6.header, .adv-grid-cell.field6,
.adv-grid-header-cell.field8, .adv-grid-header-cell.field8.header, .adv-grid-cell.field8,
.adv-grid-header-cell.field9, .adv-grid-header-cell.field9.header, .adv-grid-cell.field9,
.adv-grid-header-cell.field10, .adv-grid-header-cell.field10.header, .adv-grid-cell.field10,
.adv-grid-header-cell.field11, .adv-grid-header-cell.field11.header, .adv-grid-cell.field11,
.adv-grid-header-cell.field12, .adv-grid-header-cell.field12.header, .adv-grid-cell.field12,
.adv-grid-header-cell.field13, .adv-grid-header-cell.field13.header, .adv-grid-cell.field13,
.adv-grid-header-cell.field14, .adv-grid-header-cell.field14.header, .adv-grid-cell.field14,
.adv-grid-header-cell.field15, .adv-grid-header-cell.field15.header, .adv-grid-cell.field15,
.adv-grid-header-cell.field18, .adv-grid-header-cell.field18.header, .adv-grid-cell.field18,
.adv-grid-header-cell.field19, .adv-grid-header-cell.field19.header, .adv-grid-cell.field19,
.adv-grid-header-cell.field20, .adv-grid-header-cell.field20.header, .adv-grid-cell.field20,
.adv-grid-header-cell.field21, .adv-grid-header-cell.field21.header, .adv-grid-cell.field21,
.adv-grid-header-cell.field22, .adv-grid-header-cell.field22.header, .adv-grid-cell.field22,
.adv-grid-header-cell.field23, .adv-grid-header-cell.field23.header, .adv-grid-cell.field23,
.adv-grid-header-cell.field24, .adv-grid-header-cell.field24.header, .adv-grid-cell.field24,
.adv-grid-header-cell.field25, .adv-grid-header-cell.field25.header, .adv-grid-cell.field25,
.adv-grid-header-cell.field26, .adv-grid-header-cell.field26.header, .adv-grid-cell.field26,
.adv-grid-header-cell.field27, .adv-grid-header-cell.field27.header, .adv-grid-cell.field27,
.adv-grid-header-cell.field28, .adv-grid-header-cell.field28.header, .adv-grid-cell.field28,
.adv-grid-header-cell.field29, .adv-grid-header-cell.field29.header, .adv-grid-cell.field29,
.adv-grid-header-cell.field30, .adv-grid-header-cell.field30.header, .adv-grid-cell.field30
{
	display: none;
}

.adv-grid-row:hover{
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
	background-color: #F0F0F0 !important;
	font-weight: bold !important;
	color: black !important;
}
.adv-grid-row:hover .adv-grid-cell.Price{
	color: red !important;
}

div.main-model {
  display: none;
}

.view-text, .form-input, .form-input select, .form-input-modified, .form-input-selected, .form-input-mouseover, .form-item input, .form-item select, .form-item textarea, .form-item .menu-attr label, .attribute-field, .cfg-image-menu {
    font-size: 10pt;
 }
 
 .unreset {
    font-size: 10pt;
}

table.spare-grid td {
    font-size: 10pt;
}
.commerce-bordercolor, .commerce-bordercolor .topcolor, .admin-bordercolor, .admin-bordercolor .topcolor, .header-bordercolor, #main-nav, #sub-nav{
	border-bottom-color: #F0F0F0;
}
.commerce-bordercolor table{
	display: none;
}

.items-header{
	border: solid 0px #666 !important;
}
.view-header {
    background-color: #cfcfcf !important;
}
.items-table-content {
	border-width: 0 0 0 0 !important;
}
table.spare-grid th {
    border-right: #ccc solid 0px !important;
}
table.spare-grid td {
	border-right: #eee solid 0px !important;
}
td.adv-grid-cell {
    border-bottom: 0px solid #DDD !important;
}
.spare-grid {
    border-width: 0px !important;
}
table.spare-grid td {
    font-size: 12px !important;
}
.unreset h3 {
    margin: 0em 0 !important;
}
.side-bar-content{
/*    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
*/
}
.array thead th {
    border-radius: 0px;
}
.required .attribute-label, .attribute-label {
    font-weight: bold !important;
}
.array .even td, .array .even th {
    background-color: RGBA(250, 250, 250, 1.0) !important;
}
.array tr.selected th, .array tr.selected td {
    background-color: #CFEFEF !important;
}
.array tr.even selected th, .array tr.even selected td {
    background-color: #CFEFEF !important;
}


label[for = "selectProductLines_pl4w_Select_Other_Products"]{
	font-weight: bold !important;
}
#config-header{
	display:none;
}

label[for = "selectProductLines_pl4w_No_Value"]{
	color:#FFFFFF !important;
}
#mandatory-parts-wrapper{
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
}
#pricing-table-wrapper{
/*   border-bottom: 1px solid #AAAAAA !important;*/
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
}
#grand-total-container{
	display: none;
}

.group-option:hover{
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    border-left: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
	background-color: #F8F8F8 !important;
	font-weight: bold !important;
}

.group-option {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
	width: 100%;
}
.read-only-html {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
}
.attribute-field-container {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
                font-size: 14px !important;
}
.tab-strip .tab-active a.tab-left .tab-text {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
}