/* -------------CSS THEME: Oracle Sales Cloud----------------- */
/* ---------------Selector Stylesheet Alt--------------------- */

@charset "utf-8";

/* @group Configuration */
/* ------------------------------------------------------ */
#pipeline-viewer-opener {
    display: none;
}

form[action="selector_search_results.jsp"] {
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
}

body, td, p {
    font-family: helvetica,tahoma;
}

.top-bar {
    display: none;
}

.list-label {
    visibility: hidden;
}

form.configuration-form {
    margin: auto!important;
    max-width: 950px!important;
}

.side-bar-content {
    width: 300px !important;
    padding-top: 0px !important;
    padding-left: 10px;
    vertical-align: top;
}

#main-content {
    padding-top: 11px !important;
}

.main-model, h3#config-header.view-label {
    display: none;
}

.items-table-content {
	background-color: #FFFFFF;
    border: 0 solid #666666!important;
    border-radius: 0 0 5px 5px;
    padding: 5px;
}

tr.adv-grid-row:hover {
    background-color: #638FB0;
}

.help-popup{
	max-width:950px;
	max-height:800px;
	background-color: #638FB0;
	border-color:#1D4A6D;
}

.group-header {
    background-color: #ffffff;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
    margin:0;
    font-size:8pt;
    border-bottom: 1px solid #CCC !important;
    border-radius: 5px 5px 0 0;
}

.group-content {
    margin: 0 0 15px;
    border-radius: 0 0 5px 5px;
}

.group-inner{
    border-radius: 0 0 5px 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    border-bottom: 1px solid #CCC !important;
    border-left: 1px solid #CCC !important;
    border-right: 1px solid #CCC !important;
}

.group-header span {
    font-family: Helvetica,Arial,sans-serif;
    color: #636973;
    font-size: 14pt;
    font-weight: bold;
}

.required .attribute-label,
.attribute-label {
    font-size: 10pt !important;
}

.tab-content > div:nth-child(2) > .group-content.collapsed > .group-header {
    border-left: medium none;
    border-right: medium none;
    border-top: medium none;
    border-radius:5px;
}

.tab-content {
    padding:0!important;
    margin: 10px auto 0px;
}

.body-inner {
    max-width: 950px !important;
    box-shadow: none !important;
}

.items-header {
    background-image: none!important;
    border: medium none!important;
    border-radius: 5px;
    border: 1px solid #CCC !important;
}

.view-header,
.form-header {
    color: rgb(77, 121, 156);
    font-size: 15pt !important;
    background-color:#FFFFFF;
}


.collapsed .view-header,
.collapsed .form-header {
    border: medium none!important;
}

#sticky-actions .fixed .grand-total-container,
#sticky-actions .fixed .grand-total-price {
    color: #FFFFFF;
    font-size: 16px !important;
}

#sticky-actions .floating {
    box-shadow: none !important;
}

#sticky-actions .floating .grand-total-container {
    padding-left: 10px!important;
    color: #ffffff;
    font-size: 16px;
}

.plain-button a {
    background-image: none !important;
    padding-left: 0 !important;
    position: static;
}

.array .attribute-label {
    color: #FFFFFF;
}

.array tr.selected th,
.array tr.selected td {
    background-color: #638FB0;
}

.array thead th {
    background-color: #888888;
}

.array thead th {
    border-color: #888888;
}

#hardDrive_raid_array th,
#hardDrive_raid_array td {
    padding: 3px 3px 0 3px;
}

#hardDrive_raid_array {
    margin-left: 30px;
}

.array .even td, .array .even th {
    background-color: #D8D8D8;
}

#rebate img, #campaign img {
    border-radius: 5px;
	height:60px;
}

#attribute-rebate .attribute-inner,
#attribute-campaign .attribute-inner {
    padding: 0;
}

#attribute-rebate,
#attribute-campaign {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.osCurrency {
    text-align: right;
}

#osVolumeTable {
    background: none repeat scroll 0 0 #FFFFFF;
    width: 300px;
	border-collapse: collapse;
}

#osVolumeTable th {
    background-color: #638FB0;
	color:#ffffff;
}

#osVolumeTable * {
    border: 1px solid #638FB0;
    border-collapse: collapse;
	padding:5px;
}

#volumePriceInformation {
    border-radius: 5px 5px 0 0;
}

.osVolumeText,
.osCurrency {
    color: #444444;
    font-size: 10pt;
    font-weight: bold;
}

.attribute-inner .constraint-message {
    background: url(../../image/Icons/noentry.png) no-repeat scroll 5px center / 16px auto #FFFFD6;
    border: 2px solid #BB0808;
    border-radius: 5px;
    color: #BB0808;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 15px 7px 25px;
}

 .attribute-inner .recommendation-message {
	display: inline-block;
	color: #333333;
	font-size: 12px;
	font-weight: bold;
	padding: 7px 15px 5px 25px;
	background: url(../../image/Icons/recc_arrow.png) no-repeat scroll 4px center #D7EBFB;
	border: 2px solid #333333;
	border-radius:5px;
}

.tab-content,
.tab-content .loading {
    background-color: rgba(0, 0, 0, 0);
    border-left: none !important;
    border-right: none !important;
}

#enclosuresRequired-help,
#cloudServiceType-help,
#overrideLowQuantity-help{
	display: inline-block;
	color: #333333;
	font-size: 12px;
	font-weight: bold;
	padding: 7px 15px 5px 15px;
	background-color:#D7EBFB;
	border: 2px solid #333333;
	border-radius:5px;
}

.array tr td.constrained {
    border-top-color: #BB133E;
}

.constraint-message,
.tab-constraint {
    border-left-color: #BB133E;
}

#packagedSolutionsHelp {
	background-color:#FFFFFF;
	width: 600px;
	border: 3px solid #444444;
	border-collapse: collapse;
	border-spacing:0;
}

.packagedTR img {
	width: 100px;
}

.packagedTR td {
	padding: 10px;
	text-align:center;
	border: 1px solid #444444;
}

.packagedTR > td:first-child {
	text-align: left;
	font-weight:bold;
}

.packagedTR > th {
	font-size:13pt;
}

.packagedTR > th:first-child {
	vertical-align: top;
	text-align: left;
}

.packagedNone {
	border:none !important;
}

.packagedTR:nth-child(2n+1){
	background:#b3daf2;
}

.packagedTR:first-of-type {
    background: none repeat scroll 0 0 #FFFFFF;
}

.packagedTR:nth-child(2) {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
}

.packagedTR:nth-child(2) th {
    padding-bottom: 5px;
    padding-top: 5px;
}

/* Support and volume pricing information help menu styling */
/* ------------------------------------------------------ */
#supportRow1,
#supportRow2,
#supportRow3,
#supportRow4,
#supportTable,
#volumePriceTable,
#volumeTableHeader2,
#volumeTableRow3,
#volumeTableRow4,
#volumeTableRow5,
#volumeTableRow6,
#volumeTableRow7  {
	border-style: solid !important;
	border-width: 2px !important;
	border-collapse: collapse !important;
	font-weight: bold;
}

#supportRow1,
#volumeTableHeader2Cell {
	background-color: rgb(51,51,51);
	text-align: center;
}

#supportRow2,
#volumeTableRow3,
#supportRow4,
#volumeTableRow5,
#volumeTableRow7 {
	background-color: #b3daf2;
}

#supportRow3,
#volumeTableRow4,
#volumeTableRow6 {
	background-color: rgb(255,255,255);
}

#supportCellHeader,
#volumeTableHeader2Cell {
	font-weight: bold;
	color: rgb(255, 255, 255) !important;
}

#volumeTableHeader2 {
	background-color: rgb(99,143,176);
}

#volumeTableCell3,
#volumeTableHeader2Cell,
#supportCellHeader,
#supportCellRow1,
#supportCellRow2,
#supportCellRow3,
#supportCellRow4 {
	border-right: solid 2px;
	border-color: black;
	padding-top:5px;
	padding-bottom:5px;
}

#supportCellHeader,
#supportCellRow1,
#supportCellRow2,
#supportCellRow3,
#supportCellRow4,
#volumeTableRow3,
#volumeTableRow4,
#volumeTableRow5,
#volumeTableRow6,
#volumeTableRow7,
#volumeTableHeader2Cell  {
	text-align: center;
	padding: 10px;
}


/* @group Selector Questions Page Edits */
/* ------------------------------------------------------ */
#group-6216602 div.group-inner {
	background-image: url(../../image/Vision/selectorBG2.png);
	background-repeat: no-repeat;
}

#group-6184313 h3.group-header span img.group-icon,
#group-6216602 h3.group-header span img.group-icon  {
	padding-right:10px;
	vertical-align:middle !important;
}

#group-6184313 h3.group-header span,
#group-6216602 h3.group-header span {
	vertical-align:bottom;
	line-height: 25px !important;
}

h3.directions_sel {
	color: #333333;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight:normal;
	padding-left: 180px;
}

#attribute-iWantToBeAbleTo_selector div.attribute-inner.clearfix div.attribute-field-container {
	padding-left:30px;	
}

#group-6184313 div.group-inner {
	background-image: url(../../image/Vision/selectorBG.png);
	background-repeat: no-repeat;
}

#group-6216602 div.group-inner {
	background-image: url(../../image/Vision/selectorBG2.png);
	background-repeat: no-repeat;
}

#group-6184313 h3.group-header span img.group-icon,
#group-6216602 h3.group-header span img.group-icon  {
	padding-right:10px;
	vertical-align:middle !important;
}

#group-6184313 h3.group-header span,
#group-6216602 h3.group-header span {
	vertical-align:bottom;
	line-height: 25px !important;
}

h3.directions_sel {
	color: #333333;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight:normal;
	padding-left: 180px;
}

#attribute-iWantToBeAbleTo_selector div.attribute-inner.clearfix div.attribute-field-container {
	padding-left:30px;	
}

#attribute-servers_quantity .attribute-inner .constraint-message {
    border: 2px solid #A52A2A;
    border-radius: 5px;
    color: #A52A2A;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 15px 10px 40px;
}

.body-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
}

.commerce-bordercolor ~ table,
.commerce-bordercolor ~ p,
.commerce-bordercolor ~ form {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}


/* selector even/odd row background color */
/* ------------------------------------------------------ */
.bgcolor-list-even,
.bgcolor-list-even-selected,
.bgcolor-list-even-mouseover
.bgcolor-list-odd,
.bgcolor-list-odd-selected,
.bgcolor-list-odd-mouseover {
	background-color: #ffffff !important;
}

table#selectorResult {
	border-collapse:collapse !important;
}

#tableBody tr.bgcolor-list-odd td.list-field,
#tableBody tr.bgcolor-list-even td.list-field {
	border-bottom:1px solid #ccc;
}

div.innerLeft_selDisp {
    width: 38%;
    float: left;
    text-align:right;
    padding:20px 2% 0% 0%;
}

div.innerRight_selDisp {
	width: 45%;
	float: left;
	padding:20px 0% 0px 4% !important;
}

div.selButton {
	padding-top: 20px;
}

div.selButton a {
	font-size: 13.3px !important;
	color: #808080 !important;
	padding: 6px 38px 6px 38px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 1.5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 1.5px rgba(0,0,0,0.5);
    background: none repeat scroll 0px 0px padding-box #EAEAEA;
    border: 1px solid #9297A6;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

div.slide_selector {
	font-weight: bold;
	padding: 5px 20px;
	background-color:#efefef;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 1px 1.5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 1.5px rgba(0,0,0,0.5);
	box-shadow: 0 1px 1.5px rgba(0,0,0,0.5);
	width: 100px;
}

div.innerLeft_selDisp a img {
	height: 120px !important;
}

div.innerRight_selDisp h5 a {
	color: #636973;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
}

ul.obullets_selDisp li{
	color: #333333;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11.5px;
	font-weight:bold;
    margin-top: 1px;
}

span.subBullets_selDisp {
	font-weight:normal;
}

a.lnk-icon {
	color: #1f4f82;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	margin: 0px 0px 0px 10px;
}

div.priceButton {
  padding-top: 35px;
	width: 100%;
	text-align:center;
}

div.priceButton a {
	color: #636973;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-weight:bold;
}

.slide_selector{
	color: #ffffff !important;
	font-size: 13px !important;
    font-weight: bold;
	padding: 2px !important;
	background: #636973;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #9297A6;
	-moz-box-shadow: 0 1px 1.5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 1.5px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
	width: 300px;
	line-height: 20px;
	margin-left: 329px !important;
}

div#viewDetails_selector0,
div#viewDetails_selector1,
div#viewDetails_selector2,
div#viewDetails_selector3,
div#viewDetails_selector4,
div#viewDetails_selector5, 
div#viewDetails_selector6,
div#viewDetails_selector7,
div#viewDetails_selector8,
div#viewDetails_selector9,
div#viewDetails_selector10,
div#viewDetails_selector11,
div#viewDetails_selector12 {
    margin-top: 20px !important;
    float:left;
    width: 125% !important;
    margin: auto;
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
	height: 0;
	overflow: hidden;
    background-color:#efefef;
    -webkit-border-radius:5px !important;
    -moz-border-radius:5px !important;
    border-radius:5px 5px 0px 0px !important;
    padding-left:0px !important;
}

.list-field {
vertical-align:top;
}

h5.viewDetailsHeader_selector {
	padding:20px 0px 0px 20px;
	color: #333333;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight:bold;
	margin:0px !important;
}

p.viewDetailsDeets_selector {
	color: #333333;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight:normal;
	padding-left:30px;
	background:transparent;
}

div.outterWrap_selDisp {
	padding-bottom:20px;
}

div.viewDetailsLeft_selector {
	width: 70% !important;
	float:left;
}

div.viewDetailsRight_selector {
	float:left;
}

.viewDetailsLinks_selector{
	margin: 0px !important;
	padding: 25px 0px 0px 30px !important;
	background-color:#efefef;
}

.viewDetailsLinks_selector a{
	width:100px;
	padding: 10px 0px 10px 0px;
	margin: 0px !important;
	vertical-align: middle;
	color: #4D799C;
	font-size: 11px;
	font-weight: bold;
	padding-left:30px;
	background-image:url(../../image/Icons/pdf-icon.png);
	background-repeat:no-repeat;
	background-position:left center;
}

/* @end */